<div class="card-panel">
  <div class="row">
    <div class="col s1">
      <i class="mdi-action-account-circle circle medium blue"></i>
    </div>
    <div class="col s5">
      <h6 class="title">Enquiry Details:</h6>

      <i class="mdi-communication-email"></i>&nbsp;&nbsp; Enquiry: <%= @enquiry.name %></br>
      <% if @itinerary.itinerary_template %>
        <i class="mdi-action-list"></i>&nbsp;&nbsp; Based on Template: <%=  @itinerary.itinerary_template.name %></br>
      <% end %>
    </div>
    <div class="col s4">
      <i class="mdi-action-account-circle"></i>&nbsp;&nbsp; Customer: <%= @enquiry.lead_customer.fullname_with_title %></br>
      <% if @enquiry.agent %>
        <i class="mdi-action-account-child"></i >&nbsp;&nbsp; Agent: <%= @enquiry.agent.supplier_name %></br>
      <% end %>
      <i class="mdi-communication-phone"></i>&nbsp;&nbsp; Contact Phone: <%=  @enquiry.customer_phone %></br>
      <i class="mdi-communication-email"></i>&nbsp;&nbsp; Contact Email: <%= @enquiry.customer_email %></br>
    </div>
    <div class="col s2">
    <br>
      <% if @itinerary.persisted? %>
        <a href=<%= edit_enquiry_path(@enquiry) %> ><button type="button" class="waves-effect waves-light btn grey darken-1">Edit Details</button></a>
      <% end %>
    </div>
  </div>
</div>