<div class="loading" style="display:none;">Loading...</div>

<div class="section">
  <div class="card-panel">
    <% if @itinerary.isLocked? %>
      <div class="card-panel teal">
        <span class="white-text">This Itinerary is Locked. Any changes to the itineary legs will not be saved  </span>
      </div>
    <% end %> 
    
    <%= form_for @itinerary, :html => {:multipart => true, :class => "itinerary_form col s12"} do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
  	  <%= f.hidden_field :user_id %>
  	  <%= f.hidden_field :status %>
  	  <%= f.hidden_field :enquiry_id %>
  	  <%= f.hidden_field :complete %>

      <%= render partial: 'dates_validation_message' %>
  	  
  	  <%= render partial: 'enquiry' %>

      <div class="row"><%= render partial: 'shared/material_textfield_cols12', locals: { field: "name", f: f } %></div>
      
      <div class="row">
        <div id="itinerary_destinations_select">
          <div class="form-group">
            <div class="col s6">
              <%= label_tag :destination_image, "Destination Image", class: "control-label"%>
              <%= select_tag :destination_image_id, content_tag(:option, 'Select one...', value: "") + options_from_collection_for_select(@destinations, "default_image_id", "name", selected: @itinerary.destination_image_id), name: "itinerary[destination_image_id]" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col s6">
              <%= f.label :bedding_type, "Bedding Type", class: "control-label"%>
              <%= f.select(:bedding_type, options_for_select(Itinerary.bedding_types.keys.map{|bt| [bt.humanize, bt]}, selected: f.object.bedding_type),{class: "type-itineraries"}) %>
          </div>
        </div>


      </div>
      
      <% if !@itinerary.isLocked? %>
        <div class="row">
          <%= render partial: 'shared/material_date_cols6', locals: { field: "start_date", f: f, name: "Start Date", value: @itinerary.start_date} %>

          <%= render partial: 'shared/material_textfield_cols6', locals: { field: 'flight_reference', f: f } %>

          <%= render partial: 'insert_template', locals: {f: f} %>
          <div class="input-field insert_template_cont input-field col s3" >
            <a id="lockItineraryBtn" class="waves-effect waves-light btn right deep-orange darken-1 tooltipped" 
            data-position="bottom" data-delay="50" data-tooltip="Lock Itinerary (will also save any changes)" 
            href="#">Lock Itinerary</a> 
          </div>      
          <%= render partial: 'copy_itinerary_button' %>
        </div>
      <% else %>  
        <div class="row">
          <%= render partial: 'shared/material_date_cols6', locals: { field: "start_date", f: f, name: "Start Date", value: @itinerary.start_date.try(:strftime, "%d/%m/%Y")} %>
          <div class="input-field input-field col s3" >
          </div>  
          <div class="input-field insert_template_cont input-field col s3" >
            <a id="unlockItineraryBtn" class="waves-effect waves-light btn right deep-orange darken-1 tooltipped unlockItineraryBtn" 
              data-position="bottom" data-delay="50" data-tooltip="Unlock Itinerary" 
              href="#">Unlock Itinerary</a> 
          </div>      
        </div>      
      <% end %> 
     
      <h4 class="header2">Trip Details 
        <span class="itinerary-infos-action-buttons">
          <a id="delete-itinerary-infos" class="waves-effect waves-light btn right deep-orange darken-1 tooltipped itinerary-info-margin" 
            data-position="bottom" data-delay="50" data-tooltip="Delete selected items">Delete</a>
          <a id="move-itinerary-infos" class="waves-effect waves-light btn right deep-purple darken-1 tooltipped itinerary-info-margin" 
            data-position="bottom" data-delay="50" data-tooltip="Move to position">Move</a>
          <div class="itinerary-info-position-select itinerary-info-margin">
            <%= label_tag :position_to, "", class: "control-label"%>
            <%= select_tag :position_to, options_for_select((1..@itinerary.itinerary_infos.size).to_a) %>
          </div>
        </span>
      </h4>

      <div class="row">
        <div class="col s2">
          <a id="select-all-itinerary-infos" class="waves-effect waves-light btn left grey lighten-2 itinerary-info-margin">Select All</a>
        </div>
      </div>
  
      <div id="itinerary_infos">
        <% if !@itinerary.isLocked? %>
        <% sortableClass = "sortable" %>  
        <% end %>
        
        <div class=<%=sortableClass%>>
      	  <%= f.fields_for :itinerary_infos, :html => {:class => "form-horizontal"}  do |i| %>
          	<% if @itinerary.isLocked? %>
              <%= render partial: 'itineraries/itinerary_locked_rows', locals: {f: i } %>
            <% else %>
        	    <%= render partial: 'itineraries/itinerary_infos', locals: {f: i } %>
        	  <% end %>
          <% end %>
          
          <div id="addNestedAboveHere"></div>
          
          <div class="links input-field col s12">
            <% if !@itinerary.isLocked? %>
              <%= link_to_add_association  f, :itinerary_infos, partial: 'itinerary_infos', 
                  class: "btn-floating btn-small waves-effect waves-light right blue" do %>
                <i class="mdi-hardware-keyboard-return" id='add_new_trip_detail'></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
        
        
     <div class="fixed-action-btn" style="bottom: 45px; right: 15px;">
        <a id="saveItineraryFabBtn" class="btn-floating btn-large waves-effect green tooltipped" 
        data-position="left" data-delay="50" data-tooltip="Save" >
          <i class="large mdi-content-save"></i>
        </a>
        <ul>
          <% if !@itinerary.isLocked? %>
          <li><a id="toggleShowEditItinerary" class="btn-floating waves-effect indigo tooltipped"
          data-position="left" data-delay="50" data-tooltip="Toggle more/less" 
          ><i class="mdi-navigation-unfold-less"></i></a></li>
           <li><a id="insertNumDaysItinerary" class="btn-floating waves-effect brown tooltipped modal-trigger"
          data-position="left" data-delay="50" data-tooltip="Adj. # days to selected"  href="#bump_dates_modal"
          ><i class="mdi-image-iso"></i></a></li>         
          <% end %>
        </ul>
      </div>      
  
      <div class="row">
        <div class="input-field col s12" style="display:none" >
          <%= f.submit buttontxt, class: "btn itinerary_submit_btn right"%>
        </div>
      </div>
    
      <%# if @itinerary.isLocked? %>
      <% if @itinerary.itinerary_infos.present? && @itinerary.start_date.present? && @itinerary.end_date.present? %>
        <div class="row">

          <div class="input-field col s2" >
            <a href="<%= itinerary_printItineraryCsv_path @itinerary, format: :csv %>"  class="input-field waves-effect waves-light btn left deep-purple darken-1 col" target="_blank" >Itinerary CSV</a>
          </div>
    
          <div class="input-field col s2" >
            <a href="<%= itinerary_printQuote_path @itinerary, format: :pdf %>"  class="input-field waves-effect waves-light btn left deep-purple darken-1 col" target="_blank" >View Quote Pdf</a>
          </div>
    
          <div class="input-field col s2" >
            <%= render partial: 'emailQuote_button' %>
          </div>
    
          <div class="input-field col s3">
            <%= link_to itinerary_printQuote_path(@itinerary, format: :pdf, confirmed: true),
              class: 'input-field waves-effect waves-light btn left deep-purple darken-1 col',
              target: '_blank' do %>
    
                View Confirmed PDF
    
            <% end if @itinerary.itinerary_price.present? %>
          </div>

          <div class="input-field col s3" >
            <%= render partial: 'emailQuote_button', locals: { confirmed: true } %>
          </div>
    
          <div class="input-field col s2">
            <%= render partial: 'pricingBtn'%>
          </div>
    
          <div class="input-field col s3" >
            <%= render partial: 'cancel_itinerary_button' %>
          </div>
          
          <div class='input-field col s3'>
            <%= link_to 'Booking History', booking_history_itinerary_path(params[:id]), class: "input-field waves-effect waves-light btn left deep-purple darken-1 col" %>
          </div>
          
          <div class='input-field col s3'>
            <%= link_to 'Supplier documents', generate_supplier_documents_itinerary_path, class: "input-field waves-effect waves-light btn left deep-purple darken-1 col" %>
          </div>

          <%= render partial: 'request_customer_updates_button' %>
          
        </div>
      <% end %>

      <%# end %>
      <br>
      <br>
      
      <div class="card-panel">
        <h4 class="header2">Inclusions/Exclusions/Notes</h4>
        <div class="row">
          <%= render partial: 'shared/material_textareafield_cols6', locals: { field: "includes", f: f, name: "Inclusions", length: "1000", ckeditor_field: true } %>
          <%= render partial: 'shared/material_textareafield_cols6', locals: { field: "excludes", f: f, name: "Exclusions", length: "1000", ckeditor_field: true } %>
        </div>
        
        <div class="row">
          <%= render partial: 'shared/material_textareafield_cols12', locals: { field: "notes", f: f, name: "Notes", length: "2000", ckeditor_field: true } %>
        </div>
      </div>


    <%# end %>
  
   <% end %>
  </div>

</div>

<div id="bump_dates_modal" class="modal">
  <div class="modal-content">
    <h6><i class="mdi-image-iso"></i>  Choose number of days to change (+/-)</h6>
    <br>
    <div class="row">
      <div class="input-field col s2">
        <%= text_field_tag :bump_days, "", class: "bumpdates", placeholder: "0" %>
        <label for="bump_days" class='active'>Number of Days</label>
      </div>   
    </div>
  </div>
  
  <div class="modal-footer">
    <a href="#!" id="bump_dates_modal_button" class="modal-action modal-close waves-effect green waves-lighten-3 btn-flat">Save</a>
  </div>  
</div>

<%= render partial: 'copy_itinerary_modal' %>
<!-- Email Quote Modal -->
<%= render partial: 'emailQuote_modal' %>
<!-- Email Confirmed Quote Modal -->
<%= render partial: 'emailQuote_modal', locals: { confirmed: true } %>
<%= render partial: 'request_customer_updates_modal' %>
