<div class="loading" style="display:none;">Loading...</div>

<div class="section">
  <div class="card-panel">
    
    <% if @itinerary.isLocked? %>
      <div class="card-panel teal">
        <span class="white-text">This Itinerary is Locked. Any changes to the itineary legs will not be saved  </span>
      </div>
    <% end %> 
    
    <%= form_for @itinerary, :html => {:multipart => true, :class => "itinerary_form col s12"} do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
  	  <%= f.hidden_field :user_id %>
  	  <%= f.hidden_field :status %>
  	  <%= f.hidden_field :enquiry_id %>
  	  <%= f.hidden_field :complete %>
  	  
  	  <%= render partial: 'enquiry'%>
  
      <div class="row"><%= render partial: 'shared/material_textfield_cols12', locals: { field: "name", f: f } %></div>
      
      <div class="row">
        <%= render partial: 'shared/material_textareafield_cols6', locals: { field: "includes", f: f, name: "Inclusions", length: "1000"} %>
        <%= render partial: 'shared/material_textareafield_cols6', locals: { field: "excludes", f: f, name: "Exclusions", length: "1000"} %>
      </div>
      
      <div class="row">
        <%= render partial: 'shared/material_textareafield_cols12', locals: { field: "notes", f: f, length: "2000"} %>
      </div>
      
      <div class="row">
      <%= f.fields_for :itinerary_default_image, @itinerary.itinerary_default_image do |t| %>
        <%= render partial: 'shared/image_field', locals: { imageHolder: @itinerary.itinerary_default_image, f: t, title: "Default Itinerary Image (recomended size 880px x 880px):" } %>
      <% end %>
      </div>
      
      <% if !@itinerary.isLocked? %>
        <div class="row">
          <%= render partial: 'shared/material_date_cols6', locals: { field: "start_date", f: f, name: "Start Date", value: @itinerary.start_date} %>
          <%= render partial: 'insert_template', locals: {f: f} %>
          <div class="input-field insert_template_cont input-field col s3" >
            <a id="lockItineraryBtn" class="waves-effect waves-light btn right deep-orange darken-1 tooltipped" 
            data-position="bottom" data-delay="50" data-tooltip="Lock Itinerary (will also save any changes)" 
            href="#">Lock Itinerary</a> 
          </div>      
        </div>
      <% else %>  
        <div class="row">
          <%= render partial: 'shared/material_date_cols6', locals: { field: "start_date", f: f, name: "Start Date", value: @itinerary.start_date} %>
          <div class="input-field input-field col s3" >
          </div>  
          <div class="input-field insert_template_cont input-field col s3" >
            <a id="unlockItineraryBtn" class="waves-effect waves-light btn right deep-orange darken-1 tooltipped unlockItineraryBtn" 
              data-position="bottom" data-delay="50" data-tooltip="Unlock Itinerary" 
              href="#">Unlock Itinerary</a> 
          </div>      
        </div>      
      <% end %> 
     
      <h4 class="header2">Trip Details</h4>
  
      <div id="itinerary_infos">
        <% if !@itinerary.isLocked? %>
        <% sortableClass = "sortable" %>  
        <% end %>
        
        <div class=<%=sortableClass%>>
      	  <%= f.fields_for :itinerary_infos, :html => {:class => "form-horizontal"}  do |i| %>
          	<% if @itinerary.isLocked? %>
              <%= render partial: 'itineraries/itinerary_locked_rows', locals: {f: i } %>
            <% else %>
        	    <%= render partial: 'itineraries/itinerary_infos', locals: {f: i } %>
        	  <% end %>
          <% end %>
          
          <div id="addNestedAboveHere"></div>
          
          <div class="links input-field col s1">
            <% if !@itinerary.isLocked? %>
              <%= link_to_add_association  f, :itinerary_infos, partial: 'itinerary_infos', 
                  class: "btn-floating btn-small waves-effect waves-light green" do %>
                <i class="mdi-content-add"></i>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
        
        
     <div class="fixed-action-btn" style="bottom: 45px; right: 15px;">
        <a id="saveItineraryFabBtn" class="btn-floating btn-large waves-effect green tooltipped" 
        data-position="left" data-delay="50" data-tooltip="Save" >
          <i class="large mdi-content-save"></i>
        </a>
        <ul>
          <% if !@itinerary.isLocked? %>
          <li><a id="toggleShowEditItinerary" class="btn-floating waves-effect indigo tooltipped"
          data-position="left" data-delay="50" data-tooltip="Toggle more/less" 
          ><i class="mdi-navigation-unfold-less"></i></a></li>
           <li><a id="insertNumDaysItinerary" class="btn-floating waves-effect brown tooltipped modal-trigger"
          data-position="left" data-delay="50" data-tooltip="Adj. # days to selected"  href="#bump_dates_modal"
          ><i class="mdi-image-iso"></i></a></li>         
          <% end %>
        </ul>
      </div>      
  
      <div class="row">
        <div class="input-field col s12" style="display:none" >
          <%= f.submit buttontxt, class: "btn itinerary_submit_btn right"%>
        </div>
      </div>
  
    <% end %>
    
<%# if @itinerary.isLocked? %>
<div class="row">
  <div class="input-field col s3 offset-s1" >
  <a href="<%= itinerary_printQuote_path @itinerary, format: :pdf %>"  class="waves-effect waves-light btn left deep-purple darken-1" target="_blank" >View Quote Pdf</a>
  </div>
  
  <div class="input-field col s3 offset-s4" >
    <%= render partial: 'pricingBtn'%>
  </div>               
</div>
<%# end %>
  
  </div>
</div>

<div id="bump_dates_modal" class="modal">
  <div class="modal-content">
    <h6><i class="mdi-image-iso"></i>  Choose number of days to change (+/-)</h6>
    <br>
    <div class="row">
      <div class="input-field col s2">
        <%= text_field_tag :bump_days, "", class: "bumpdates", placeholder: "0" %>
        <label for="bump_days" class='active'>Number of Days</label>
      </div>   
    </div>
  </div>
  
  <div class="modal-footer">
    <a href="#!" id="bump_dates_modal_button" class="modal-action modal-close waves-effect green waves-lighten-3 btn-flat">Save</a>
  </div>  
</div>
