<div class="input-field insert_template_cont input-field col s3" >
<a id="insertTemplateBtn" class="waves-effect waves-light btn right deep-purple darken-1 modal-trigger tooltipped" 
data-position="bottom" data-delay="50" data-tooltip="Insert a new template" 
href="#insert_modal_<%=f.object.id%>">Insert Template</a> 
</div>
 
  <!-- Modal Structure -->
  <div id="insert_modal_<%=f.object.id%>" class="modal modal-fixed-footer white">
    <div class="modal-content">
      <h4><i class="mdi-image-add-to-photos"></i>  Insert Template</h4>

      <ul>
        <li>
          <div class="row">
            <div id="insert_template_container" class="col s12">

              <div class="row">
                <div class="input-field col s2">
                  <%= select_tag(:insert_position, options_for_select(Array(0..f.object.itinerary_infos.count)),{class: "position-insert-itineraries browser-default"}) %>
                  <label for="insert_position" class='active'>Insert Position</label>
                </div>   
              </div>
              
              <div class="row">
                <div class="input-field col s10">
                  <%= select_tag(:itinerary_template_insert, options_for_select(""),{class: "select2-itinerary_templates browser-default", :style => "width:450px"}) %>
                  <%= f.label :itinerary_template_insert, "Itinerary Template",  class: 'active' %>
                </div> 
              </div>  
               
              <% f.object.itinerary_infos.count.times do %>
              <p><br></p>
              <% end %>
            </div>  
          </div>
        </li> 
      </ul>
      
    </div>

    <div class="modal-footer">
      <a href="#" id="insert_template_OKk" class="insert_template_OK modal-action modal-close waves-effect waves-green  green lighten-1 btn-flat">Insert</a>
    </div>
  </div>
              