<% if f.object.get_product_type == "Cruise" %>
  <% displayProductDetails = 'display:none;' %>
<% else %>
  <% displayCruiseDetails = 'display:none;' %>
<% end %>  
<% if f.object.get_product_type != "Cruise" && f.object.get_product_type != "Hotel" %>
  <% displayRoomDetails = 'display:none;' %>
<% end %>

  <div class ="row itinerary_info_top_row_edit">
    
    <%= f.hidden_field :position, :value => f.object.position, class: "iti_position_field" %>
    
    <div class="input-field col s1 valign-wrapper">
      <i class="mdi-editor-format-line-spacing small grey-text"></i>
      <h6 class="grey-text valign iti_postion_number"></h6>
    </div>
    
    
    <div class="input-field col s1">
        <%= f.date_field :start_date, class:"datepicker start_leg_itinerary", :"data-value" =>  f.object.start_date %>
        <%#= f.date_field :start_date, class:"start-date_field", :"data-value" =>  f.object.start_date, readonly: true %>
        <%= f.label :start_date, class: 'active' %>
    </div>
    
    <div class="input-field col s1">
        <%= f.date_field :end_date, class:"datepicker end_leg_itinerary", :"data-value" =>  f.object.end_date %>
        <%#= f.date_field :end_date, class:"end-date_field", :"data-value" =>  f.object.end_date, readonly: true %>
        <%= f.label :end_date, class: 'active' %>
    </div>
        
        
    <!--<div class="input-field col s2">
      <%#= select_tag(:country, options_for_select([[f.object.get_product_country, f.object.get_product_country_id]],f.object.get_product_country_id),{class: "select2-countries browser-default"}) %>
      <label for="country" class="active">Country</label>
    </div>-->      

    <div class="input-field col s1">
      <%= select_tag(:country, options_from_collection_for_select(select_countries,:id, :name, f.object.get_product_country_id),{class: "select2-countries-noajax browser-default", include_blank: true}) %>
      <label for="country" class="active">Country</label>
    </div>  
    
    <div class="input-field col s1">
      <%= select_tag(:destination, options_for_select([[f.object.get_product_destination, f.object.get_product_destination_id]],f.object.get_product_destination_id),{class: "select2-destinations browser-default"}) %>
      <label for="destination" class="active">Destination</label>
    </div>
    
    <div class="input-field col s1">
      <%= select_tag(:type, options_for_select(["Type", "Cruise", "Flight", "Hotel", "Tour", "Transfer"], disabled: "Type", selected: f.object.get_product_type || "Type"),{class: "type-itineraries"}) %>
      <label for="type">Type</label>
    </div>   
    
    <div class="input-field col s2">
      <%= f.select(:product_id, options_for_select([[f.object.get_product_name, f.object.product_id]],f.object.product_id),{},{class: "select2-products browser-default"}) %>
      <label for="product_id" class="active">Product</label>
    </div>
    
    <div class="input-field col s1">
      <%= f.select(:supplier_id, options_from_collection_for_select(f.object.select_suppliers,:id, :supplier_name, f.object.supplier_id),{},{class: "select2-suppliers-noajax browser-default", include_blank: true}) %>
      <label for="supplier_id" class="active">Supplier</label>
    </div>            
        
    <div class="input-field col s1">
      <div class="room_type_cont" style=<%= displayRoomDetails %> >
        <%= f.select(:room_type, options_from_collection_for_select(f.object.select_room_types,:id, :name, f.object.room_type),{},{class: "select2-room-types-noajax browser-default", include_blank: true}) %>
        <label for="room_type" class="active">Room Type</label>
      </div>
    </div>     
    
    <div class="input-field col s1">
      <%= render partial: 'meal_options', locals: { product: f.object.get_product_type, id: f.object.id || f.object.object_id, f: f } %>
    </div>
    
    <div class="input-field col s1">
      <% if !@itinerary || !@itinerary.isLocked? %>
        <%= link_to_remove_association  f, { class: "btn-floating btn-small waves-effect waves-light red left"} do %>
          <i class="mdi-content-clear"></i>
        <% end %>
      <% end %>
    </div>   
  </div>
