<% if f.object.get_product_type == "Cruise" %>
  <% displayProductDetails = 'display:none;' %>
<% else %>
  <% displayCruiseDetails = 'display:none;' %>
<% end %>  
<% if f.object.get_product_type != "Cruise" && f.object.get_product_type != "Hotel" %>
  <% displayRoomDetails = 'display:none;' %>
<% end %>


<div class="nested-fields sortable-item">
  <div class ="card-panel itinerary-infos">
    <div class="field">
    
      <%= render partial: 'itineraries/itinerary_info_top_row', locals: { f: f} %>
        
      <%= render partial: 'itinerary_info_show_row', locals: { f: f, show: false } %>  
      
      <div class="row itinerary_info_bottom_row_edit" style="display:none">
        
        <div class="input-field col s1 offset-s6">
        </div>
        
        <%= render partial: 'itineraries/controls/comments', locals: {f: f, info: f.object} %>
        
        <div class="product_details_cont col s1 center-align" style=<%=displayProductDetails%> >
          <% if f.object.get_product_type != "Cruise" %>
            <% @info = f.object %>
            <%= render template: 'itinerary_templates/product_info', locals:{f: f} %>
          <% end %>        
        </div>        
        
        <div class="cruise-info col s1 center-align" style=<%=displayCruiseDetails%>>
          <% if f.object.get_product_type == "Cruise" %>
            <% @cruise_legs = f.object.product.cruise_days %>
            <% @cruise = f.object.product %>
            <%= render template: 'itinerary_templates/cruise_legs' %>
          <% end %>
        </div>
        
        <div class="input-field col s1 offset-s2">
          <% if !@itinerary || !@itinerary.isLocked? %>
            <%= link_to_remove_association  f, { class: "btn-floating btn-small waves-effect waves-light red right"} do %>
              <i class="mdi-content-clear"></i>
            <% end %>
          <% end %>
        </div>

      </div>  
    
    </div>

  </div>
</div>
