<% if f.object.get_product_type == "Cruise" %>
  <% displayProductDetails = 'display:none;' %>
<% else %>
  <% displayCruiseDetails = 'display:none;' %>
<% end %>  
<% if f.object.get_product_type != "Cruise" && f.object.get_product_type != "Hotel" %>
  <% displayRoomDetails = 'display:none;' %>
<% end %>


<div class="nested-fields sortable-item">
  <div class ="card-panel itinerary-infos">
    <div class="field">
    
      <%= render partial: 'itineraries/itinerary_info_top_row', locals: { f: f} %>
        
      <%= render partial: 'itinerary_info_show_row', locals: { f: f, show: false } %>  
      
      <div class="row itinerary_info_bottom_row_edit" style="display:none">
        
        <div class="col s4">
          <p>
            <input type="checkbox" class="filled-in muli-select-itinerary" id="muli-select-<%=f.object.id  || f.object.object_id %>" />
            <label for="muli-select-<%=f.object.id|| f.object.object_id %>">Bulk Adj. Dates</label>
          </p>          
        </div>
        
        <%= render partial: 'itinerary_templates/comments', locals: {f: f, info: f.object} %>
        
        <div class="input-field product_details_cont col s1 center-align" style=<%=displayProductDetails%> >
          <% if f.object.get_product_type != "Cruise" %>
            <% @info = f.object %>
            <%= render template: 'itinerary_templates/product_info' %>
          <% end %>        
        </div>        
        
        <div class="cruise-info input-field col s1 center-align" style=<%=displayCruiseDetails%>>
          <% if f.object.get_product_type == "Cruise" %>
            <% @cruise_legs = f.object.product.cruise_days %>
            <% @cruise = f.object.product %>
            <%= render template: 'itinerary_templates/cruise_legs' %>
          <% end %>
        </div>
        
        <div class="input-field col s1">
          <% if !@itinerary.isLocked? %>
            <a class="insertItineraryBtn tooltipped btn-floating btn-small left waves-effect waves-light blue" 
               data-position="bottom" data-delay="50" data-tooltip="Insert below">
              <i class="mdi-hardware-keyboard-return"></i>
            </a>
          <% end %>  
        </div>

      </div>  
    
    </div>

  </div>
</div>
