
<div class="row">

  <%= form_for @itinerary, :html => {:multipart => true, :class => "col s12"} do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= render partial: 'shared/error_messages', collection: f.object.customers, as: :object %>

    <div class ="card-panel">

      <div id="customers">
      
        <h4 class="header2">Customer Details</h4>
        
        <%= f.fields_for :customers, :html => {:class => "col s12"}  do |c| %>
          <div class="row">
            <%= render partial: 'enquiries/customer', locals: { f: c, main_object: @itinerary } %>
          </div>
        <% end %>
        
        <div class="links">
          <div class="row">
            <div class="offset-s10 col s2">
              <%= link_to_add_association f, :customers, { partial: 'enquiries/customer', render_options: { locals: { main_object: @itinerary } }, class: "btn-floating btn-small waves-effect waves-light green right"} do %>
                <i class="mdi-content-add"></i>
              <% end %>
              <a class="btn-floating btn-small waves-effect waves-light blue modal-trigger-custsearch right" href="#cust_search_modal">
                <i class="mdi-action-account-circle"></i>
              </a>
            </div>
          </div>
        </div>
        
      </div>
      
      <div class="row">
        <%= render partial: 'shared/material_textfield_cols6', locals: { field: "num_passengers", f: f, name: "Number of Passengers"} %>
      </div>
      
      <div class="row">
        <div class="input-field col s6">
          <%= f.select(:agent_id, options_for_select([[f.object.agent_name, f.object.agent_id]],f.object.agent_id),{},{class: "select2-agents browser-default"}) %>
          <%= f.label :agent_id, "Agent",  class: 'active' %>
        </div>
      </div>
      
      <div class="row">
        <% if current_user.management? %>
          <div class="input-field col s6">
            <%= f.select(:user_id, options_for_select([[f.object.user.name, f.object.user_id]],f.object.user_id),{},{class: "select2-users browser-default"}) %>
            <%= f.label :user_id, "Assigned To",  class: 'active' %>
          </div>
        <% else %>
          <%= render partial: 'shared/material_readonly', locals: { col: "s6", label: "Assigned To", value: f.object.user_id, class_for_input: ""  } %>
          <%= f.hidden_field :user_id, value: f.object.user_id %>
        <% end %>
      </div>
      
      <div class="row">
        <div class="input-field col s6">
          <%= f.select :status, options_for_select(Itinerary::AVAILABLE_STATUSES, f.object.status ) %>
        </div>
      </div>      
      
    </div>

    <div class="row">
      <div class="input-field col s12">
          <%= button_tag( :class => "btn waves-effect waves-light right") do %>
            Update<i class="mdi-content-send right"></i>
          <% end %>
      </div>
    </div>
   
  <% end %>
     
  <div id="cust_search_modal" class="modal">
    <div class="modal-content">
      <h4>Search for customer</h4>
       <div class="section">
        <div class="row">
          <div class="col s12 m12 l12">
            <div class ="card-panel">
            <div class="row">
              <div class="input-field col s6">
                <%= select_tag(:customer_id, options_for_select([[]],''),{class: "select2-customers browser-default", :style => "width:350px"}) %>
                <label for="customer_id" class="active">Customers</label>
              </div>
              
               <%= button_tag( :class => "btn cyan waves-effect waves-light right", id: "customer_search_enquiry" ) do %>
                 Select Customer
              <% end %>
              
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
