<% provide(:title, "Itinerary") %>

<div class="section">
  <div class="card-panel">
  <%= form_for @itinerary, :html => {:multipart => true, :class => "col s12"} do |f| %>

  <%= render 'shared/error_messages', object: f.object %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :status %>
  <%= f.hidden_field :enquiry_id %>

  <%= render partial: 'enquiry'%>
  
  
  <div class="row"><%= render partial: 'shared/material_textfield_cols12', locals: { field: "name", f: f } %></div>
  <div class="row">
    <%= render partial: 'shared/material_date_cols6', locals: { field: "start_date", f: f, name: "Start Date", value: @itinerary.start_date} %>
    <%= render partial: 'shared/material_textfield_cols6', locals: { field: "num_passengers", f: f, name: "Number of Passengers"} %>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <h6 class="header">Choose an Itinerary Template</h6>
      <%= f.select(:itinerary_template_id, options_for_select([[f.object.template_name, f.object.itinerary_template_id]],f.object.itinerary_template_id),{},{class: "select2-itinerary_templates browser-default"}) %>
      <%#= f.label :itinerary_template_id, "Itinerary Template",  class: 'active' %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
     <%= f.submit "Create Itinerary", class: "btn right" %>
    </div>
  </div>
    
  <% end %>
  </div>
</div>
