<% if !enquiry.reminder.nil?
      dateStr = enquiry.reminder.to_formatted_s(:rfc822)
      if enquiry.reminder.past?
        colorStr = "red-text text-darken-2  red lighten-5"
      else
        colorStr = "green-text text-darken-2"
      end
  else
    dateStr = "No reminder"
    colorStr = "label label-default"
  end
%>


<!-- Start card -->
<div class="col s4">
<div class="card-panel">
  <a href=<%= edit_enquiry_path enquiry %> >
  <button class="btn btn-info pull-right"  data-toggle="modal"> <i class="fa fa-cog"></i> </button></a>
  <h6><%= enquiry.dasboard_customer_name %></h6>
  <p> <span><i class="fa fa-envelope"></i></span><span class="body"> <%= mail_to(enquiry.first_customer.email, enquiry.first_customer.email, bcc: enquiry.first_customer.create_email_link) unless enquiry.first_customer.nil? %> </span></p>
  <p> <span><i class="fa fa-tag"></i> </span><span class="body"> <%= enquiry.source %></span></p>
  <p> <span><i class="fa fa-map-marker"> </i> </span><span class="body"> <%= enquiry.name %></span></p>
  <p> <span><i class="fa fa-bell"> </i> </span><span class="<%=colorStr%>"> <%=dateStr%></span> </p>
  <p> <span><i class="fa fa-money"> </i> </span><span class="body"> <%= number_to_currency(enquiry.amount, precision: 0) %></span></p>
</div>
</div>
<!-- End card -->
