
<div class="section">   
  <%= form_tag(formPath, multipart: true) do %>
    <%= hidden_field_tag :type, '', value: productType %>
    <%= hidden_field_tag :run_live, '', value: "false" %>
    <%= submit_tag submitTag, class: "btn-large importBtn right" %>
    <div class="row">   
      <div class="file-field input-field">
        <div class="col s6 offset-s1">
          <input class="file-path validate input-field" type="text"/>
        </div>
        <div class="waves-effect waves-light btn"><span>Select File</span> 
        <%= file_field_tag :import_file, class: "file-path validate" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
    