<% provide(:title, @user.name + " enquiries" ) %>
<% openStr = "<div class='row'>".html_safe %>
<% closeStr = "</div>".html_safe %>
<% int = 0 %>

<div class="section">
  <div class="left">
    <h5><%= Date.today.to_formatted_s(:rfc822)  %></h5>
    
    <% if params[:remindersOnly] == "y" %>
    <h6>Enquiries with reminder dates today or in the past: </h6>
    <% end %>
  </div>

  <%= render partial: 'dash_view_btns' %>
</div>

<div class="divider"></div>

<div class="section">
  <div class='row'>
    <% if @assigned_enquiries.any? %>
      <%  @assigned_enquiries.each do |enquiry| %>
        <%  if (int > 0) && (int % 3 == 0) %>
          <%=  closeStr %>
          <%=  openStr %>
        <% end %>
      
        <%= render partial: 'dashboard_enquiry', locals: { enquiry: enquiry } %>
        <% int = int + 1 %>
      
      <% end %>
    <% else %>
        <h3>No Enquiries</h3>
    <% end %>
  </div>
  
    
  <ul class="pagination pull-right">
    <%= paginate  @assigned_enquiries, :container => false %>
  </ul>
  <div class="clearfix"></div>
</div>


<%#= render template: 'users/show' %>