<% provide(:title, @user.name + " Dashboard" ) %>
<% openStr = "<div class='container-fluid'><div class='row-fluid'>".html_safe %>
<% closeStr = "</div></div>".html_safe %>
<% int = 0 %>


<h1>My Dashboard &nbsp;<small> <%= Date.today.to_formatted_s(:rfc822)  %></small></h1>
<%= render partial: 'dash_view_btns' %>

  <div class="container-fluid">
    <div class="row-fluid"> 
              
      <p><strong>Create new <%= link_to "Enquiry", new_enquiry_path %></strong></p>
      <ul class="users">
        <%= render @assigned_enquiries  %>
      </ul>

    </div>
  </div>
  <ul class="pagination pull-right">
    <%= will_paginate  @assigned_enquiries, :container => false %>
  </ul>

<%#= render template: 'users/show' %>