<% provide(:title, 'Import') %>
<div class="loading">Loading...</div>
<div class="section">

  <ul class="list-of-actions">
      <p><strong>Files should be imported in the order listed below.</strong> This is to allow linking of data through subsequent file loads.</p>
      <p>Imports can be either an csv or xlsx file. </p>
      <p>If a record already exists (matched by name) the import of that record will be ignored. </p>
    <div class="divider"></div>  
    <li>
	    <h4>Countries</h4> 
      File should contain a header, and rows with the following fields:
      <ul>
        <li>- <strong>Country</strong> (mandatory)</li>
      </ul>
      <%= render partial: "form_import", locals: { formPath: '/import_countries', submitTag: "Import Countries", productType: "" } %>
    </li>
    <div class="divider"></div>
    <li>
	    <h4>Destinations</h4> 
        File should contain a header and rows with the following fields:
        <ul>
            <li>- <strong>Destination</strong> (mandatory)</li>
            <li>- <strong>Country</strong> (If existing Country present in application it will be matched by country name and linked, otherwise this field will be ignored) </li>
        </ul>
        <%= render partial: "form_import", locals: { formPath: '/import_destinations', submitTag: "Import Destinations", productType: "" } %>
    </li>
    <div class="divider"></div>
    <li>
	    <h4>Suppliers</h4> 
	      Note: Record will be ignored if it contains the same email or name as an existing Supplier. 
        File should contain a header with optional rows of the following fields:
        <ul>
            <li>- <strong>ID</strong> (if updating existing records - can be left blank for new records)</li>
            <li>- <strong>SupplierName</strong> (mandatory)</li>
            <li>- <strong>AddressLine1</strong></li>
            <li>- <strong>AddressLine2</strong></li>
            <li>- <strong>Suburb</strong></li>
            <li>- <strong>Country</strong></li>
            <li>- <strong>Postcode</strong></li>
            <li>- <strong>ContactName</strong></li>
            <li>- <strong>PhoneNo</strong></li>
            <li>- <strong>EmergencyPh</strong></li>
            <li>- <strong>EmailAddress</strong></li>
            <li>- <strong>Currency</strong> (Must be a three letter currency code matching ISO country codes) </li>
        </ul>
        <%= render partial: "form_import", locals: { formPath: '/import_suppliers', submitTag: "Import Suppliers", productType: "" } %>
    </li>
    <div class="divider"></div>
    <h3 class="text-center">Products</h3>
    <div class="divider"></div>
    <li>
	    <h4>Transfers</h4> 
	      Note:  Imported records will only be ignored if there is an existing match present on Name, Destination & Country (as opposed to just name as with other products)  
        File should contain a header and rows with the following optional fields:
        <ul>
            <li>- <strong>ID</strong> (if updating existing records - can be left blank for new records)</li>
            <li>- <strong>Name</strong> (mandatory)</li>
            <li>- <strong>Description</strong></li>
            <li>- <strong>Destination</strong> (If existing Destination present in application it will be matched by destination name and linked, otherwise this field will be ignored)</li>
            <li>- <strong>Country</strong>  (If existing Country present in application it will be matched by country name and linked, otherwise this field will be ignored) </li>    
            <li>- <strong>Supplier</strong> (If existing Supplier present in application it will be matched by supplier name and linked, otherwise this field will be ignored)</li>
            <li>- <strong>ImageName</strong> (If using Dropbox integration this field should be set with name of file in Dropbox)</li>
        </ul>
        
        <%= render partial: "form_import", locals: { formPath: '/import_products', submitTag: "Import Transfers", productType: "Transfer" } %>

    </li>
    <div class="divider"></div>
    <li>
	    <h4>Flights</h4> 
        File should contain a header and rows with the folling fields:
        <ul>
            <li>- <strong>ID</strong> (if updating existing records - can be left blank for new records)</li>
            <li>- <strong>Name</strong> (mandatory)</li>
            <li>- <strong>Description</strong></li>
            <li>- <strong>Destination</strong> (If existing Destination present in application it will be matched by destination name and linked, otherwise this field will be ignored)</li>
            <li>- <strong>Country</strong>  (If existing Country present in application it will be matched by country name and linked, otherwise this field will be ignored) </li>    
            <li>- <strong>Supplier</strong> (If existing Supplier present in application it will be matched by supplier name and linked, otherwise this field will be ignored)</li>
            <li>- <strong>ImageName</strong> (If using Dropbox integration this field should be set with name of file in Dropbox)</li>
        </ul>
        
        <%= render partial: "form_import", locals: { formPath: '/import_products', submitTag: "Import Flights", productType: "Flight" } %>

    </li>
    <div class="divider"></div>
        <li>
	    <h4>Tours</h4> 
        File should contain a header and rows with the folling fields:
        <ul>
            <li>- <strong>ID</strong> (if updating existing records - can be left blank for new records)</li>
            <li>- <strong>Name</strong> (mandatory)</li>
            <li>- <strong>Description</strong></li>
            <li>- <strong>Destination</strong> (If existing Destination present in application it will be matched by destination name and linked, otherwise this field will be ignored)</li>
            <li>- <strong>Country</strong>  (If existing Country present in application it will be matched by country name and linked, otherwise this field will be ignored) </li>    
            <li>- <strong>Supplier</strong> (If existing Supplier present in application it will be matched by supplier name and linked, otherwise this field will be ignored)</li>
            <li>- <strong>ImageName</strong> (If using Dropbox integration this field should be set with name of file in Dropbox)</li>
        </ul>
        
        <%= render partial: "form_import", locals: { formPath: '/import_products', submitTag: "Import Tours", productType: "Tour" } %>

    </li>
    <div class="divider"></div>
        <li>
	    <h4>Hotels</h4> 
        File should contain a header and rows with the folling fields:
        <ul>
            <li>- <strong>ID</strong> (if updating existing records - can be left blank for new records)</li>
            <li>- <strong>Name</strong> (mandatory)</li>
            <li>- <strong>Description</strong></li>
            <li>- <strong>Destination</strong> (If existing Destination present in application it will be matched by destination name and linked, otherwise this field will be ignored)</li>
            <li>- <strong>Country</strong>  (If existing Country present in application it will be matched by country name and linked, otherwise this field will be ignored) </li>    
            <li>- <strong>Supplier</strong> (If existing Supplier present in application it will be matched by supplier name and linked, otherwise this field will be ignored)</li>
            <li>- <strong>ImageName</strong> (If using Dropbox integration this field should be set with name of file in Dropbox)</li>
        </ul>
        
        <%= render partial: "form_import", locals: { formPath: '/import_products', submitTag: "Import Hotels", productType: "Hotel" } %>

    </li>
    <div class="divider"></div>
        <li>
	    <h4>Cruises</h4> 
        File should contain a header and rows with the folling fields:
        <ul>
            <li>- <strong>ID</strong> (if updating existing records - can be left blank for new records)</li>
            <li>- <strong>Name</strong> (mandatory)</li>
            <li>- <strong>Description</strong></li>
            <li>- <strong>Destination</strong> (If existing Destination present in application it will be matched by destination name and linked, otherwise this field will be ignored)</li>
            <li>- <strong>Country</strong>  (If existing Country present in application it will be matched by country name and linked, otherwise this field will be ignored) </li>    
            <li>- <strong>Supplier</strong> (If existing Supplier present in application it will be matched by supplier name and linked, otherwise this field will be ignored)</li>
            <li>- <strong>ImageName</strong> (If using Dropbox integration this field should be set with name of file in Dropbox)</li>
        </ul>
        
        <%= render partial: "form_import", locals: { formPath: '/import_products', submitTag: "Import Cruises", productType: "Cruise" } %>

    </li>
    <div class="divider"></div>
  </ul>
</div>