
<div class="section">
  <div class="card-panel">
  <%= form_for @product.becomes(Product), :url => formpath, :html => {:multipart => true, :class => "col s12"} do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.hidden_field :type, :value => f.object.type  %>
  
    <div class="row"><%= render partial: 'shared/material_textfield_cols12', locals: { field: "name", f: f } %></div>
    
    <div class="row">
      <div class="input-field col s6">
        <%= f.select(:country_id, options_for_select([[f.object.country_name, f.object.country_id]],f.object.country_id),{},{class: "select2-countries browser-default"}) %>
        <%= f.label :country_id, "Country",  class: 'active' %>
      </div>
    
      <div class="input-field col s6">
        <%= f.select(:destination_id, options_for_select([[f.object.destination_name, f.object.destination_id]],f.object.destination_id),{},{class: "select2-destinations browser-default"}) %>
        <%= f.label :destination_id, "Destination",  class: 'active' %>
      </div>
    </div>
      
    <div class="row">
      <div class="input-field col s6">
        <%= f.select(:supplier_id, options_for_select([[f.object.supplierName, f.object.supplier_id]],f.object.supplier_id),{},{class: "select2-suppliers browser-default"}) %>
        <%= f.label :supplier_id, "Supplier",  class: 'active' %>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <%= f.text_area :description, class: "materialize-textarea", length: "120" %>
        <%= f.label :description %>
      </div>
    </div>
    
    <div class="file-field input-field col s12">
      <input class="file-path validate" type="text"/>
      <div class="btn"><span>File</span>     
       <%= f.file_field :image, class: "file-path validate" %>
       <%= f.hidden_field :image_cache %>
      </div>
    </div>    
    
    <%= image_tag(@product.image_url(:thumb)) if @product.image? %>
    
    <div class="row">
      <div class="input-field col s12">
       <%= f.submit buttontxt, class: "btn" %>
      </div>
    </div>
  <% end %>
  </div>
</div>
