

    <%= form_for @product.becomes(Product), :url => formpath, :html => {:multipart => true, :class => "form-horizontal"} do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.hidden_field :type, :value => params[:type] %>
    
      <div class="row"><%= render partial: 'shared/material_textfield_cols12', locals: { field: "name", f: f } %></div>
      <div class="row"><%= render partial: 'shared/material_textfield_cols12', locals: { field: "country", f: f } %></div>
      <div class="row"><%= render partial: 'shared/material_textfield_cols12', locals: { field: "city", f: f } %></div>
      
      
      <div class="row">
        <div class="input-field col s12">
          <%= f.hidden_field(:supplier_id, value: @product.supplier_id, id: 'sup_select', class: 'select2 ajax', style: 'width: 100%;', data: { source: suppliersearch_suppliers_path, placeholder: 'Search for a name' } ) %>
          <%= f.label :supplier_id, "Supplier", class: "active" %>
        </div>
      </div>
      
      
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_area :description, class: "materialize-textarea", length: "120" %>
          <%= f.label :description %>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s4">
          <%= f.label :price_single %>
          <%= f.number_field :price_single, class: 'form-control', step: 0.01 %>
        </div>
        
        <div class="input-field col s4">
          <%= f.label :price_double %>
          <%= f.number_field :price_double, class: 'form-control', step: 0.01 %>
        </div>
        
        <div class="input-field col s4">
          <%= f.label :price_tripple %>
          <%= f.number_field :price_tripple, class: 'form-control', step: 0.01 %>
        </div>
      </div>
      

      
      <div class="row">
        <div class="input-field col s12">
         <%= f.submit buttontxt, class: "btn" %>
        </div>
      </div>
    <% end %>

