
<div class="nested-fields">
<div class ="card-panel">
  
  <%= f.hidden_field :type, :value => "Room" %>

  <div class ="row">
    <div class="field">
      <%#= render partial: 'shared/material_textfield_cols6', locals: { field: "name", f: f } %>
      <%= render partial: 'shared/material_textfield_cols5', locals: { field: "room_type", f: f } %>
    </div>
    <div class="input-field col s1 offset-s6">
      <%= link_to_remove_association  f, { class: "btn-floating btn-small waves-effect waves-light red right"} do %>
                    <i class="mdi-content-clear"></i>
      <% end %>
    </div>    
  </div>
  
  <div class="row">
    <div class="field">
      <div class="input-field col s12">
        <%= f.text_area :description, class: "materialize-textarea" %>
        <%= f.label :description %>
      </div>
    </div>
  </div>
  
  <% if @setting.use_dropbox %>
      <% !@setting.dropbox_default_path.blank? ? name = "Dropbox File Name (default path: #{@setting.dropbox_default_path} )" : name = "Dropbox File Name" %>
      <div class="row">
        <div class="field">
          <%= render partial: 'shared/material_textfield_cols6', locals: { field: "remote_url", f: f, name: name } %>
          <div class="input-field col offset-s2 s4">
          <%= image_tag(f.object.get_dropbox_image_link, :class => "product_image_mini") %>
          </div>
        </div>
      </div>

    <% else %>
     <div class="row">
      <div class="file-field input-field col s6"><div class="field">
        <input class="file-path validate" type="text"/>
        <div class="btn"><span>Image</span>
         <%= f.file_field :image, class: "file-path validate" %>
         <%= f.hidden_field :image_cache %>
        </div>
      </div></div></div>
    
      <%= image_tag(@product.image_url(:thumb), :class => "product_image_mini") if @product.image? %>
  <% end %>
    
  
</div>
</div>