<% provide(:title, 'All ' + nice_products_name(params[:type])) %>

<div class="section">
  <a href=<%= get_new_path(params[:type]) %> ><button type="button" class="waves-effect waves-light btn">Create new <%= params[:type] %></button></a>
</div>

<div class="divider"></div>

<div class="section">
  <div id="table-datatables">
   <div class="row">
      <div class="col s12 m12 l12">
        <table id="data-table-simple" class="responsive-table display" >
          <thead>
            <tr>
              <th>Name</th>
              <th>Destination</th>
              <th>Country</th>
              <th>Supplier Name</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
            <% @products.each do |product| %>
            <tr>
              <td><%= product.name %></td>
              <td><%= product.destination_search %></td>
              <td><%= product.country_search %></td>
              <td><%= product.supplierName %></td>
              <td><%= link_to("<i class='mdi-image-edit'></i>".html_safe, get_edit_path(product), class: "btn-floating waves-effect waves-light blue")%></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>