<% provide(:title, 'Edit Destination') %>
<h1>Edit a Destination</h1>
<div class="row">
  <div class="span6 offset3">
    <%#= form_for @destination, :url => admin_destination_path(@destination), :html => {:multipart => true} do |f| %>
  <%= form_for [:admin, @destination], :html => {:multipart => true} do |f| %>
	    <%= render 'shared/error_messages', object: f.object %>
    
    <%= f.label :name %>
    <%= f.text_field :name %>
    
    <%= f.submit "Edit a Destination", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>