<% provide(:title, 'Create Destination') %>
<div class="row-fluid">
  <div>
    <h1 class="page-header">Create a Destination</h1>

    <%= render partial: 'admin/dashboard/tableheader', locals: { entity: Destination, state: "new" } %>

    <%#= form_for @destination, :url => admin_destination_path(@destination), :html => {:multipart => true} do |f| %>

  <%= form_for [:admin, @destination], :html => {:multipart => true, :class => "form-horizontal"} do |f| %>
	    <%= render 'shared/error_messages', object: f.object %>
    
    <%= f.label :name %>
    <%= f.text_field :name %>
    
    <%= f.submit "Create a Destination", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
