<% if !@xinvoice.nil? %>
  <div>
  <h3>Xero Invoice Details</h3><em>Last synced: <%= @xinvoice.last_sync.localtime %></em>
  </div>
  <div class="table-responsive"><table class="table table-striped">
    <tr><th>Invoice</th><th>Due Date</th><th>Total</th><th>Amount Due</th><th>Status</th></tr>
    <tbody>
    <tr><td><%= @xinvoice.invoice_number %> </td><td><%= @xinvoice.due_date %> </td>
      <td><%= number_to_currency(@xinvoice.total) %> </td><td><%= number_to_currency(@xinvoice.amount_due) %> </td>
      <td><%= @xinvoice.status %> </td></tr>
    </tbody></table>
  </div>
    
  <% if !@invoice.payments.empty? %>
    <div>
    <h4>Payments</h4>
    </div>
  
    <div class="table-responsive">
      <table class="table table-striped">
        <tr><th>Date</th><th>Amount</th><th>Pay ID</th><th>CC Pay ID</th><th>Receipt Sent</th><th>Reference</th></tr>
        <tbody>
        <% @invoice.payments.each do |pay| %>
          <tr>
            <td><%= pay.date  %> </td>
            <td><%= number_to_currency(pay.amount) %> </td>
            <td><%= pay.payment_ref_display %> </td>
            <td><%= pay.cc_payment_ref %> </td>
            <td><%= translate( pay.receipt_triggered.class ) %> </td>
            <td><%= pay.reference %> </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end%>

  <% if !@invoice.isSupplierInvoice? %>
  <div class="well well-sm">
    <h4>Add a Payment</h4>
    <%= form_tag({controller: "invoices", action: "addxeropayment"}, method: "get", class: "form-inline") do %>
    <%= hidden_field_tag :id, '', :value => @invoice.id %>
    <div class="form-group">
      <div class="input-group">
        <%= text_field_tag :amount, "", class: "form-control", placeholder: "$0.00" %>
      </div></div>
    <%= submit_tag "Add Payment", class: "btn btn-primary add-payment" %>
    <% end %>
  </div>
  <% end %>

  <div class="well well-sm">
    <h4>Change Xero Invoice Amount (this will delete and re-apply any existing payments)</h4>
    <%= form_tag({controller: "invoices", action: "changexeroinvoice"}, method: "get", class: "form-inline") do %>
    <%= hidden_field_tag :id, '', :value => @invoice.id %>
    <%= hidden_field_tag :amount_due, '', :value => @xinvoice.amount_due %>
    <%= hidden_field_tag :amount_total, '', :value => @xinvoice.total %>
    <div class="form-group">
      <div class="input-group">
        <%= text_field_tag :amount, "", class: "form-control", placeholder: "$0.00" %>
      </div></div>
    <%= submit_tag "Change Amount", class: "btn btn-warning change-amount" %>
    <% end %>
  </div>

<% end %>