<% depositDay, finalDay =  @booking.initInvoiceDates %>
<% if !@invoice.final_payment_due.blank? %>
  <% finalDay =  @invoice.final_payment_due %>
<% end %>
<% if !@invoice.deposit_due.blank? %>
  <% depositDay =  @invoice.deposit_due %>
<% end %>
<%# @invoice.currency ? currency = @invoice.getCurrencySelect2 : currency = Setting.find(1).getCurrencySelect2 %>

<% provide(:title, 'Create Invoice') %>
<h1 class="page-header">Create Invoice</h1>
<div class="row">
  
<div class="container">
   <%= render 'shared/error_messages', object: @invoice %>
  
   <%= form_tag({controller: "invoices", action: "create"}, method: "post", class: "form-horizontal") do %>
     <div class="form-group">
      <label for="currency_id" class="col-sm-3 control-label">Currency</label>
      <div class="col-sm-4">
        <%= hidden_field_tag(:currency_id, currency, id: 'currencysearch', class: 'select2 ajax', style: 'width: 100%;', placeholder: "Currency" ) %>
      </div>
      </div>
    <div class="form-group">
      <label for="finalpaydue" class="col-sm-3 control-label">Final Payment Due</label>
      <div class='input-group date col-sm-4' id='payday' >
        <input type="text" name='final_payment_due' class="form-control" data-date-format="DD/MM/YYYY" value=<%= finalDay.strftime("%d/%m/%Y") %> />
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
      </div>
    </div>
  
    <div class="form-group">
      <label for="deposit" class="col-sm-3 control-label">Deposit Amount</label>
      <div class="col-sm-4">
        <div class="checkbox"><label><input name='calcDeposit' id = "depositCheck" type="checkbox" checked> Calculate Deposit from line items</label>
        <input type="number" name='deposit' id="depositinput" placeholder="$0.00" class="form-control" value="<%= number_with_precision(@invoice.deposit, :precision => 2) %>" readonly>
  </div>
      
      </div>
    </div>
  
    <div class="form-group">
      <label for="depositdue"  class="col-sm-3 control-label">Deposit Due</label>
      <div class='input-group date col-sm-4' id='payday' >
        <input type="text" name='deposit_due' class="form-control" data-date-format="DD/MM/YYYY" value=<%= depositDay.strftime("%d/%m/%Y") %> />
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
      </div>
    </div>

    <div class="row clearfix">
		<div class="col-md-12 column">
      <h3 class="page-header">Add Line Items</h3>
      
			<table class="table table-bordered table-hover" id="tab_logic">
				<thead>
					<tr >
            <th class="text-center">
							#
						</th>
						<th class="text-center">
							Description
						</th>
						<th class="text-center">
							% Deposit
						</th>
						<th class="text-center">
							Quantity
						</th>
						<th class="text-center">
							Price
						</th>
						<th class="text-center">
							Total
						</th>
					</tr>
				</thead>
       
				<tbody>
          <% if @invoice.line_items.empty? %>
					<tr id='addr0'>
						<td>
						1
						</td>
						<td>
						<input type="text" name='desc0'  placeholder='Description' class="form-control"/>
						</td>
						<td>
						<input type="number" name='dep0' placeholder='0' class="form-control dep_field"/>
						</td>
						<td>
						<input type="number" name='qty0' placeholder='0' class="form-control qty_field"/>
						</td>
						<td>
						<input type="number" name='price0' placeholder='$0.00' class="form-control price_field"/>
						</td>
 						<td>
						<input type="number" name='total0' placeholder='$0.00' class="form-control" disabled="disabled"/>
						</td>
					</tr>
          <tr id='addr1'></tr>
          <% else %>
            <% i=0 %>
            <% @invoice.line_items.each do |item| %>
              <%= render partial: 'invoices/line_item_row', locals: { li: item, i: i } %>
              <% i+=1 %>
            <% end %>
          <tr id='addr<%= i.to_s %>'></tr>
          <% end %>
        </tbody>
			</table>
		</div>
	</div>
	<a id='delete_row' class="pull-left btn btn-default">Delete Row</a><a id="add_row" class="btn btn-default pull-right">Add Row</a>
  <div class="clearfix"></div>
  <br><br>
  <%= submit_tag "Save Invoice", class: "btn btn-primary", id: "subbutton" %>
  <br>
<% end %>
</div>

  
</div>