<% provide(:title, "Invoice for " +  @booking.name ) %>
<div class="row">
  <aside class="col-lg-12">
    <section>
      <h1 class="page-header" ><%= "Invoice for " +  @booking.name%></h1>
      
      <strong>Booking start date</strong>	<%= @booking.enquiry.est_date.strftime("%d/%m/%Y")  %><br>
      <strong>Invoice date</strong>	<%= @invoice.invoice_date.strftime("%d/%m/%Y")  %><br>
      <strong>Deposit due</strong>	<%= @invoice.deposit_due.strftime("%d/%m/%Y")  %><br>
      <strong>Final payment due</strong>	<%= @invoice.final_payment_due.strftime("%d/%m/%Y")  %><br>
      <strong>Customer/s:</strong>		<%= @booking.customer.fullname %><br>

      <div>
        <br>

        <table width="100%">
          <tr>
            <th width="40%" align="left">Description</th><th width="20%" align="left">Quantity</th><th width="20%" align="left">Price</th><th width="20%" align="left">Total</th>
          </tr> 

          <% @invoice.line_items.each do |item| %>
          <%= render partial: 'invoices/line_items', locals: { item: item } %>
          <% end %> 
        </table>
      </div>
      <br>
      Amount previously paid	<strong>TO DO</strong><br>
      Balance <strong>TO DO</strong><br>
      Total <strong><%=  @invoice.getTotalAmount.to_s %> </strong><br>
      <br><br>
      </section>
    
    <br><br>
    
    <a href=<%= booking_invoice_path @booking, @booking.invoice, format: :pdf%> ><button type="button" class="btn btn-primary">View Pdf</button></a>

  </aside> 
</div>