<% provide(:title, "Supplier Invoice for " +  @booking.name ) %>
<div class="row">
  <aside class="col-lg-12">
    <section>
      <h1 class="page-header" ><%= "Supplier Invoice for " +  @booking.name%></h1>
       <a href=<%= booking_path @booking%>><button type="button" class="btn btn-primary">Back to Booking</button></a> <br><br>
      <strong>Invoice #</strong>	<%= @invoice.nice_id %><br>
      <strong>Supplier</strong>	<%= @invoice.supplier.fullname %><br>
      <strong>Booking #</strong>	<%= @booking.nice_id %><br>
      <strong>Booking start date</strong>	<%= @booking.enquiry.est_date.strftime("%d/%m/%Y")  %><br>
      <strong>Invoice date</strong>	<%= @invoice.invoice_date.strftime("%d/%m/%Y")  %><br>
      <strong>Payment due</strong>	<%= @invoice.final_payment_due.strftime("%d/%m/%Y")  %><br>
      <strong>Currency</strong>	<%= @invoice.getCurrencyDisplay %><br>

      <strong>Customer/s:</strong>		<%= @booking.customer.fullname %><br>
      <div>
        <br>
        <table width="100%">
          <tr>
            <th width="40%" align="left">Description</th><th width="20%" align="left">Quantity</th><th width="20%" align="left">Price</th><th width="20%" align="left">Total</th>
          </tr>

          <% @invoice.line_items.each do |item| %>
          <%= render partial: 'invoices/line_items', locals: { item: item } %>
          <% end %>
        </table>
      </div>
      <br>
      Total <strong><%= number_to_currency(@invoice.getTotalAmount, precision: 2) %> </strong><br>
      <br>
      Exch Rate when created <strong><%= number_to_currency(@invoice.exchange_rate.to_s, precision: 2)  + " " +  Setting.find(1).currencyCode %> </strong><br>
      Exch Total when created <strong><%= number_to_currency(@invoice.exchange_amount.to_s, precision: 2)  + " " +  Setting.find(1).currencyCode %> </strong><br>
      Today Exch Rate <strong><%= number_to_currency(@invoice.get_current_exchange_amount, precision: 2) + " " +  Setting.find(1).currencyCode %> </strong><br>

      </section>
  </aside>
</div>

<div>
<br><br>
  <div id="invoices" >
     <%= render partial: 'invoice', locals: {items: @xinvoice}  %>
  </div>
  
  <% if Setting.find(1).use_xero  %>
    <% if @invoice.xero_id.blank? %>
      <div><h4>Not previously sent to xero</h4></div>
    <% else %>
      <%=  form_tag({controller: "invoices", action: "syncInvoice", remote: true}, method: "get", class: "form-horizontal", remote: true) do %>
        <%= hidden_field_tag :id, '', :value => @invoice.id %>
        <%= submit_tag "Sync Xero Invoice Details", id: "invoiceSyncBtn", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  <% end %>
</div>
