<tr>
  <td><%= open_enquiry.name %></td>
  <td><%= open_enquiry.est_date.try(:strftime, '%d-%b-%Y') %></td>
  <td><%= open_enquiry.fin_date.try(:strftime, '%d-%b-%Y') %></td>
  <td><%= open_enquiry.created_at.try(:strftime, '%d-%b-%Y') %></td>
  <td><%= link_to 'Open', enquiry_path(open_enquiry) ,target: '_blank' %></td>
  <td><%= link_to 'Dismiss', '#', method: :post %></td>
  <td>
    <%= render partial: 'dismiss_button', locals: { object: open_enquiry } %>
  </td>
</tr>