<tr class="odd link" data-link="/admin/<%=entity.name.pluralize.downcase%>">
  <td>
  <span class="show"><%=entity.name.pluralize%></span>
  </td>
  <td>
  <div><%=entity.count %> </div>
  </td>
  
  <td>
    <a href="/admin/<%=entity.name.pluralize.downcase%>" class="btn-floating waves-effect waves-light green"> 
     <i class='mdi-image-edit'></i>
   </a>
  </td>
  
   <td>
    <a href="/admin/<%=entity.name.pluralize.downcase%>/new" class="btn-floating waves-effect waves-light red"> 
     <i class='mdi-content-add'></i>
   </a>
  </td>
  
  
<!--<td class="links">
  <ul class="inline">
    <li title="List" rel="tooltip" class="icon index_collection_link ">
      <a class="pjax" href="/admin/<%=entity.name.pluralize.downcase%>">
        <i class="icon-th-list"></i>
        <span style="display:none">List</span>
      </a>
    </li>

    <li title="Add new" rel="tooltip" class="icon new_collection_link ">
      <a class="pjax" href="/admin/<%=entity.name.pluralize.downcase%>/new">
        <i class="icon-plus"></i>
        <span style="display:none">Add new</span>
      </a>
    </li>

    <li title="Export" rel="tooltip" class="icon export_collection_link ">
      <a class="pjax" href="/admin/<%=entity.name.pluralize.downcase%>/export">
        <i class="icon-share"></i>
        <span style="display:none">Export</span>
      </a>
    </li>

    <li title="Import" rel="tooltip" class="icon history_index_collection_link ">
      <a class="pjax" href="/admin/<%=entity.name.pluralize.downcase%>/import">
        <i class="icon-exchange"></i>
        <span style="display:none">Import</span>
      </a>
    </li>
  </ul>
  </td>-->
</tr>