<div class="container">
<div class="section">
  <%= render partial: 'admin/dashboard/tableheader', locals: { entity: entity, state: "index" } %>
</div>

<div class="section">
    <table id="data-table-simple" class="responsive-table display" >
      <thead>
        <tr>
          <th>#</th>
          <th>Edit</th>
          <% if entity == Destination %>
            <th>Country</th>
          <% end %>          
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% collect.each do |ob| %> 
        <tr>
          <td><%= ob.id %></td>
  
          <td><%= link_to ob.name, "#{entity.name.pluralize.downcase}/#{ob.id}/edit" %></td> 
          
          <% if entity == Destination %>
            <td><%= ob.country_name %></td>
          <% end %>
          
          <td><%= link_to "Delete", "#{entity.name.pluralize.downcase}/#{ob.id}", method: :delete,
                                          data: { confirm: "You sure?" } %></td> 
        </tr>
        <% end %> 
      </tbody>
    </table>
</div>
</div>
