<% provide(:title, "Import " + entity.name.pluralize) %>
<div class="row-fluid">
  <div class="page-header">
  <h1>Import <%=entity.name.pluralize%></h1>
  <%= render partial: 'admin/dashboard/tableheader', locals: { entity: entity, state: "import" } %>
   
    <br>
    <div class="col-sm-3">
    Import an csv file. 
    </div>
    <br>
    <br>
    <%= form_tag eval("admin_#{entity.name.pluralize.downcase}_importfile_path"), multipart: true do %>
    <div class="col-sm-3">
    <%= file_field_tag :file, class: "form-control" %>
    </div>
    <div class="col-sm-1">
    <%= submit_tag "Import", class: "btn btn-primary" %>
    </div>
    <% end %>
    <br><br>
  </div>
</div>