<div class="section">
  <%= render partial: 'admin/dashboard/tableheader', locals: { entity: entity, state: "index" } %>
</div>

<div class="section">
  <table class="table centered bordered hoverable responsive-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% collect.each do |ob| %> 
        <tr>
          <td><%= ob.id %></td>
  
          <td><%= link_to ob.name, "#{entity.name.pluralize.downcase}/#{ob.id}/edit" %></td> 
          <td><%= link_to "Delete", "#{entity.name.pluralize.downcase}/#{ob.id}", method: :delete,
                                          data: { confirm: "You sure?" } %></td> 
        </tr>
        <% end %> 
      </tbody>
    </table>
</div>
<%= will_paginate collect %>