<tr class="odd link" data-link="/admin/<%=entity.name.pluralize.downcase%>">
  <td>
  <span class="show"><a href="/admin/<%=entity.name.pluralize.downcase%>" class="pjax"><%=entity.name.pluralize%></a></span>
  </td>
  <td>
  <div class="label label-danger" data-animate-length="20" data-animate-width-to="2%" style="width: 2%;"><%=entity.count %> </div>
  </td>
  <td class="links">
  <ul class="inline">
            <li title="List" rel="tooltip" class="icon index_collection_link ">
              <a class="pjax" href="/admin/<%=entity.name.pluralize.downcase%>">
                <i class="icon-th-list"></i>
                <span style="display:none">List</span>
              </a>
            </li>

            <li title="Add new" rel="tooltip" class="icon new_collection_link ">
              <a class="pjax" href="/admin/<%=entity.name.pluralize.downcase%>/new">
                <i class="icon-plus"></i>
                <span style="display:none">Add new</span>
              </a>
            </li>

            <li title="Export" rel="tooltip" class="icon export_collection_link ">
              <a class="pjax" href="/admin/<%=entity.name.pluralize.downcase%>/export">
                <i class="icon-share"></i>
                <span style="display:none">Export</span>
              </a>
            </li>

            <li title="Import" rel="tooltip" class="icon history_index_collection_link ">
              <a class="pjax" href="/admin/<%=entity.name.pluralize.downcase%>/import">
                <i class="icon-exchange"></i>
                <span style="display:none">Import</span>
              </a>
            </li>
          </ul>
  </td>
</tr>