<ul class="nav nav-tabs">
  <li title="" rel="" class="icon index_collection_link <%= ' active' if state == 'index' %>">
    <a class="pjax" href="/admin/<%=entity.name.pluralize.downcase%>">
      <i class="icon-th-list"></i>
      <span>List</span>
    </a>
  </li>

  <li title="" rel="" class="icon new_collection_link <%= ' active' if state == 'new' %>">
    <a class="pjax" href="/admin/<%=entity.name.pluralize.downcase%>/new">
      <i class="icon-plus"></i>
      <span>Add new</span>
    </a>
  </li>

  <li title="" rel="" class="icon export_collection_link <%= ' active' if state == 'export' %>">
    <a class="pjax" href="/admin/<%=entity.name.pluralize.downcase%>/export">
      <i class="icon-share"></i>
      <span>Export</span>
    </a>
  </li>

  <li title="" rel="" class="icon history_index_collection_link <%= ' active' if state == 'import' %>">
    <a class="pjax" href="/admin/<%=entity.name.pluralize.downcase%>/import">
      <i class="icon-exchange"></i>
      <span>Import</span>
    </a>
  </li>
</ul>