<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Customer Name</Data></Cell>
        <Cell><Data ss:Type="String">Consultant</Data></Cell>
        <Cell><Data ss:Type="String">Date enquiry received</Data></Cell>
        <Cell><Data ss:Type="String">Quote</Data></Cell>
        <Cell><Data ss:Type="String">Booking</Data></Cell>
        <Cell><Data ss:Type="String">Adv. campaign</Data></Cell>
        <Cell><Data ss:Type="String">Destination</Data></Cell>
      </Row>
      <% objects.each do |obj| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= obj.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= obj.try(:lead_customer).try(:fullname) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= obj.try(:assignee).try(:name) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= obj.created_at.strftime("%d-%m-%Y") %></Data></Cell>
        <Cell><Data ss:Type="String"><%= obj.itineraries.any? ? "Y" : "N" %></Data></Cell>
        <Cell><Data ss:Type="String"><%= obj.try(:itineraries).map(&:itinerary_price).compact.any? ? "Y" : "N" %></Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>
        <Cell><Data ss:Type="String"><%= obj.try(:destination).try(:name) %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
