<!-- ###OLD CODE NOT USED NOW### -->

<% provide(:title, @booking.name ) %>
<% if !@booking.invoice 
     amountLableStr = "Est. Booking Value"
     amount = @booking.amount
   else
     amountLableStr = "Invoice  Value"
     amount = @booking.invoice.getTotalAmount
   end 
%>


<div class="row">
  <aside class="col-lg-12">
    <section>
      <h1 class="page-header" >Booking Details</h1>

       <div class="row">
        <div class="col-lg-6">     
          <div class="row">
            <div class="col-lg-9 profile-name">
              <h2><%= @booking.name %></h2>
              <%= link_to edit_booking_path(@booking) do %>
                <i class="fa fa-pencil editicon"></i>
              <% end %>   
            </div>
          </div>
          <ul class="row profile-details">
            <% if @booking.customer.nil? %>
              <li class="col-lg-3 col-md-3 col-sm-3 col-md-5 col-sm-5 profile-details-field">Customer</li>
              <li class="col-lg-9 col-md-9 col-sm-9">None assigned</li>
            <% else %>
          
              <li class="col-lg-3 col-md-3 col-sm-3 col-md-5 col-sm-5 profile-details-field">Customer</li>
              <li class="col-lg-9 col-md-9 col-sm-9"><a href=<%= customer_path @booking.customer %>><%= @booking.customer.fullname %></a></li>
      
            <% end %> 
            
            <li class="col-lg-3 col-md-3 col-sm-3 profile-details-field">Assigned To</li>
            <li class="col-lg-9 col-md-9 col-sm-9"><%= value_or_dash( @booking.assigned_to_name )%></li>
            <li class="col-lg-3 col-md-3 col-sm-3 profile-details-field"><%=amountLableStr%></li>
            <li class="col-lg-9 col-md-9 col-sm-9"><%= value_or_dash( number_to_currency(amount, precision: 0) ) %></li>
            <li class="col-lg-3 col-md-3 col-sm-3 profile-details-field">Start Date</li>
            <li class="col-lg-9 col-md-9 col-sm-9"><%= value_or_dash( (@booking.enquiry.est_date.strftime("%d/%m/%Y") unless @booking.enquiry.est_date.nil?) ) %></li>
            <li class="col-lg-3 col-md-3 col-sm-3 profile-details-field">End Date</li>
            <li class="col-lg-9 col-md-9 col-sm-9"><%= value_or_dash( (@booking.enquiry.fin_date.strftime("%d/%m/%Y") unless @booking.enquiry.fin_date.nil?) ) %></li>
            <li class="col-lg-3 col-md-3 col-sm-3 profile-details-field">Est Duration</li>
            <li class="col-lg-9 col-md-9 col-sm-9"><%= value_or_dash( @booking.enquiry.duration ) %></li>
            <li class="col-lg-3 col-md-3 col-sm-3 profile-details-field">Number of People</li>
            <li class="col-lg-9 col-md-9 col-sm-9"><%= value_or_dash( @booking.enquiry.num_people )  %></li>
            <li class="col-lg-3 col-md-3 col-sm-3 profile-details-field">Created</li>
            <li class="col-lg-9 col-md-9 col-sm-9"><%= value_or_dash( @booking.created_at.to_formatted_s(:rfc822) ) %></li>
            <li class="col-lg-3 col-md-3 col-sm-3 profile-details-field">Created By</li>
            <li class="col-lg-9 col-md-9 col-sm-9"><%= value_or_dash( @booking.created_by_name ) %></li>
          </ul> 
        </div>   
        <div class="col-lg-6">  
          <h4>Invoices</h4>
          
         <div>
           <% if Setting.find(1).use_xero  %>
             <% if @booking.xero_id.blank? %>
<!--  THIS CODE HIDDEN AS XERO INVOICE CREATED ON INVOCE GENERATION
               <%=  form_tag({controller: "bookings", action: "addxeroinvoice"}, method: "get", class: "form-horizontal") do %>
                 <%= hidden_field_tag :id, '', :value => @booking.id %>
                 <%= submit_tag "Create Xero Invoice", class: "btn btn-primary" %>     
               <% end %>  
!-->
             <% else %>
               <%=  form_tag({controller: "bookings", action: "getxeroinvoice", remote: true}, method: "get", class: "form-horizontal", remote: true) do %>
                 <%= hidden_field_tag :id, '', :value => @booking.id %>
                 <%= submit_tag "Get Xero Invoice Details", id: "invoiceBtn", class: "btn btn-primary" %>     
               <% end %>
             <% end %>
           <% end %>
          </div> 
          <br>
            <div id="invoices" >
            <%= render partial: 'invoice', locals: {items: @invoice}  %>
            </div>
          <div>
            <% if @booking.invoice.blank? %>
              <a href=<%= new_booking_invoice_path @booking %> ><button type="button" class="btn btn-primary">Create Invoice</button></a>
            <% else %>
            <a href=<%= booking_invoice_path @booking, @booking.invoice %> ><button type="button" class="btn btn-primary">View Invoice</button></a>

            <% end %>
          </div>
        </div>        <!-- end col 6 --> 
      </div>   <!-- row --> 
    </section>
  </aside> 
</div>

