<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>  
      <h1 class="page-header">
        <%= gravatar_for(@user, size: 52) %>
        <%= @user.name %>
      </h1>
       <br>
       <br>
      <br>
      <% if current_user.admin? %>
        <%= link_to "Edit " + @user.name , edit_user_path(@user) %>
      <% end %>         
      <br>
      <h2>
      <%= @user.email %>
      </h2>
      <br>
      <% if current_user.admin? && !current_user?(@user) %>
        <%= link_to "Delete ", @user, method: :delete, data: { confirm: "You sure?" } %>
      <% end %>      
    </section>
  </aside> 
  
  <div class="span8">
    <% if @user.assigned_enquiries.any? %>
      <h3>Enquiry (<%= @user.assigned_enquiries.count %>)</h3>
      <ol>
        <%= render @assigned_enquiries %>
      </ol>
      <%= paginate @assigned_enquiries %>
    <% end %>
  </div>
  
</div>