<% provide(:title, @user.name) %>
<div class="row">
  <div class ="card-panel">
      
      <h4>  
      <%= @user.name %>
      </h4>

      <br>
      <% if current_user.management? || current_user?(@user) %>
        <%= link_to "Edit " + @user.name , edit_user_path(@user) %>
      <% end %>   
      <br>
      <h5>
      <%= @user.email %>
      </h5>
      <br>
      <% if current_user.management? && !current_user?(@user) %>
        <%= link_to "Delete ", @user, method: :delete, data: { confirm: "You sure?" } %>
      <% end %>      

      
        <% if @user.assigned_enquiries.any? %>
          <div class ="card-panel">
          <h5>Enquiries (<%= @user.assigned_enquiries.count %>)</h5>
          <ol>
            <%= render @assigned_enquiries %>
          </ol>
          <%= paginate @assigned_enquiries %>
          </div>
        <% end %>
      
  </div>  
</div>