<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for(@user, size: 52) %>
        <%= @user.name %>
      </h1>
      <br>
      <br>
      <h2>
      <%= @user.email %>
      </h2>
    </section>
  </aside> 
  
  <div class="span8">
    <% if @user.enquiries.any? %>
      <h3>Enquiry (<%= @user.assigned_enquiries.count %>)</h3>
      <ol class="microposts">
        <%= render @assigned_enquiries %>
      </ol>
      <%= will_paginate @assigned_enquiries %>
    <% end %>
  </div>
  
</div>