<div class=""><h6><%=title%></h6></div>
<% if @setting.use_dropbox %>
  <% @setting.dropbox_default_path ? name = "Dropbox File Name (default path: #{@setting.dropbox_default_path} )" : name = "Dropbox File Name" %>
  <div class="row"><%= render partial: 'shared/material_textfield_cols12', locals: { field: "image_remote_url", f: f, name: name } %></div>
  
  <%= image_tag(imageHolder.get_dropbox_image_link, :class => "product_image") %>

<% else %>
  <div class="file-field input-field col s12">
    <input class="file-path validate" type="text"/>
    <div class="btn"><span>Image</span>
     <%= f.file_field :image_local, class: "file-path validate" %>
     <%= f.hidden_field :image_local_cache %>
    </div>
  </div>

  <%= image_tag(imageHolder.image_local_url(:thumb), :class => "product_image") if imageHolder.image_local? %>
<% end %>