<% class_for_input = "" if !local_assigns.has_key? :class_for_input %>
<% step = 1 if !local_assigns.has_key? :step %>
<% readonly = false if !local_assigns.has_key? :readonly %>


<div class="input-field col <%=col%>">
  <% if local_assigns.has_key? :icon %>
   <i class="<%= icon %>"></i>
  <% end %>
  
  <% if local_assigns.has_key? :value %>
    <%= f.number_field field.to_sym, value: value, step: step, class: class_for_input, readonly: readonly %>
  <% else %>
   <%= f.number_field field.to_sym, step: step, class: class_for_input, readonly: readonly %>
  <% end %>
  
  <% if local_assigns.has_key? :name %>
    <%= f.label field.to_sym, name %>
  <% else %>
   <%= f.label field.to_sym %>
  <% end %>
</div>

