
<% if activity.user_id == 0 
    userName = "system"
  elsif activity.user_id.nil?
    userName = "system"
  else
    userName = User.find(activity.user_id).name   
  end %>

<% if activity.type == "Note" %>
  <article class="timeline-entry">
    <div class="timeline-entry-inner">
      <div class="timeline-icon">
        <i class="fa fa-edit"></i>
      </div>

      <div class="timeline-label">
        <h6><strong>New Note</strong> <span>added by <%= userName %> </span> on  <%= activity.created_at.strftime("%d/%m/%Y") %>  </h6>
        <p><%= activity.description %></p>
      </div>
    </div>
  </article>
<% elsif activity.type == "Converted" %>
  <article class="timeline-entry">
    <div class="timeline-entry-inner">
      <div class="timeline-icon">
        <i class="fa fa-calendar "></i>
      </div>
      <div class="timeline-label">
        <h6><strong>New Booking</strong> <span>added by <%= userName %> </span> on  <%= activity.created_at.strftime("%d/%m/%Y") %>  </h6>
        <p> <span class="bookingadded"><strong><%= activity.description %></strong></span></p>
      </div>
    </div>
  </article>
<% elsif activity.type == "EmailSent" %>
  <article class="timeline-entry">
    <div class="timeline-entry-inner">
      <div class="timeline-icon">
        <i class="fa fa-envelope "></i>
      </div>
      <div class="timeline-label">
        <h6><strong>Email Sent</strong> by <%= activity.user_email %>  on  <%= activity.created_at.strftime("%d/%m/%Y") %>  </h6>
        <p><%= simple_format(activity.description) %></p>
      </div>
    </div>
  </article>
<% elsif activity.type == "EmailRecieved" %>
  <article class="timeline-entry">
    <div class="timeline-entry-inner">
      <div class="timeline-icon">
        <i class="fa fa-envelope-o "></i>
      </div>
      <div class="timeline-label">
        <h6><strong>Email Recieved</strong> from <%= @customer.fullname %>  on  <%= activity.created_at.strftime("%d/%m/%Y") %>  </h6>
        <p><%= simple_format(activity.description) %></p>
      </div>
    </div>
  </article>
<% end %>