<div class="row">
  <div class="col s12 m12 l12">
    <div class="card-panel">
    



<div class="row">
  <div class="col s6 m6 l6">
    <a href=<%= email_templates_path %> ><button type="button" class="btn btn-primary btn-sm">View Email Templates</button></a>
  </div>
  <div class="col s6 m6 l6">
    <a href=<%= new_email_template_path %> ><button type="button" class="btn btn-primary right btn-sm">New Email Templates</button></a>
  </div>
</div>


<div class="row">
<div class="col s12">
<%=  form_for @setting, url: {action: "addEmailTriggers"}, html: {method: "post", class: "form-horizontal"} do |f| %>
<%= f.hidden_field :id %>
<%= render 'shared/error_messages', object: f.object %>
  <br>
  <h5>Email Triggers</h5>
  <br>
  
    <table class="table table-striped table-bordered table-hover" >
      <thead>
        <tr>
          <th>Trigger Name</th>
          <th>Email</th>
          <th>Offset Days</th>
        </tr>
      </thead>
      <tbody>
        <%= f.fields_for :triggers do |t| %>
        <tr>
          <td><%= t.text_field :name, readonly: true %></td>
          <td><%= t.collection_select(:email_template_id, EmailTemplate.all, :id, :name, {include_blank: true}, {class: "form-control"}) %></td>
          <td><%= t.number_field :num_days %> </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  

 <%= f.submit "Save Triggers", class: "btn btn-primary" %>

<% end %>
</div>
</div>