<% provide(:title, 'Integration Settings') %>

<div class="row">
  <div class="col s12 m12 l12">
    <div class="card-panel">

        <%= form_for @setting, :html => {:multipart => true, :class => "form-horizontal"} do |f| %>
         <%= render 'shared/error_messages', object: f.object %>
         <%= hidden_field_tag :redirect, '', value: "integration" %>
         
          <div class="row">
            <div class="input-field col s6">
              <%= f.label :payment_gateway, "Payment Gateway", class: "active"%>
              <%= f.select :payment_gateway, options_for_select(["None", "Payment Express"], selected: f.object.payment_gateway ), {}, id: "payselect" %>
            </div>
          </div>
        
          <div id="paygategroup">
            <div class="row">
            <%= render partial: 'shared/material_textfield_cols6', locals: { field: "pxpay_user_id", f: f } %>
            <%= render partial: 'shared/material_textfield_cols6', locals: { field: "pxpay_key", f: f } %>
            </div>
          </div>
          <div class="divider"></div>
<br>
          <p>
          <%= f.check_box :use_xero, class: "filled-in" %>
          <%= f.label :use_xero, "Xero Integration", class: ""  %>
          </p>

          <div class="row">
            <%= render partial: 'shared/material_textfield_cols6', locals: { field: "xero_consumer_key", f: f } %>
            <%= render partial: 'shared/material_textfield_cols6', locals: { field: "xero_consumer_secret", f: f } %>
          </div>
          
          <div class="divider"></div>
  <br>

          <p>
          <%= f.check_box :use_dropbox, class: "filled-in" %>
          <%= f.label :use_dropbox, "Dropbox Images Integration", class: ""  %>
          </p>

          
          <div id="settings_dropbox_group">

              <div class="row">
                <%= render partial: 'shared/material_textfield_cols6', locals: { field: "dropbox_user", f: f } %>
                <%= render partial: 'shared/material_textfield_cols6', locals: { field: "dropbox_default_path", f: f } %>
              </div>
              <div class="row">
              
                <% if @setting.dropbox_user.blank? %>
                  <div class="input-field col s6 offset-s6">
                  <%= link_to "Authorise Dropbox Connection", dropbox_authorize_path, {:class => " btn dropbox-connect disabled"} %>
                  <p class="blue-text"><strong>Add Dropbox user before authorising connection</strong></p>
                  </div>
                <% elsif @setting.dropbox_session.blank? %>
                  <div class="input-field col s6 offset-s6">
                  <%= link_to "Authorise Dropbox Connection", dropbox_authorize_path, {:class => " btn dropbox-connect"} %>
                  <p class="red-text"><strong>Dropbox not currently integrated</strong></p>
                  </div>
                <% else %>
                    <div class="col s6 offset-s6">
                    <p class="green-text"><strong>Dropbox succesfully authorised</strong></p>
                    <% if !DropboxHelper.db_path_exists?(@setting.dropbox_default_path) %>
                      <p class="red-text"><strong>Warning - default path not found - check spelling</strong></p>
                    <% end %>
                    </div>
                <% end%>
              </div>
          </div>

          <div class="row"><div class="col s6">
          <%#= f.submit "Save changes", class: "btn " %>
              <%= button_tag( :class => "btn waves-effect waves-light left") do %>
                Save Changes
              <% end %>
          </div></div>
        <% end %>
    
    </div>
  </div>
</div>