<% provide(:title, 'Integration Settings') %>

<div class="row">
  <div class="col s12 m12 l12">
    <div class="card-panel">

        <%= form_for @setting, :html => {:multipart => true, :class => "form-horizontal"} do |f| %>
         <%= render 'shared/error_messages', object: f.object %>
         <%= hidden_field_tag :redirect, '', value: "integration" %>
         
          <div class="row">
            <div class="input-field col s6">
              <%= f.label :payment_gateway, "Payment Gateway", class: "active"%>
              <%= f.select :payment_gateway, options_for_select(["None", "Payment Express"], selected: f.object.payment_gateway ), {}, id: "payselect" %>
            </div>
          </div>
        
          <div id="paygategroup">
            <div class="row">
            <%= render partial: 'shared/material_textfield_cols6', locals: { field: "pxpay_user_id", f: f } %>
            </div>
            <div class="row">
            <%= render partial: 'shared/material_textfield_cols6', locals: { field: "pxpay_key", f: f } %>
            </div>
          </div>
    
          <p>
          <%= f.check_box :use_xero, class: "filled-in" %>
          <%= f.label :use_xero, "Xero Integration", class: ""  %>
          </p>

          <div class="row">
            <%= render partial: 'shared/material_textfield_cols6', locals: { field: "xero_consumer_key", f: f } %>
          </div>
          <div class="row">
            <%= render partial: 'shared/material_textfield_cols6', locals: { field: "xero_consumer_secret", f: f } %>         
          </div>
          

          <p>
          <%= f.check_box :use_dropbox, class: "filled-in" %>
          <%= f.label :use_dropbox, "Dropbox Images Integration", class: ""  %>
          </p>



          <div class="row">
            <%= render partial: 'shared/material_textfield_cols6', locals: { field: "dropbox_user", f: f } %>
          </div>          
          <div class="row">
            <%= render partial: 'shared/material_textfield_cols6', locals: { field: "dropbox_key", f: f } %>
          </div>
          <div class="row">
            <%= render partial: 'shared/material_textfield_cols6', locals: { field: "dropbox_secret", f: f } %>         
          </div>
          
          <% if @setting.use_dropbox && @setting.dropbox_session.nil? %>
            <p><strong>Dropbox currently not authorised</strong></p>
            <%= link_to "Authorise Dropbox", dropbox_authorize_path, {:class => "dropbox-connect"} %>
          <% else %>
              <p><strong>Dropbox succesfully authorised</strong></p>
          <% end%>


          
          <div class="row"><div class="col s6">
          <%#= f.submit "Save changes", class: "btn " %>
              <%= button_tag( :class => "btn waves-effect waves-light right") do %>
                Save Changes
              <% end %>
          </div></div>
        <% end %>
    
    </div>
  </div> 
</div>           