<% provide(:title, 'Products') %>

<div class="section">
  <h5 class="text-center">Choose settings to edit:</h5>
  <ul class="list-of-actions">
    <li>
	    <h4>General</h4> <a href=<%= general_settings_path %>><button type="button" class="waves-effect waves-light btn right">General</button></a>
      <p>General settings: company name, currency, etc.</p>
    </li>
    <div class="divider"></div>
    <li>
		  <h4>Integrations</h4><a href=<%= integration_settings_path %>><button type="button" class="waves-effect waves-light btn right">Integrations</button></a>
      <p>Third party integrations: Dropbox, Xero, etc</p>
    </li>
    <div class="divider"></div>
    <li>
		  <h4>Emails & Email Triggers</h4><a href=<%= email_settings_path %>><button type="button" class="waves-effect waves-light btn right">Emails</button></a>
      <p>Emails & Email Trigger settings</p>
    </li>
    <div class="divider"></div>
    <li>
		  <h4>Currency Overrides</h4><a href=<%= currency_settings_path %>><button type="button" class="waves-effect waves-light btn right">Currency</button></a>
      <p>Currency overrides</p>
    </li>
    <div class="divider"></div>
    <li>
		  <h4>Operations</h4><a href=<%= operation_settings_path %>><button type="button" class="waves-effect waves-light btn right">Operations</button></a>
      <p>Force sync integration (i.e resync all invoices with xero)</p>
    </li>
    <div class="divider"></div>
  </ul>
</div>