<% provide(:title, @setting.company_name + " Settings") %>
<div class="row">
  <aside class="span4">
    <section>
      <h1 class="page-header">
        <%= @setting.company_name + " Settings"%>
      </h1>
      <%= link_to "Edit " + @setting.company_name + " Settings" , edit_setting_path(@setting) %>

      
       <ul class="row profile-details">
            <li class="col-lg-5 col-md-5 col-sm-5 profile-details-field">Company</li>
            <li class="col-lg-6 col-md-6 col-sm-6"><%= @setting.company_name %></li><br>
            <li class="col-lg-5 col-md-5 col-sm-5 profile-details-field">Payment Express PxPay User Id</li>
            <li class="col-lg-6 col-md-6 col-sm-6"><%= value_or_dash( @setting.pxpay_user_id ) %></li><br>
            <li class="col-lg-5 col-md-5 col-sm-5 profile-details-field">Payment Express PxPay Key</li>
            <li class="col-lg-6 col-md-6 col-sm-6"><%= value_or_dash( @setting.pxpay_key ) %></li><br>
            <li class="col-lg-5 col-md-5 col-sm-5 profile-details-field">Intergrate with Xero Invoicing</li>
            <li class="col-lg-6 col-md-6 col-sm-6"><%= value_or_dash( @setting.use_xero ) %></li><br>
            <li class="col-lg-5 col-md-5 col-sm-5 profile-details-field">Xero Consumer Key</li>
            <li class="col-lg-6 col-md-6 col-sm-6"><%= value_or_dash( @setting.xero_consumer_key ) %></li><br>
            <li class="col-lg-5 col-md-5 col-sm-5 profile-details-field">Xero Consumer Secret</li>
            <li class="col-lg-6 col-md-6 col-sm-6"><%= value_or_dash( @setting.xero_consumer_secret ) %></li>
         </ul>
    </section>
  </aside> 
</div>
