<div class="row">
    <% update_action = 'customers' unless update_action.present? %>
    <%= form_for @customer, url: self.send("#{update_action}_path", auth_key: params[:auth_key]), :html => {:multipart => true, :class => "col s12"} do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.hidden_field :cust_sup, :value => "Customer" %>

      <div class="input-field col s2">
        <%= f.select :title, options_for_select(titles_list, disabled: "Select Title", selected: f.object.title || "Select Title"), {}, {} %>
      </div>
      <%= render partial: 'shared/material_textfield', locals: { col: "s3", field: "first_name", f: f, icon: "mdi-action-account-child prefix" } %>
      <%= render partial: 'shared/material_textfield', locals: { col: "s3", field: "last_name", f: f, icon: "mdi-action-account-child prefix" } %>
      <%= render partial: 'shared/material_textfield', locals: { col: "s2", field: "phone", name: "Phone (main)",  f: f, icon: "mdi-hardware-phone-iphone prefix" } %>
      <%= render partial: 'shared/material_textfield', locals: { col: "s2", field: "alt_phone", name: "Phone (alt.)", f: f, icon: "mdi-communication-phone prefix" } %>
      
      <div class="input-field col s2">
        <%= f.select :gender, options_for_select(gender_list, disabled: "Select Gender", selected: f.object.gender || "Select Gender"), {}, {} %>
      </div>   
      <%= render partial: 'shared/material_textfield', locals: { col: "s3", field: "email", f: f, icon: "mdi-communication-email prefix" } %>
      <%= render partial: 'shared/material_textfield', locals: { col: "s3", field: "alt_email", f: f } %>
      <%= render partial: 'shared/material_date', locals: { col: "s4", field: :born_on, id: :born_on, f: f, wide_range: true } %>
      
      
      <!-- <%= render partial: 'shared/material_textfield', locals: { col: "s2", field: "fax", f: f } %>  -->
      
      <%= render partial: 'shared/material_textfield', locals: { col: "s2", field: "passport_num", f: f } %>
      <%= render partial: 'shared/material_textfield', locals: { col: "s3", field: "nationality", f: f } %>
      <%= render partial: 'shared/material_textfield', locals: { col: "s3", field: "place_of_issue", f: f } %>
      <%= render partial: 'shared/material_date', locals: { col: "s2", field: :issue_date, id: :issue_date, f: f } %>
      <%= render partial: 'shared/material_date', locals: { col: "s2", field: :expiry_date, id: :expiry_date, f: f } %>
      
      <%= render partial: 'shared/material_textfield', locals: { col: "s4", field: "emergency_contact", f: f } %>
      <%= render partial: 'shared/material_textfield', locals: { col: "s4", field: "emergency_contact_phone", f: f } %>
      <%= render partial: 'shared/material_textfield', locals: { col: "s4", field: "insurance", f: f, name: "Insurance details" } %>
      
      <%= render partial: 'shared/material_textareafield_cols12', locals: { field: "frequent_flyer_details", f: f } %>
      
      <%= render partial: 'shared/material_textareafield_cols6', locals: { col: "s4", field: "medical_information", f: f } %>
      <%= render partial: 'shared/material_textareafield_cols6', locals: { col: "s12", field: "dietary_requirements", f: f } %>
      
   
      <% if @customer.persisted? %>
    	  <%= f.fields_for :activities, :html => {:class => "col s12"}  do |c| %>
      	  <% if !c.object.persisted? %>
    	      <br>
            <div class="field">
              <%= render partial: 'shared/material_textareafield_cols12', locals: { length: "500", field: "description", name: "Add Note", f: c } %>
              <%= c.hidden_field :customer_id, :value => @customer.id %>
              <%= c.hidden_field :type, :value => "Note" %>
              <%= c.hidden_field :user_id, :value => current_user.id %>
            </div>    
            <br>
        	<% end %>        
        <% end %>      
      <% end %>            

      <div class="col s6">
        <% if @customer.persisted? %>
        <%= link_to 'New Enquiry', new_enquiry_path(customer_id: @customer.id), class: 'btn left deep-purple' %>
        <% end %>
      </div>

      <div class="input-field col s6">
        <%= f.submit buttontxt, class: "btn right" %>
      </div>
    <% end %>
</div>
