<div class="row">
    <%= form_for @customer, :html => {:multipart => true, :class => "col s12"} do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.hidden_field :cust_sup, :value => "Customer" %>

      <%= render partial: 'shared/material_textfield_cols12', locals: { field: "first_name", f: f, icon: "mdi-action-account-child prefix" } %>
      <%= render partial: 'shared/material_textfield_cols12', locals: { field: "last_name", f: f, icon: "mdi-action-account-child prefix" } %>
      <%= render partial: 'shared/material_textfield_cols12', locals: { field: "email", f: f, icon: "mdi-communication-email prefix" } %>
      <%= render partial: 'shared/material_textfield_cols12', locals: { field: "phone", f: f, icon: "mdi-communication-phone prefix" } %>
      <%= render partial: 'shared/material_textfield_cols12', locals: { field: "mobile", f: f, icon: "mdi-hardware-phone-iphone prefix" } %>
      
      <div class="input-field col s12">
        <%= f.select :title, options_for_select(titles_list, disabled: "Select Title", selected: f.object.title || "Select Title"), {}, {} %>
      </div>

      <div class="input-field col s12">
        <%= f.select :gender, options_for_select(gender_list, disabled: "Select Gender", selected: f.object.gender || "Select Gender"), {}, {} %>
      </div>
      
      
      <%= render partial: 'shared/material_textfield_cols12', locals: { field: "alt_email", f: f } %>
      <!-- <%= render partial: 'shared/material_textfield_cols12', locals: { field: "fax", f: f } %>  -->
      <%= render partial: 'shared/material_date_cols6', locals: { field: :born_on, id: :born_on, f: f, wide_range: true } %>
      <%= render partial: 'shared/material_textfield_cols12', locals: { field: "insurance", f: f, name: "Insurance details" } %>
      <%= render partial: 'shared/material_textfield_cols12', locals: { field: "passport_num", f: f } %>
      <%= render partial: 'shared/material_textfield_cols12', locals: { field: "nationality", f: f } %>
      <%= render partial: 'shared/material_textfield_cols12', locals: { field: "place_of_issue", f: f } %>
      <%= render partial: 'shared/material_date_cols6', locals: { field: :issue_date, id: :issue_date, f: f } %>
      <%= render partial: 'shared/material_date_cols6', locals: { field: :expiry_date, id: :expiry_date, f: f } %>
      
      <div class="input-field col s12">
        <%= f.submit buttontxt, class: "btn" %>
      </div>
    <% end %>
</div>
