<% provide(:title, 'Edit Customer') %>
<h1 class="page-header">Edit Customer</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for @customer, :html => {:multipart => true, :class => "form-horizontal"} do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
    
      <%= render partial: 'shared/standard_grouped_textfield', locals: { field: "first_name", f: f } %> 
      <%= render partial: 'shared/standard_grouped_textfield', locals: { field: "last_name", f: f } %>

      <div class="form-group">  <%= f.label :title %>
        <div class="col-sm-6">   <%= f.select :title, options_for_select(titles_list, @customer.title ), {}, class: 'form-control' %>  </div>
      </div>
    
      <%= render partial: 'shared/standard_grouped_textfield', locals: { field: "gender", f: f } %>
      <%= render partial: 'shared/standard_grouped_textfield', locals: { field: "email", f: f } %>
      <%= render partial: 'shared/standard_grouped_textfield', locals: { field: "alt_email", f: f } %>
      <%= render partial: 'shared/standard_grouped_textfield', locals: { field: "phone", f: f } %>
      <%= render partial: 'shared/standard_grouped_textfield', locals: { field: "mobile", f: f } %>      
      <%= render partial: 'shared/standard_grouped_textfield', locals: { field: "fax", f: f } %>      
      <%= render partial: 'shared/std_grp_datefield', locals: { name: :born_on, id: :born_on, f: f } %>
      <%= render partial: 'shared/standard_grouped_textfield', locals: { field: "insurance", f: f } %>
      
      <%= render partial: 'shared/standard_grouped_textfield', locals: { field: "passport_num", f: f } %>    
      <%= render partial: 'shared/standard_grouped_textfield', locals: { field: "place_of_issue", f: f } %>
      <%= render partial: 'shared/std_grp_datefield', locals: { name: :issue_date, id: :issue_date, f: f } %>
      <%= render partial: 'shared/std_grp_datefield', locals: { name: :expiry_date, id: :expiry_date, f: f } %>
      
    
    <%= f.fields_for :address do |a| %>
        
        <%= a.label :street1 %> 
        <%= a.text_field :street1 %>
        <%= a.label :street2 %> 
        <%= a.text_field :street2 %>        
        <%= a.label :city %> 
        <%= a.text_field :city %>  
        <%= a.label :state %> 
        <%= a.text_field :state %>  
        <%= a.label :zipcode %> 
        <%= a.text_field :zipcode %>  
        <%= a.label :country %> 
        <%= a.text_field :country %>          
      
      <% end %>
    
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
   
  </div>
</div>
