<% provide(:title, 'All Customers') %>
<h4>Customers</h4>

<a href=<%= new_customer_path %> ><button type="button" class="btn">Create New Customer</button></a>

<div id="table-datatables">
 <div class="row">
    <div class="col s12 m12 l12">
      <table id="data-table-simple" class="responsive-table display" >
        <thead>
          <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Email</th>
            <th>Phone</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |cust| %>
          <tr>
            <td><%= link_to(cust.fullname, cust) %></td>
            <td><%= cust.title %></td>
            <td><%= cust.email %></td>
            <td><%= cust.phone %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
