<% provide(:title, 'Create Customer') %>
<h1 class="page-header">Create a Customer</h1>
<div class="row">
  <div class="span6 offset2">
    <%= form_for @customer, :html => {:multipart => true, :class => "form-horizontal"} do |f| %>
	    <%= render 'shared/error_messages', object: f.object %>
    
      <div class="form-group">  
        <%= f.label :first_name %>
        <div class="col-sm-6">  
          <%= f.text_field :first_name %>  
        </div>
      </div>
 
    
      <div class="form-group">  <%= f.label :last_name %>
        <div class="col-sm-6">  <%= f.text_field :last_name %>  </div>
      </div>

      <div class="form-group">  <%= f.label :title %>
        <div class="col-sm-6">  <%= f.text_field :title %>  </div>
      </div>
        
      <div class="form-group">  <%= f.label :email  %>
        <div class="col-sm-6">  <%= f.text_field :email %>  </div>
      </div>
    
      <div class="form-group">  <%= f.label :alt_email, "Alternate Email" %>
        <div class="col-sm-6">  <%= f.text_field :alt_email %>  </div>
      </div>
    
      <div class="form-group">  <%= f.label :phone %>
        <div class="col-sm-6">  <%= f.text_field :phone %>  </div>  
      </div>
    
      <div class="form-group">   <%= f.label :mobile %>
        <div class="col-sm-6">  <%= f.text_field :mobile %>  </div>  
      </div>
    
      <div class="form-group">  <%= f.label :fax %>
        <div class="col-sm-6">  <%= f.text_field :fax %>  </div> 
      </div>
    
      <div class="form-group">  <%= f.label :fax %>
        <div class="col-sm-6">  <%= f.text_field :fax %>  </div> 
      </div>
    
      <div class="form-group">  <%= f.label :fax %>
        <div class="col-sm-6">  <%= f.text_field :fax %>  </div> 
      </div>

   
    <%= render partial: 'shared/standard_grouped_textfield', locals: { field: "gender", f: f } %>
    <%= render partial: 'shared/standard_grouped_textfield', locals: { field: "born_on", f: f } %>
    <%= render partial: 'shared/standard_grouped_textfield', locals: { field: "issue_date", f: f } %>
    <%= render partial: 'shared/standard_grouped_textfield', locals: { field: "expiry_date", f: f } %>
    <%= render partial: 'shared/standard_grouped_textfield', locals: { field: "passport_num", f: f } %>
    <%= render partial: 'shared/standard_grouped_textfield', locals: { field: "insurance", f: f } %>
    
    
<!--     add_column :customers, :issue_date, :date    
    add_column :customers, :expiry_date, :date    
    add_column :customers, :place_of_issue, :stringc
    add_column :customers, :passport_num, :string
    add_column :customers, :insurance, :string
    add_column :customers, :gender, :string           -->

      <% f.fields_for :address do |builder| %>
      <p>
        <%= builder.label :street1 %> <br>
        <%= builder.text_field :street1 %>
        <%= builder.label :street2 %> <br>
        <%= builder.text_field :street2 %>        
        <%= builder.label :city %> <br>
        <%= builder.text_field :city %>  
        <%= builder.label :state %> <br>
        <%= builder.text_field :state %>  
        <%= builder.label :zipcode %> <br>
        <%= builder.text_field :zipcode %>  
        <%= builder.label :country %> <br>
        <%= builder.text_field :country %>          
      </p>
      <% end %>
    
      <div class="row">
      <div class="col-sm-6 col-md-offset-3">    
      <%= f.submit "Create a Customer", class: "btn btn-large btn-primary" %>
      </div>
      </div>
    <% end %>
  </div>
</div>