<% provide(:title, @customer.first_name + " " + @customer.last_name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1 class="page-header" >
        <%= @customer.first_name + " " + @customer.last_name %>
      </h1>
      
      <br>
    <%= link_to "Edit " + @customer.first_name + " " +  @customer.last_name , edit_customer_path(@customer) %>      
      <br>
      <h2 text-align="left">
        <%= @customer.title %>
        <br>
        <%= @customer.email %>
        <br>
        <%= @customer.alt_email %>
        <br>
        <%= @customer.phone %>
        <br>
        <%= @customer.mobile %>
        <br>
       <%= @customer.fax %>
        <br>        
      </h2>
      <% if current_user.admin? %>
        <%= link_to "Delete " + @customer.first_name + " " +  @customer.last_name, @customer, method: :delete, data: { confirm: "You sure?" } %>
      <% end %>      
    </section>
  </aside> 
</div>