<% provide(:title, @customer.first_name + " " + @customer.last_name) %>
<div class="row">
  <aside class="col-lg-12">
    <section>
      <h1 class="page-header" >Customer Details</h1>

       <div class="row">
        <div class="col-lg-6">     
          <div class="row">
            <div class="col-lg-3 "> <%= image_tag "avatar.jpg", class: "avatar img-circle" %> </div>
      
            <div class="col-lg-9 profile-name">
              <h2><%= @customer.first_name + " " + @customer.last_name %></h2>
              <%= link_to edit_customer_path(@customer) do %>
                <i class="fa fa-pencil editicon"></i>
              <% end %>   

              <ul>          
                
                <li><i class="fa fa-envelope"></i> <%= mail_to(@customer.email, @customer.email, bcc: @customer.create_email_link)%></li>
                <li><i class="fa fa-phone"></i> <%= @customer.phone %> (Landline) </li>
                <li><i class="fa fa-mobile"></i> <%= @customer.mobile %> (Mobile)</li>
              </ul>
            </div>
          </div>
          <ul class="row profile-details">
            <% if @customer.enquiries.active.empty? %>
              <li class="col-lg-3 col-md-3 col-sm-3 col-md-5 col-sm-5 profile-details-field">Enquiry</li>
              <li class="col-lg-9 col-md-9 col-sm-9">None assigned</li>
            <% else %>
              <% @customer.enquiries.active.each do |e| %>
              <li class="col-lg-3 col-md-3 col-sm-3 col-md-5 col-sm-5 profile-details-field">Enquiry</li>
              <li class="col-lg-9 col-md-9 col-sm-9"><a href=<%= enquiry_path e %>><%= e.name %></a></li>
              <% end %>
            <% end %> 
            
            <li class="col-lg-3 col-md-3 col-sm-3 profile-details-field">Customer ID</li>
            <li class="col-lg-9 col-md-9 col-sm-9"><%= @customer.nice_id %></li>
            <li class="col-lg-3 col-md-3 col-sm-3 profile-details-field">Address</li>
            <li class="col-lg-9 col-md-9 col-sm-9">TO BE BUILT</li>
            <li class="col-lg-3 col-md-3 col-sm-3 profile-details-field">Gender</li>
            <li class="col-lg-9 col-md-9 col-sm-9"><%= value_or_dash( @customer.gender ) %></li>
            <li class="col-lg-3 col-md-3 col-sm-3 profile-details-field">D.O.B</li>
            <li class="col-lg-9 col-md-9 col-sm-9"><%= value_or_dash( @customer.born_on ) %></li>
            <li class="col-lg-3 col-md-3 col-sm-3 profile-details-field">Insurance</li>
            <li class="col-lg-9 col-md-9 col-sm-9"><%= value_or_dash( @customer.insurance ) %></li>
            <li class="col-lg-12">
              <div class="col-lg-3 col-md-3 col-sm-3 profile-details-field">Passport No</div>
              <div class="col-lg-9 col-md-9 col-sm-9"><%= value_or_dash( @customer.passport_num ) %></div>
              <div class="col-lg-3 col-md-3 col-sm-3 profile-details-field">Place of Issue</div>
              <div class="col-lg-9 col-md-9 col-sm-9"><%= value_or_dash( @customer.place_of_issue ) %></div>
              <div class="col-lg-3 col-md-3 col-sm-3 profile-details-field">Issue Date</div>
              <div class="col-lg-9 col-md-9 col-sm-9"><%= value_or_dash( formated_date(@customer.issue_date)) %></div>
              <div class="col-lg-3 col-md-3 col-sm-3 profile-details-field">Expiry Date</div>
              <div class="col-lg-9 col-md-9 col-sm-9"><%= value_or_dash( formated_date(@customer.expiry_date)) %></div>
            </li>

            <li class="col-lg-3 col-md-3 col-sm-3 profile-details-field">Profile Created</li>
            <li class="col-lg-9 col-md-9 col-sm-9"><%= formated_date(@customer.created_at) %></li>
            <li class="col-lg-3 col-md-3 col-sm-3 profile-details-field">Assigned to</li>
            <li class="col-lg-9 col-md-9 col-sm-9"><%= value_or_dash( @customer.assigned_to_name ) %></li>
            <li class="col-lg-3 col-md-3 col-sm-3 profile-details-field">Notes</li>
            <li class="col-lg-9 col-md-9 col-sm-9"><%= value_or_dash( @customer.background_info ) %></li>
          </ul>
        </div>
          
        <% if current_user.admin? %>
          <%#= link_to "Delete " + @customer.first_name + " " +  @customer.last_name, @customer, method: :delete, data: { confirm: "You sure?" } %>
        <% end %>   

        <div class="col-lg-6 details-activity">
          <h3>Activity Stream</h3>

          <div class="timeline-centered">        
             <% @activities.each do |act| %>
              <%= render partial: 'shared/timeline', locals: { activity: act } %>
            <% end %>  
            
            <article class="timeline-entry begin">
            <div class="timeline-entry-inner">
              <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
                <i class="entypo-flight"></i> +
              </div>
            </div>
            </article>
          </div> 
          
          <ul class="pagination">
            <%= will_paginate  @activities, :container => false %>
          </ul>
        
          <div class="well well-sm">
            <h4>Add a Note</h4>
            <%#= form_for @customer, url: addnote_customers_path, :html => {:multipart => true, :class => "form-horizontal"} do |f| %>
            <%=  form_tag({controller: "customers", action: "addnote"}, method: "get", class: "form-horizontal") do %>
              <%= text_area_tag :note, nil, rows: "5", class: "form-control" %>
            <%= hidden_field_tag :type, '', :value => "Note" %>
              <%= hidden_field_tag :id, '', :value => @customer.id %>
              <%#= hidden_field_tag :customer, '', :value => @customer.id %>
              <%= submit_tag "Add a note", class: "btn btn-primary add-note" %>      
              <div class="clearfix"></div>
            <% end %>
          </div>
            <!-- /well -->
          <div class="activity"></div>
            <!-- /activity --> 
        </div>
      </div>
     
      
    </section>
  </aside> 
</div>
