<% provide(:title, 'Edit Tour') %>
<h1>Edit Tour</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for @tour, :html => {:multipart => true} do |f| %>
	    <%= render 'shared/error_messages', object: f.object %>
    
      <%= f.label :tourName %>
      <%= f.text_field :tourName %>

      <%= f.label :destination %>
      <%= f.text_field :destination %>

      <%= f.label :country %>
      <%= f.text_field :country %>

      <%= f.label :tourPrice, "Tour Price" %>
      <%= f.text_field :tourPrice %>
    
    
      <%= f.label :image, "Current Image" %>
      <%= image_tag @tour.image_url(:thumb).to_s %>
      <%= f.file_field :image %>
      <p>
        <%= f.label :remote_image_url, "or image URL" %>
        <%= f.text_field :remote_image_url %>
      </p>   
 
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
