<% provide(:title, 'Edit Tour') %>
<h1 class="page-header">Edit Tour</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for @tour, :html => {:multipart => true, :class => "form-horizontal"} do |f| %>
     <%= render 'shared/error_messages', object: f.object %>
    
      <%= render partial: 'shared/standard_grouped_textfield', locals: { field: "tourName", f: f } %>
      <%= render partial: 'shared/standard_grouped_textfield', locals: { field: "destination", f: f } %>  
      <%= render partial: 'shared/standard_grouped_textfield', locals: { field: "country", f: f } %>
      <%= render partial: 'shared/standard_grouped_textfield', locals: { field: "tourPrice", f: f } %>
    
    
      <%= f.label :image, "Current Image" %>
      <%= image_tag @tour.image_url(:thumb).to_s %>
      <%= f.file_field :image %>
      <p>
        <%= f.label :remote_image_url, "or image URL" %>
        <%= f.text_field :remote_image_url %>
      </p>   
 
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
