<% provide(:title, 'Create Tour') %>
<h1 class="page-header">Create a Tour</h1>
<div class="row">
  <div class="span6 offset2">
    <%= form_for @tour, :html => {:multipart => true, :class => "form-horizontal"} do |f| %>
	    <%= render 'shared/error_messages', object: f.object %>
    
      <%= render partial: 'shared/standard_grouped_textfield', locals: { field: "tourName", f: f } %>
      <%= render partial: 'shared/standard_grouped_textfield', locals: { field: "destination", f: f } %>  
      <%= render partial: 'shared/standard_grouped_textfield', locals: { field: "country", f: f } %>
      <%= render partial: 'shared/standard_grouped_textfield', locals: { field: "tourPrice", f: f } %>
 
    
      <div class="form-group">      
      <%= f.label :image %>
      <div class="col-sm-6">  <%= f.file_field :image %></div>
      </div>

      <div class="col-sm-6 col-md-offset-3"> 
      <%= f.submit "Create a tour", class: "btn btn-large btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
