<% provide(:title, @tour.tourName) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1 class="page-header">
        <%= @tour.tourName %>
      </h1>
      <%= link_to "Edit " + @tour.tourName , edit_tour_path(@tour) %>
      
      <%= image_tag @tour.image_url.to_s %>
      <br>
      <br>
      <h2 text-align="left">
      <%= @tour.destination %>
        <br>
      <%= @tour.country %>
        <br>
      <%= @tour.tourPrice %>
        <br>
      </h2>
    </section>
  </aside> 
</div>