<div class="row">
  <div class="span6 offset2">
    <%= form_for @customer, :url => {:controller => "agents", :action => action}, :html => {:multipart => true, :class => "form-horizontal"} do |f| %>
      <%= f.hidden_field :cust_sup, :value => "Agent" %>
	    <%= render 'shared/error_messages', object: f.object %>
      <div class="form-group">
        <%= f.label "Agent" %>
        <div class="col-sm-6">  <%= f.text_field :supplier_name %>  </div>
      </div>

       <div class="form-group">
        <%= f.label "Contact details" %>
         <div class="col-sm-6"> &nbsp; </div>
       </div>
  
  
      <%= render partial: 'shared/standard_grouped_textfield', locals: { field: "first_name", f: f } %>
      <%= render partial: 'shared/standard_grouped_textfield', locals: { field: "last_name", f: f } %>

      <div class="form-group">  <%= f.label :title %>
        <div class="col-sm-6">   <%= f.select :title, options_for_select(titles_list, @customer.title ), {}, class: 'form-control' %>  </div>
      </div>
    
      <%= render partial: 'shared/standard_grouped_textfield', locals: { field: "email", f: f } %>
      <%= render partial: 'shared/standard_grouped_textfield', locals: { field: "alt_email", f: f } %>
      <%= render partial: 'shared/standard_grouped_textfield', locals: { field: "phone", f: f } %>
      <%= render partial: 'shared/standard_grouped_textfield', locals: { field: "mobile", f: f } %>
      <%= render partial: 'shared/standard_grouped_textfield', locals: { field: "fax", f: f } %>


      <%= f.fields_for :address do |address| %>
        <%= render :partial => 'shared/address', :locals => {:f => address} %>
      <% end %>
    
      <div class="row">
      <div class="col-sm-6 col-md-offset-3">
        <%= f.submit buttontxt, class: "btn btn-large btn-primary" %>
      </div>
      </div>
    <% end %>
  </div>
</div>