<% provide(:title, 'All Agents') %>
<h1 class="page-header">All Agents</h1>

<a href=<%= new_agent_path %> ><button type="button" class="btn btn-primary btn-sm">Create New Agent</button></a>
<br><br>

<div class="panel panel-default">
  <div class="panel-heading">
    All Agents
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <table id="sort_table" class="table table-striped table-bordered table-hover" >
      <thead>
        <tr>
          <th>Agent</th>
          <th>Contact</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |cust| %>
        <tr>
          <td><a href=<%= agent_path cust %> </a> <%= cust.supplier_name  %></td>
          <td><%= cust.fullname %></td>
          <td><%= cust.email %></td>
          <td><%= cust.phone %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
