<% provide(:title, @customer.supplier_name) %>

  <aside class="col-lg-12">
    <section>
      <h1 class="page-header" >Agent Contact Details</h1>

       
            <div class="col-lg-9 profile-name">
              <h2>Agent: <%= @customer.supplier_name %></h2>
              <br><br><br>
              <h3>Contact: <%= @customer.first_name + " " + @customer.last_name %>
                <%= link_to edit_agent_path(@customer) do %>
                <i class="fa fa-pencil editicon"></i>Edit
                <% end %>
              </h3>
              <ul>
                <li><i class="fa fa-envelope"></i> <%= mail_to(@customer.email, @customer.email)%></li>
                <li><i class="fa fa-phone"></i> <%= @customer.phone %> (Landline) </li>
                <li><i class="fa fa-mobile"></i> <%= @customer.mobile %> (Mobile)</li>
              </ul>
            </div>
          <ul class="row profile-details">
            <li class="col-lg-3 col-md-3 col-sm-3 profile-details-field">Agent ID</li>
            <li class="col-lg-9 col-md-9 col-sm-9"><%= @customer.nice_id %></li>
            <li class="col-lg-3 col-md-3 col-sm-3 profile-details-field">Address</li>
            <li class="col-lg-9 col-md-9 col-sm-9"><%=  simple_format(value_or_dash(@customer.getAddressDetails)) %></li>
            <li class="col-lg-3 col-md-3 col-sm-3 profile-details-field">Profile Created</li>
            <li class="col-lg-9 col-md-9 col-sm-9"><%= formated_date(@customer.created_at) %></li>
            <li class="col-lg-3 col-md-3 col-sm-3 profile-details-field">Notes</li>
            <li class="col-lg-9 col-md-9 col-sm-9"><%= value_or_dash( @customer.background_info ) %></li>
          </ul>

        <% if current_user.management? %>
          <%#= link_to "Delete " + @customer.first_name + " " +  @customer.last_name, @customer, method: :delete, data: { confirm: "You sure?" } %>
        <% end %>


      
    </section>
  </aside>
