<tr>
  <% booking_id = supplier_itinerary_price_item.supplier_itinerary_price.try(:itinerary).try(:id) %>
  <td>
    <% if booking_id.present? %>
      <%= link_to booking_id, edit_itinerary_path(booking_id)  %>
    <% end %>
  </td>
  <td><%= supplier_itinerary_price_item.supplier_itinerary_price.try(:itinerary).try(:lead_customer).try(:fullname_with_title) %></td>
  <td><%= supplier_itinerary_price_item.supplier.try(:supplier_name) %></td>
  <td><%= supplier_itinerary_price_item.price_total %></td>
  <td><%= supplier_itinerary_price_item.supplier_itinerary_price.try(:final_balance_due) %></td>
</tr>