
<div class="section">
  <table class="responsive-table display">
    <thead>
      <tr>
        <th>Booking ID</th>
        <th>Booking Name</th>
        <th>Customer Name</th>
        <th>Consultant</th>
        <th>Sale Value</th>
        <th>Profit amount</th>
        <th>Agent</th>
      </tr>
    </thead>
    <tbody>
      <% @itinerary_prices.each do |it_price| %> 
        <tr>
          <td><%= it_price.id %></td>
          <td><%= link_to it_price.try(:itinerary).try(:name), edit_itinerary_price_path(it_price) %></td>
          <td><%= it_price.try(:itinerary).try(:lead_customer).try(:fullname_with_title) %></td>
          <td><%= it_price.try(:itinerary).try(:user).try(:name) %></td>
          <td><%= it_price.try(:sale_total).try(:to_s) %></td>
          <td><%= it_price.try(:get_total_supplier_profit) %></td>
          <td><%= it_price.try(:itinerary).try(:agent).try(:supplier_name) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

