<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Booking ID</Data></Cell>
        <Cell><Data ss:Type="String">Booking Name</Data></Cell>
        <Cell><Data ss:Type="String">Customer Name</Data></Cell>
        <Cell><Data ss:Type="String">Consultant</Data></Cell>
        <Cell><Data ss:Type="String">Save Value</Data></Cell>
        <Cell><Data ss:Type="String">Profit amount</Data></Cell>
        <Cell><Data ss:Type="String">Agent</Data></Cell>
      </Row>
      <% @itinerary_prices.each do |it_price| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= it_price.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= it_price.try(:itinerary).try(:name) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= it_price.try(:itinerary).try(:lead_customer).try(:fullname_with_title) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= it_price.try(:itinerary).try(:user).try(:name) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= it_price.try(:sale_total).try(:to_s) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= it_price.try(:get_total_supplier_profit) %></Data></Cell>
        <Cell><Data ss:Type="String"><%= it_price.try(:itinerary).try(:agent).try(:supplier_name) %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
