<% provide(:title, 'Products') %>

<div class="section">
  <h5 class="text-center">Choose a type of products to view:</h5>
  <ul class="list-of-actions">
    <li>

		    <h5>Day Tour</h5> <a href=<%= products_tours_path %>><button type="button" class="waves-effect waves-light btn right">Tours</button></a>
        <p>Any type of short tour, for example walking city tour, bus tour, guided bike ride, sightseeing tour, guided kayak tour etc</p>
        
    </li>
    <div class="divider"></div>
    <li>
		  <h5>Multi-Day Tour </h5><a href=<%= products_tours_path %>><button type="button" class="waves-effect waves-light btn right">Tours</button></a>
      <p>Longer tours which last for multiple days. For example hiking expeditions or excursions. </p>
    </li>
    <div class="divider"></div>
    <li>
		  <h5>Transfer</h5><a href=<%= products_transfers_path %>><button type="button" class="waves-effect waves-light btn right">Transfers</button></a>
      <p>Tickets which take the holder form one place to another and give a retirn period. for example airport shuttle or boat transfer.</p>
    </li>
    <div class="divider"></div>
    <li>
		  <h5>Flight</h5><a href=<%= products_flights_path %>><button type="button" class="waves-effect waves-light btn right">Flights</button></a>
      <p>Domestic and international flights.</p>
    </li>
    <div class="divider"></div>
    <li>
		  <h5>Cruise</h5><a href=<%= products_cruises_path %>><button type="button" class="waves-effect waves-light btn right">Crusies</button></a>
      <p>A voyage on a ship or boat taken for pleasure or as a holiday and usually calling in at several places.</p>
    </li>
    <div class="divider"></div>
    <li>
		  <h5>Hotel</h5><a href=<%= products_hotels_path %>><button type="button" class="waves-effect waves-light btn right">Hotels</button></a>
      <p>Hotels, motels, hostels, bed and breakfasts etc</p>
    </li>
    <div class="divider"></div>
  </ul>
</div>