
  <div class="tab-pane active" id="type">
  		<h4 class="text-center">Choose a type of product to create:</h4>
  		<ul class="list-of-actions">
  			<li>
        		<h5>Activity</h5>
                <p>Short or specific activities such as skydiving, balloon flight, scuba diving or other sporting activitives</p>
            </li>
            <li>
            	<a href=<%= products_tours_path %>><button type="button" class="btn btn-default">Select</button></a>
        		<h5>Day Tour</h5>
                <p>Any type of short tour, for example walking city tour, bus tour, guided bike ride, sightseeing tour, guided kayak tour etc</p>
            </li>
            <li>
            	<a href=<%= products_tours_path %>><button type="button" class="btn btn-default">Select</button></a>
        		<h5>Multi-Day Tour </h5>
                <p>Longer tours which last for multiple days. For example hiking expeditions or excursions. </p>
            </li>
            <li>
            	<a href=<%= products_transfers_path %>><button type="button" class="btn btn-default">Select</button></a>
        		<h5>Transfer</h5>
                <p>Tickets which take the holder form one place to another and give a retirn period. for example airport shuttle or boat transfer.</p>
            </li>
            <li>
            	<a href=<%= products_flights_path %>><button type="button" class="btn btn-default">Select</button></a>
        		<h5>Flight</h5>
                <p>Domestic and international flights.</p>
            </li>
            <li>
            	<a href=<%= products_cruises_path %>><button type="button" class="btn btn-default">Select</button></a>
        		<h5>Cruise</h5>
                <p>A voyage on a ship or boat taken for pleasure or as a holiday and usually calling in at several places.</p>
            </li>
            <li>
            	<a href=<%= products_hotels_path %>><button type="button" class="btn btn-default">Select</button></a>
        		<h5>Hotel</h5>
                <p>Hotels, motels, hostels, bed and breakfasts etc</p>
            </li>
            <li>
            	<button type="button" class="btn btn-default">Select</button>
        		<h5>Custom product</h5>
                <p>Create a product completely from scratch with all options available. </p>
            </li>
        </ul>
  </div>
             