<p class="bigBigtitle4">Introduction</p>
<div class="border"></div>
<div class="clear75"></div>
<p class="bigBigtitle2">Introduction</p>
<div class="clear50"></div>
<p class="caption">
  <% if @confirmed %>
    <%= @setting.confirmed_introduction.gsub("\n", "<br />").html_safe %>
  <% else %>
    <%= (h (@enquiry.agent ? @enquiry.agent.quote_introduction : @setting.quote_introduction).html_safe).gsub("\n", "<br />").html_safe %>
  <% end %>
</p>

<div class="clear75"></div>
<p class="bigBigtitle2"><%= @confirmed? 'Confirmed Itinerary Details' : 'Quote Details' %></p>
<div class="clear50"></div>
<p class="caption"><strong>Trip Dates: </strong><%= @itinerary.get_trip_date_range %><p>
<p class="caption"><strong>Number of Passengers: </strong><%= @itinerary.enquiry.num_people.to_s %><p>
<p class="caption"><strong>Lead Customer: </strong><%= @itinerary.enquiry.lead_customer.fullname_with_title %><p>
<p class="caption"><strong>Email: </strong><%= @itinerary.enquiry.lead_customer.email %><p>
<% @enquiry.customers.each do |cust| %>
    <% if cust != @enquiry.lead_customer %>
    <p class="caption"><strong>Other Customer/s:</strong>		<%= cust.fullname_with_title %><p>
        <% if !cust.email.blank? %>
            <p class="caption"><strong>Email: </strong><%= cust.email %><p>
        <% end %>
    <% end %>
<% end %>
<p class="caption"><strong>Consultant: </strong><%= @itinerary.enquiry.user.name %><p>

<div class="page-break"></div>
