<p class="bigBigtitle4">Introduction</p>
<div class="border"></div>
<div class="clear45"></div>
<p class="bigBigtitle2">Introduction</p>
<div class="clear50"></div>
<p class="caption">
  <% if @confirmed %>
    <%= (h (@itinerary.agent && !@itinerary.agent.confirmed_introduction.blank? ? @itinerary.agent.confirmed_introduction : @setting.confirmed_introduction).html_safe).to_s.gsub("\n", "<br />").html_safe %>
  <% else %>
    <%= (h (@itinerary.agent && !@itinerary.agent.quote_introduction.blank? ? @itinerary.agent.quote_introduction : @setting.quote_introduction).html_safe).gsub("\n", "<br />").html_safe %>
  <% end %>
</p>


<div class="clear50"></div>
<p class="bigBigtitle2"><%= @confirmed? 'Confirmed Itinerary Details' : 'Quote Details' %></p>
<div class="clear50"></div>
<p class="caption"><strong>Trip Dates: </strong><%= @itinerary.get_trip_date_range %></p>
<p class="caption"><strong>Number of Passengers: </strong><%= @itinerary.enquiry.num_people.to_s %><p>
<p class="caption"><strong>Bedding Type: </strong><%= @itinerary.bedding_type.try(:humanize) %></p>
<p class="caption"><strong>Lead Customer: </strong><%= @itinerary.enquiry.lead_customer.fullname_with_title %></p>
<p class="caption"><strong>Email: </strong><%= @itinerary.enquiry.lead_customer.email %></p>
<% @itinerary.customers.each do |cust| %>
    <% if cust != @itinerary.lead_customer %>
    <p class="caption"><strong>Other Customer/s:</strong>		<%= cust.fullname_with_title %></p>
        <% if !cust.email.blank? %>
            <p class="caption"><strong>Email: </strong><%= cust.email %></p>
        <% end %>
    <% end %>
<% end %>

<div class="clear50"></div>
<p class="bigBigtitle2">Your Consultant</p>
    
<div class="detailsbox">
  <% if @setting.use_dropbox %>
    <%= image_tag(@itinerary.user.profile_image.get_dropbox_image_link , class: "imgdetails") if !!@itinerary.user.profile_image %>
  <% else %>
    <%= image_tag(@itinerary.user.profile_image.image_local_url, class: "imgdetails") if @itinerary.user.profile_image.image_local? %>
  <% end %>



  <div class="contdetails">
    <p class="caption"><strong>Name</strong> <%= @itinerary.user.try(:name) %></p>
    <p class="caption"><strong>Phone</strong> <%= @itinerary.user.try(:phone) %></p>
    <p class="caption"><strong>Email</strong> <%= @itinerary.user.try(:email) %></p>
    <%= @itinerary.user.try(:profile_description).try(:html_safe) %>
  </div>
</div>
<div class="clear45"></div>
<p class="caption"><strong>About us</strong> <%= @setting.try(:about_company).try(:html_safe) %></p>

<div class="page-break"></div>
