<p>
  <strong><%= itinerary_price_item.try(:supplier).try(:supplier_name) %></strong>
</p>

<p>
  <%= 'Address: ' + itinerary_price_item.try(:supplier).try(:address).try(:getDisplayString).to_s %>
</p>

</br />

<p>
  <%= 'Phone: ' + itinerary_price_item.try(:supplier).try(:phone).to_s %>
</p>


<p>
  <%= 'Contact Name: ' + itinerary_price_item.try(:supplier).try(:fullname_with_title).to_s %>
</p>

<p>
  Booking Reference: 
  <span class='booking-color'>
    <%= itinerary_price_item.try(:booking_ref).to_s %>
  </span>
</p>

</br />
