

<% leg_count = 0 %>
<% currCruise = nil %>
<% cruiseDay = 0 %>

<div class="page-break"></div>

<p class="bigBigtitle4">Confirmation of services</p>
<div class="border"></div>
<div class="clear75"></div>
<p class="bigBigtitle2">Trip Details</p>

<% hotelArray = [] %>
<% @itinerary.start_date.upto(@itinerary.get_end_date) do |date|  %>
  <% leg_count = leg_count + 1 %>
  <% dayInfos = ItineraryInfosDay.new %>
  <% dayInfos.set_up_day(@itinerary, date, leg_count) %>
  
  <% if dayInfos.cruise %>
    <% if currCruise == dayInfos.cruise %>
      <% cruiseDay = cruiseDay + 1 %>
    <% else %>
      <% currCruise = dayInfos.cruise %>
      <% cruiseDay = 1 %>    
    <% end %> 
  <% else %>  
    <% currCruise = nil %>
  <% end %>
       
  <div class="detailsbox">
    
  	<p class="headdetails"><%= date.strftime("#{date.day.ordinalize} %b %Y") %><%= " : Day #{leg_count} - #{dayInfos.country}, #{dayInfos.destination}" %></p>
    
    <% if dayInfos.hotel &&  !dayInfos.hotel.product.image_remote_url.blank?  %>
      <div class="imgdetails"><img src=<%= dayInfos.hotel.product.get_dropbox_image_link %> alt="" /></div>
    <% elsif dayInfos.cruise %>
      <% cruiseProduct = dayInfos.cruise.product.getCruiseDay(cruiseDay) %>
      <% if cruiseProduct && cruiseProduct.get_dropbox_image_link %>
        <div class="imgdetails"><img src=<%= cruiseProduct.get_dropbox_image_link %> alt="" /></div>
      <% else %>
        <% if !dayInfos.cruise.product.image_remote_url.blank? %>  
          <div class="imgdetails"><img src=<%= dayInfos.cruise.product.get_dropbox_image_link %> alt="" /></div>
        <% end %>
      <% end %>
    <% end %>
    
  	<div class="contdetails">
  	  
        <% if dayInfos.transfer %>
            <%= render partial: 'itineraries/print_itinerary/trip_detail_item', formats: [:html], locals: {preFix: "", info: dayInfos.transfer}  %>
        <% end %>
        
        <% if dayInfos.cruise %>
          <%= render partial: 'itineraries/print_itinerary/trip_detail_item', formats: [:html], locals: {preFix: "Cruise:", info: dayInfos.cruise.product.getCruiseDay(cruiseDay)}  %>
        <% end %>
        
        <%= render partial: 'itineraries/print_itinerary/trip_detail_item', collection: dayInfos.standard_infos , as: :info,  formats: [:html], locals: {preFix: ""}  %>        
        
      <% if dayInfos.hotel %>
          <% hotelArray << dayInfos.hotel unless hotelArray.include?(dayInfos.hotel) %>
          <%= render partial: 'itineraries/print_itinerary/trip_detail_hotel_cruise_short', formats: [:html], locals: {preFix: "Spend the night at:", info: dayInfos.hotel}  %>
      <% elsif dayInfos.cruise %>
          <% hotelArray << dayInfos.cruise unless hotelArray.include?(dayInfos.cruise) %>
          <%= render partial: 'itineraries/print_itinerary/trip_detail_hotel_cruise_short', formats: [:html], locals: {preFix: "Stay aboard:", info: dayInfos.cruise}  %>
      <% end %>
      
      </div>
  	<div class="clear"></div>
  </div>

<% end %>

<div class="page-break"></div>
    
<p class="bigBigtitle4">Accomadation Details</p>
<div class="border"></div>
<div class="clear75"></div>
<%= render partial: 'itineraries/print_itinerary/trip_detail_hotel_cruise_long', collection: hotelArray , as: :info,  formats: [:html], locals: {preFix: ""}  %>    
<div class="page-break"></div>
