<% if info %>
  <div class="detailsbox">
    <% if info.get_product_image_remote_url && !moreThanOneNight %>
      <div class="imgdetails"><img src=<%= info.get_dropbox_image_link %> alt="" /></div>
    <% else %>
      <div class="imgdetails">&nbsp;</div>
    <% end %>
  
    <div class="contdetails">
      <p class="title"><%= "#{info.get_itinerary_header_details_cruiseday(preFix)}" %></p>

      <% if @confirmed && (info.respond_to? :supplier_name) %>
        <p class="caption-green">
          <strong><%= "Local Contact - #{info.try(:supplier_name)}" %></strong>
        </p>
      <% end %>
      
      <% if info.has_meal_inclusions %>
        <p><strong><%= "Includes: #{info.get_meal_inclusions}" %></strong></p>
      <% end %>  
      
      <% if info.comment_for_customer %>
        <p class="caption"><em><%= "#{info.comment_for_customer}"%></em></p>
      <% end %>  
      
      <div class="clear45"></div>
    </div>
  </div>
  
  <div class="clear"></div>
<% end %>