<% if info %>
  <div class="detailsbox">
    
    <% if type != "transfer" && info.get_product_image_remote_url %>
      <div class="imgdetails"><img src=<%= info.get_dropbox_image_link %> alt="" /></div>
    <% else %>
      <div class="imgdetails">&nbsp;</div>
    <% end %>
      
    <div class="contdetails">
      <p class="title"><% if !info.get_group_classification.blank? %><span class="changecolor"><%= "#{info.get_group_classification} "%></span><% end %><%= "#{info.get_itinerary_header_details(preFix)}" %></p>
      
      <% if @confirmed && (info.respond_to? :supplier_name) %>
        <p class="caption"><%= "Local Contact - #{info.try(:supplier_name)}" %></p>
      <% end %>
      
      <p class="caption"><%= "#{info.get_product_description}"%></p>
      <% if info.comment_for_customer %>
        <p class="caption"><em><%= "#{info.comment_for_customer}"%></em></p>
      <% end %>
      <div class="clear45"></div>
    </div>
  </div>
  
  <div class="clear"></div>
  
<% end %>
