<h4><strong>Itinerary:</strong>		<%= @itinerary.name %></h4>
<strong>Lead Customer:</strong>		<%= @itinerary.enquiry.lead_customer.fullname_with_title %><br>
<% @enquiry.customers.each do |cust| %>
    <% if cust != @enquiry.lead_customer %>
    <strong>Other Customer/s:</strong>		<%= cust.fullname_with_title %><br>
    <% end %>
<% end %>

<h2>Trip Summary</h2> 
<ul>
    <% @itinerary.itinerary_infos.each do |info| %>
        <% if info.start_date == info.end_date || info.end_date.blank? %> 
           <li><%= "#{info.start_date.strftime('%d %b %Y')} - #{info.name}" %></li>
         <% else %>
           <li><%= "#{info.start_date.strftime('%d %b %Y')} to #{info.end_date.strftime('%d %b %Y')} - #{info.get_product_name}, #{info.get_product_destination}" %></li>
        <% end %>
    <% end %>
</ul>

<h2>Trip Details</h2>
<% leg_count = 0 %>
<% currCruise = nil %>
<% cruiseDay = 0 %>
<% @itinerary.start_date.upto(@itinerary.get_end_date) do |date|  %>
    <div class="print_itinerary_leg">
        <% leg_count = leg_count + 1 %>
        <% dayInfos = ItineraryInfosDay.new %>
        <% dayInfos.set_up_day(@itinerary, date, leg_count) %>
        <%= render partial: 'itineraries/print_itinerary/startrow', formats: [:html], locals: {infoday: dayInfos, leg_count: leg_count, date: date}  %>

        <% if dayInfos.leaving_hotel %>
            <%= render partial: 'itineraries/print_itinerary/leaving_hotel', formats: [:html], locals: {info: dayInfos.leaving_hotel, leg_count: leg_count}  %>
        <% end %>
        
        <% if dayInfos.transfer %>
            <%= render partial: 'itineraries/print_itinerary/product', formats: [:html], locals: {leg_count: leg_count, info: dayInfos.transfer}  %>
        <% end %>
        
        <% if dayInfos.cruise %>
          <% if currCruise == dayInfos.cruise %>
            <% cruiseDay = cruiseDay + 1 %>
          <% else %>
            <% currCruise = dayInfos.cruise %>
            <% cruiseDay = 1 %>    
          <% end %> 
        
          <%= render partial: 'itineraries/print_itinerary/cruise',  formats: [:html], locals: {leg_count: leg_count, info: dayInfos.cruise.product.getCruiseDay(cruiseDay)}  %>
        <% else %>  
          <% currCruise = nil %>
        <% end %>
        
        <%= render partial: 'itineraries/print_itinerary/product', collection: dayInfos.standard_infos , as: :info,  formats: [:html], locals: {leg_count: leg_count}  %>
        
        <% if dayInfos.hotel %>
            <%= render partial: 'itineraries/print_itinerary/hotel', formats: [:html], locals: {info: dayInfos.hotel}  %>
        <% end %>    
    </div>    
<% end %>
