
<div class="row">
    <div class="card-panel">
    
    <%= form_for @email_template, :html => {:multipart => true, :class => "form-horizontal"} do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= render partial: 'shared/material_textfield_cols12', locals: { field: "name", f: f } %>
      <%= render partial: 'shared/material_textfield_cols6', locals: { field: "from_email", f: f } %>
      <%= render partial: 'shared/material_textfield_cols6', locals: { field: "from_name", f: f } %>
      <%= render partial: 'shared/material_textfield_cols12', locals: { field: "subject", f: f } %>
      
      <%= render partial: 'shared/material_textareafield_cols12', locals: { field: "body", f: f, name: "Email Body" } %>
      
      
      <div class="row">
      <div class="col s12 input-field">
      <p>
        <%= f.check_box :copy_assigned_user, class: "filled-in" %>
        <%= f.label :copy_assigned_user, "Copy in Assigned User"  %>
      </p>
      </div>
      </div>
      

      <div class="row">
      <div class="col s12">
      <%= f.submit buttontxt, class: "btn right btn-primary" %>
      </div>
      </div>
    <% end %>
   
  </div>
</div>