<% provide(:title, 'Email Templates') %>
<h4>Email Templates</h4>

<a href=<%= new_email_template_path %> ><button type="button" class="btn">Create New Email Template</button></a>

<div id="table-datatables">
 <div class="row">
    <div class="col s12 m12 l12">
      <table id="data-table-simple" class="responsive-table display" >
        <thead>
          <tr>
            <th>Name</th>
            <th>Subject</th>
            <th>From Email</th>
            <th>Triggers</th>
          </tr>
        </thead>
        <tbody>
          <% @email_templates.each do |et| %>
          <tr>
            <td><%= link_to(et.name, et) %></td>
            <td><%= et.subject %></td>
            <td><%= et.from_email %></td>
            <td><%= et.triggers.count %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
