<% provide(:title, "Email Template - " + @email_template.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1 class="page-header">
        <%= "Email Template - " + @email_template.name%>
      </h1>
      <%= link_to "Edit " + @email_template.name + " Settings" , edit_email_template_path(@email_template) %>

      
       <ul class="row profile-details">
            <li class="col-lg-5 col-md-5 col-sm-5 profile-details-field">Name</li>
            <li class="col-lg-6 col-md-6 col-sm-6"><%= @email_template.name %></li><br>
            <li class="col-lg-5 col-md-5 col-sm-5 profile-details-field">From Email</li>
            <li class="col-lg-6 col-md-6 col-sm-6"><%= value_or_dash( @email_template.from_email ) %></li><br>
            <li class="col-lg-5 col-md-5 col-sm-5 profile-details-field">From Name</li>
            <li class="col-lg-6 col-md-6 col-sm-6"><%= value_or_dash( @email_template.from_name ) %></li><br>
            <li class="col-lg-5 col-md-5 col-sm-5 profile-details-field">Email Subject</li>
            <li class="col-lg-6 col-md-6 col-sm-6"><%= value_or_dash( @email_template.subject ) %></li><br>
            <li class="col-lg-5 col-md-5 col-sm-5 profile-details-field">CC to Assigned User</li>
            <li class="col-lg-6 col-md-6 col-sm-6"><%= value_or_dash( translate(@email_template.copy_assigned_user.class) ) %></li><br>
            <li class="col-lg-5 col-md-5 col-sm-5 profile-details-field">Email Body</li>
            <li class="col-lg-6 col-md-6 col-sm-6"><%= value_or_dash( @email_template.body ) %></li><br>
            <li class="col-lg-5 col-md-5 col-sm-5 profile-details-field">Used in #'s triggers</li>
            <li class="col-lg-6 col-md-6 col-sm-6"><%= value_or_dash( @email_template.triggers.count) %></li><br>
         </ul>
    </section>
    
  
  </aside>
</div>

