
<div class="section">
  <div class="card-panel">
  <%= form_for @template, :html => {:multipart => true, :class => "itinerary_form col s12"} do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    

    <div class="row"><%= render partial: 'shared/material_textfield_cols12', locals: { field: "name", f: f } %></div>
    <div class="row">
      <%= render partial: 'shared/material_textareafield_cols6', locals: { field: "includes", f: f, name: "Inclusions", length: "500", ckeditor_field: true } %>
      <%= render partial: 'shared/material_textareafield_cols6', locals: { field: "excludes", f: f, name: "Exclusions", length: "500", ckeditor_field: true} %>
    </div>
    <div class="row"><%= render partial: 'shared/material_textareafield_cols12', locals: { field: "notes", f: f, name: "Notes", length: "500", ckeditor_field: true} %></div>
    
    <%= f.fields_for :itinerary_default_image, @template.itinerary_default_image do |t| %>
      <%= render partial: 'shared/image_field', locals: { imageHolder: @template.itinerary_default_image, f: t, title: "Default Itinerary Image (recomended size 880px x 880px):" } %>
    <% end %>
          
    
      <h5 class="header">Add Products:</h5>
      
      <div id="itinerary_template_infos">
        <div class="sortable">
        
      	  <%= f.fields_for :itinerary_template_infos, :html => {:class => "form-horizontal"}  do |i| %>
        	    <%= render partial: 'itinerary_template_infos', locals: { f: i, parentf: f } %>
          <% end %>
          
           <div id="addNestedAboveHere"></div>

          <div class="links input-field col s1">
            <%= link_to_add_association  f, :itinerary_template_infos, {partial: 'itinerary_template_infos', class: "btn-floating btn-small waves-effect waves-light green"} do %>
              <i class="mdi-content-add"></i>
            <% end %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= render partial: 'copy_template_button' if @template.id %>
          <%= f.submit buttontxt, class: "btn right" %>
        </div>
      </div>
    
  <% end %>
  </div>
</div>
