<div class="nested-fields">
  <div class ="card-panel itinerary-infos">
    <div class="field">
      
      <%= render partial: 'itinerary_templates/itinerary_info_top_row', locals: { f: f } %>

      <div class="row ">
        
        <div class="input-field col offset-s1 s2">
          <%= f.select(:supplier_id, options_from_collection_for_select(f.object.select_suppliers,:id, :supplier_name, f.object.supplier_id),{},{class: "select2-suppliers-noajax browser-default", include_blank: true}) %>
          <label for="supplier_id" class="active">Supplier</label>
        </div>   
        
        <% if f.object.get_product_type == "Cruise" %>
          <% displayProductDetails = 'display:none;' %>
        <% else %>
          <% displayCruiseDetails = 'display:none;' %>
        <% end %>  
        
        <div class="input-field product_details_cont col s8" style=<%=displayProductDetails%> >
          <%= text_field_tag(:product_name, f.object.get_product_details, class: "product_details", :readonly => true  ) %>
          <%= f.label :product_name, "Product Details", class: "active" %>
        </div>
        
        <div class="cruise-info input-field col s8" style=<%=displayCruiseDetails%>>
          <% if f.object.get_product_type == "Cruise" %>
            <% @cruise_legs = f.object.product.cruise_days %>
            <% @cruise = f.object.product %>
            <%= render template: 'itinerary_templates/cruise_legs' %>
          <% end %>
        </div>
        
      </div>

    </div>
  </div>
</div>