<% if f.object.get_product_type == "Cruise" %>
  <% displayProductDetails = 'display:none;' %>
<% else %>
  <% displayCruiseDetails = 'display:none;' %>
<% end %>  
<% if f.object.get_product_type != "Cruise" && f.object.get_product_type != "Hotel" %>
  <% displayRoomDetails = 'display:none;' %>
<% end %>

<div class="nested-fields sortable-item">
  <div class ="card-panel itinerary-infos">
    <div class="field">
      
      <%= render partial: 'itinerary_templates/itinerary_info_top_row', locals: { f: f} %>

      <div class="row ">
        
        <div class="input-field col offset-s1 s2">
          <%= f.select(:supplier_id, options_from_collection_for_select(f.object.select_suppliers,:id, :supplier_name, f.object.supplier_id),{},{class: "select2-suppliers-noajax browser-default", include_blank: true}) %>
          <label for="supplier_id" class="active">Supplier</label>
        </div>
        
        <div class="input-field col s2">
          <div class="room_type_cont" style=<%= displayRoomDetails %> >
          <%= f.select(:room_type, options_from_collection_for_select(f.object.select_room_types,:id, :name, f.object.room_type),{},{class: "select2-room-types-noajax browser-default", include_blank: true}) %>
          <label for="room_type" class="active">Room Type</label>
          </div>
        </div>           
        
        <div class="input-field product_details_cont col s1 offset-s5" style=<%=displayProductDetails%> >
          <% if f.object.get_product_type != "Cruise" %>
            <% @info = f.object %>
            <%= render template: 'itinerary_templates/product_info' %>
          <% end %>
        </div>
        
        <div class="cruise-info input-field col s1 offset-s5" style=<%=displayCruiseDetails%>>
          <% if f.object.get_product_type == "Cruise" %>
            <% @cruise_legs = f.object.product.cruise_days %>
            <% @cruise = f.object.product %>
            <%= render template: 'itinerary_templates/cruise_legs' %>
          <% end %>
        </div>
        
        <div class="input-field col s1">
          <a class="insertItineraryBtn tooltipped btn-floating btn-small right waves-effect waves-light blue"
             data-position="bottom" data-delay="50" data-tooltip="Insert below">
            <i class="mdi-hardware-keyboard-return"></i>
          </a>
        </div>
        
      </div>

    </div>
  </div>
</div>