<% if f.object.get_product_type == "Cruise" %>
  <% displayProductDetails = 'display:none;' %>
<% else %>
  <% displayCruiseDetails = 'display:none;' %>
<% end %>  
<% if f.object.get_product_type != "Cruise" && f.object.get_product_type != "Hotel" %>
  <% displayRoomDetails = 'display:none;' %>
<% end %>


  <div class ="row itinerary_info_top_row_edit">
    
    <%= f.hidden_field :position, :value => f.object.position, class: "iti_position_field" %>
    
    <div class="input-field col s1 valign-wrapper sort_itinerary_item_col">
      <i class="mdi-editor-format-line-spacing small grey-text"></i>
      <h6 class="grey-text valign iti_postion_number"></h6>
    </div>
    
    <div class="input-field col s1">
        <%= f.text_field :days_from_start, class: 'itinerary-days-from-start center-align' %>
        <%= f.label :days_from_start,"Days from start", class: 'active center-align' %>
    </div>  
    
    <div class="input-field col s1">
        <%= f.text_field :length, class: 'itinerary-number-days center-align' %>
        <%= f.label :length,"# Nights", class: 'active center-align' %>
    </div>
    
    <!--<div class="input-field col s2">
      <%#= select_tag(:country, options_for_select([[f.object.get_product_country, f.object.get_product_country_id]],f.object.get_product_country_id),{class: "select2-countries browser-default"}) %>
      <label for="country" class="active">Country</label>
    </div>-->      

    <div class="input-field col s1">
      <%= select_tag(:country, options_from_collection_for_select(select_countries,:id, :name, f.object.get_product_country_id),{class: "select2-countries-noajax browser-default", include_blank: true}) %>
      <label for="country" class="active">Country</label>
    </div>  
    
    <div class="input-field col s1">
      <%= select_tag(:destination, options_for_select([[f.object.get_product_destination, f.object.get_product_destination_id]],f.object.get_product_destination_id),{class: "select2-destinations browser-default"}) %>
      <label for="destination" class="active">Destination</label>
    </div>
    
    <div class="input-field col s1">
      <%= select_tag(:type, options_for_select(["Type", "Cruise", "Flight", "Hotel", "Tour", "Transfer"], disabled: "Type", selected: f.object.get_product_type || "Type"),{class: "type-itineraries"}) %>
      <label for="type">Type</label>
    </div>   
    
    <div class="input-field col s2">
      <%= f.select(:product_id, options_for_select([[f.object.get_product_name, f.object.product_id]],f.object.product_id),{},{class: "select2-products browser-default"}) %>
      <label for="product_id" class="active">Product</label>
    </div>
    
    
    <div class="input-field col s1">
      <%= f.select(:supplier_id, options_from_collection_for_select(f.object.select_suppliers,:id, :supplier_name, f.object.supplier_id),{},{class: "select2-suppliers-noajax browser-default", include_blank: true}) %>
      <label for="supplier_id" class="active">Supplier</label>
    </div>
    
    <div class="input-field col s1">
      <div class="room_type_cont" style=<%= displayRoomDetails %> >
      <%= f.select(:room_type, options_from_collection_for_select(f.object.select_room_types,:id, :name, f.object.room_type),{},{class: "select2-room-types-noajax browser-default", include_blank: true}) %>
      <label for="room_type" class="active">Room Type</label>
      </div>
    </div>           
    
    <div class="input-field product_details_cont col s1" style=<%=displayProductDetails%> >
      <% if f.object.get_product_type != "Cruise" %>
        <% @info = f.object %>
        <%= render template: 'itinerary_templates/product_info' %>
      <% end %>
    </div>
    
    <div class="cruise-info input-field col s1" style=<%=displayCruiseDetails%>>
      <% if f.object.get_product_type == "Cruise" %>
        <% @cruise_legs = f.object.product.cruise_days %>
        <% @cruise = f.object.product %>
        <%= render template: 'itinerary_templates/cruise_legs' %>
      <% end %>
    </div> 
    
    
    <div class="input-field col s1">
        <%= link_to_remove_association  f, { class: "btn-floating btn-small waves-effect waves-light red left"} do %>
          <i class="mdi-content-clear"></i>
        <% end %>
        <a class="insertItineraryBtn tooltipped btn-floating btn-small waves-effect waves-light blue right"
           data-position="bottom" data-delay="50" data-tooltip="Insert below">
          <i class="mdi-hardware-keyboard-return"></i>
        </a>        
    </div>   
  </div>
