<div class="row">
  <%= form_for @customer, :url => {:controller => "suppliers", :action => action}, :html => {:multipart => true, :class => "col s12"} do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.hidden_field :cust_sup, :value => "Supplier" %>
    
    <%= render partial: 'shared/material_textfield_cols12', locals: { field: "supplier_name", f: f } %>

    
      <div class="input-field col s6">
        <%= f.select(:currency_id, options_for_select([[f.object.getSupplierCurrencyDisplay, f.object.currency_id]],f.object.currency_id),{},{class: "select2-currencies browser-default"}) %>
        <%= f.label :currency_id, "Default Currency",  class: 'active' %>
      </div>
    
    
    <%= render partial: 'shared/material_textfield_cols6', locals: { field: "num_days_payment_due", f: f, name: "Num days pay due prior" } %>
    
    <div class="col s12">
      <h6>Contact details</h6>
    </div>
    
    <%= render partial: 'shared/material_textfield_cols6', locals: { field: "first_name", f: f } %>
    <%= render partial: 'shared/material_textfield_cols6', locals: { field: "last_name", f: f } %>

    <div class="input-field col s12">
      <%= f.select :title, options_for_select(titles_list, disabled: "Select Title", selected: f.object.title || "Select Title"), {}, {} %>
    </div>
  
    <%= render partial: 'shared/material_textfield_cols6', locals: { field: "email", f: f } %>
    <%= render partial: 'shared/material_textfield_cols6', locals: { field: "alt_email", f: f } %>
    <%= render partial: 'shared/material_textfield_cols6', locals: { field: "phone", f: f } %>
    <%= render partial: 'shared/material_textfield_cols6', locals: { field: "mobile", f: f } %>
    <%= render partial: 'shared/material_textfield_cols6', locals: { field: "fax", f: f } %>
    <%= render partial: 'shared/material_textfield_cols6', locals: { field: "after_hours_phone", f: f } %>

    <div class="col s12">
      <%= f.fields_for :address do |address| %>
        <%= render :partial => 'shared/address', :locals => {:f => address} %>
      <% end %>
    </div>
    
    <div class="input-field col s12">
      <%= f.submit buttontxt, class: "btn btn-large btn-primary" %>
    </div>
    
  <% end %>
</div>