<% provide(:title, 'Create Carrier') %>
<div class="row-fluid">
  <div class="page-header">
    <h1 class="page-header">Create a Carrier</h1>

    <%= render partial: 'admin/dashboard/tableheader', locals: { entity: Carrier, state: "new" } %>

    <%#= form_for @carrier, :url => admin_carrier_path(@carrier), :html => {:multipart => true} do |f| %>
  <%= form_for [:admin, @carrier], :html => {:multipart => true} do |f| %>
	    <%= render 'shared/error_messages', object: f.object %>
    
    <%= f.label :name %>
    <%= f.text_field :name %>
    
    <%= f.submit "Create a Carrier", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>