<% form_name = local_assigns.key?(:confirmed) ? 'supplier_booking_request' : 'supplier_quote_request' %>
<% form_name = local_assigns.key?(:check) ? 'supplier_booking_check' : form_name %>
<% confirmed = local_assigns.key?(:confirmed) ? confirmed : false %>
<% check = local_assigns.key?(:check) ? check : false %>
<% bulk_action = local_assigns.key?(:bulk_action) %>

<% url = bulk_action ? itinerary_price_emailQuote_bulk_path(itinerary_price_item_id) : itinerary_price_emailQuote_path(params[:id]) %>

<%= form_for :email_settings, url: url, method: :get, html: { id: "#{form_name}_form_#{itinerary_price_item_id}" } do |c| %>

  <div id=<%="#{form_name}_modal_#{itinerary_price_item_id}"%> class="modal modal-fixed-footer white">
    <div class="modal-content">
      <h4><i class="mdi-image-add-to-photos"></i>  <%= form_name.humanize %></h4>

      <ul>
        <li>
          <div class="row">
            <div id="email_quote_container" class="col s12">

              <div class="row">

                <%= hidden_field_tag :itinerary_price_item_id, itinerary_price_item_id %>
                <%= hidden_field_tag :confirmed, confirmed %>
                <%= hidden_field_tag :check, check %>
                <%= hidden_field_tag :itinerary_id, @itinerary.id if @itinerary %>
           

                <%= c.hidden_field :bulk_action, value: bulk_action %>

                <% if !bulk_action %>
                  <% supplier = ItineraryPriceItem.find(itinerary_price_item_id).supplier %>
                  <div class="input-field col s6">
                    <!-- To email address -->
                    <%= c.hidden_field :to_email, value: supplier.email %>
                    <%= c.text_field :to_email, value: supplier.email, disabled: 'disabled' %>
                    <%= c.label :to_email, 'TO:' %>
                  </div>
                <% end %>

                <div class="input-field col s6">
                  <!-- From email address -->
                  <%= c.hidden_field :from_email, value: @from_email %>
                  <%= c.text_field :from_email, value: @from_email, disabled: 'disabled' %>
                  <%= c.label :from_email, 'FROM:' %>
                </div>

              </div>

              <div class="row">
                <div class="input-field col s3 ">
                  <!-- a selection option for either PDF, or Rich Text Document -->
                  <%= c.select :type, options_for_select(['PDF', 'Rich Text Document']), {}, {disabled: true} %>
                  <%= c.label :type, 'Document Type' %>
                </div>

                <div class="input-field col s2 offset-s1">
                  <%= c.check_box :cc_email_send, checked: true %>
                  <%= c.label :cc_email_send, "CC" %>
                </div>
                <div class="input-field col s6">
                  <!-- CC email address -->
                  <%= c.hidden_field :cc_email, value: @cc_email %>
                  <%= c.text_field :cc_email, value: @cc_email %>
                </div>
              </div>
              
              <div class="row">
                <div class="input-field col s12">
                  <!-- body email -->
                  <%= c.text_field :body %>
                  <%= c.label :body, 'Body:' %>
                </div>
              </div>
              
              <% if confirmed || check %>
                <div class="row">
                  <div class="input-field col s12">
                    <!-- flight details -->
                    <%= c.label :flight_details, 'Flight details (mandatory field):' %>
                    <br>
                    <br>
                    <%= c.cktext_area "flight_details_#{itinerary_price_item_id}" %>
                  </div>
                </div>
              <% end %>

            </div>
          </div>
        </li>
      </ul>

    </div>

    <div class="modal-footer">
      <div class="row">
        <div class="col s10">
          <a href="#" id="email_supplier_quote_OK" class="waves-effect waves-lighten-3 green btn-flat" data-confirmed="<%= confirmed %>" data-check="<%= check %>"  data-id="<%= itinerary_price_item_id %>">Send</a>
        </div>
        
        <div class="col s2">
          <a href="#" id="email_quote_CANCEL" class="modal-action modal-close waves-effect waves-lighten-3 red btn-flat">Cancel</a>
        </div>
      </div>  
    </div>
  </div>

<% end %>
