<div class="loading" style="display:none;">Loading...</div>

<div class="row">

  <%= form_for @itinerary_price, :html => {:multipart => true, :class => "itinerary_price_form"} do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>
	  <%= f.hidden_field :itinerary_id %>
	  <%= f.hidden_field :system_default_for_deposits, value: @setting.deposit_percentage, id: "system_default_for_deposits" %>
    <%= f.hidden_field :num_passengers, value: @itinerary.num_passengers, id: "itinerary_num_passengers" %>

    <%= render partial: 'itinerary_details' %>

	  <div class ="card-panel">
	    <h5 class="teal-text"><i class="mdi-action-shopping-cart Tiny"></i> QUOTE DETAILS</h5>
	    
	    <div class="row">
	      <%= render partial: 'shared/material_readonly', locals: { col: "s4", label: "Travel Agent", value: @itinerary_price.get_agent_display } %>
	      <%= render partial: 'shared/material_readonly', locals: { col: "s4", label: "Consultant", value: @itinerary_price.get_consultant_display } %>
	      <div class="input-field  col s4">
	        <%= f.select(:currency_id, options_for_select([[f.object.get_currency_display, f.object.currency_id]],f.object.currency_id),{},{class: "select2-currencies browser-default"}) %>
	      </div>
	    </div>
	    
      <div class="row">
        <%= render partial: 'shared/material_date', locals: { col: "s4", field: "invoice_date", f: f, name: "Invoice Date", value: @itinerary_price.invoice_date } %>
        <%= render partial: 'shared/material_date', locals: { col: "s4", field: "deposit_due", f: f, name: "Deposit Due Date", value: @itinerary_price.deposit_due } %>
        <%= render partial: 'shared/material_date', locals: { col: "s4", field: "final_balance_due", f: f, name: "Final Balance Due Date", value: @itinerary_price.final_balance_due } %>
      </div>
      
      <div class= "row">
        <%= render partial: 'shared/material_numberfield', locals: { col: "s2 deposit_total", field: "deposit", name: "Deposit $", f: f, class_for_input: "grand_deposit_total", step: 0.01 } %>
        <div class="col s2">
        <p>
          <%= f.check_box :deposit_system_default, class: "filled-in deposit_system_default" %>
          <%= f.label :deposit_system_default, "Use system default (#{@setting.deposit_percentage}%)" %>
        </p>
        </div>
        
        <%= render partial: 'shared/material_readonly', locals: { col: "s4 sale_total", label: "Sale Total $", value: number_with_precision(@itinerary_price.sale_total, precision: 2), class_for_input: "grand_total blue-text text-darken-4" } %>
        
        <% if current_user.management && @itinerary_price.customer_invoice_sent %>
          <%= render partial: 'shared/material_readonly', locals: { col: "offset-s1 s1", label: "Date Sent", value: "#{@itinerary_price.customer_invoice_sent_date.try(:strftime, '%d-%b-%Y')}" } %>
        <% else %>
          <div class="input-field offset-s1 col s1"></div>
        <% end %>        
      
         <div class="col s2">
          <% if current_user.management && !f.object.new_record? %>
            <p>
            <%= f.check_box :customer_invoice_sent, class: "filled-in", disabled: @itinerary_price.customer_invoice_sent %>
            <%= f.label :customer_invoice_sent %>
            </p>
          <% end %>
        </div>  
          
      </div>
      
      <div class= "row">
          <% if @itinerary_price.booking_confirmed %>
            <% if  @itinerary_price.get_total_payments_amount > @itinerary_price.deposit %>
                <%= render partial: 'shared/material_readonly', locals: { col: "s2", label: "Deposit Status", value: "PAID" } %>
            <% else %>
                <%= render partial: 'shared/material_readonly', locals: { col: "s2", label: "Deposit Status", value: "Outstanding" } %>
            <% end %>
          
            <%= render partial: 'shared/material_readonly', locals: { col: "offset-s2 s2", label: "Amount Paid", value: number_with_precision( @itinerary_price.get_total_payments_amount, precision: 2) } %>
            <%= render partial: 'shared/material_readonly', locals: { col: "s2", label: "Total Remaining", value: number_with_precision( @itinerary_price.get_total_remaining, precision: 2) } %>
          <% else %>
            <div class="col s8"></div>
          <% end %>
        
        
          <% if current_user.admin && @itinerary_price.booking_confirmed %>
            <%= render partial: 'shared/material_readonly', locals: { col: "offset-s1 s1", label: "Date Confirmed", value: "#{@itinerary_price.booking_confirmed_date.try(:strftime, '%d-%b-%Y')}" } %>
          <% else %>
            <div class="input-field offset-s1 col s1"></div>
          <% end %>
          
          <div class="col s2">
            <% if current_user.admin && !f.object.new_record? %>
              <p>
              <%= f.check_box :booking_confirmed, class: "filled-in", disabled: @itinerary_price.booking_confirmed %>
              <%= f.label :booking_confirmed %>
              </p>
            <% end %>
          </div>
        
      </div>
	  </div>
	  
	  
	  <div class ="card-panel">
	    <h5 class="teal-text"><i class="mdi-maps-local-offer Tiny"></i> CLIENT COSTS</h5>
      <div id="itinerary_price_items">
       
        <%= f.fields_for :itinerary_price_items, :html => {:class => ""}  do |c| %>
        <div class="row">
        	<%= render partial: 'itinerary_price_items', locals: { f: c } %>
        </div>
        <% end %>
    	    
    	  <div class="links">
    	    
    	    <div class="row customer_totals_row">
      	    <div class="input-field col s5">
              <%= link_to_add_association  f, :itinerary_price_items, {partial: 'itinerary_price_items', class: "btn grey waves-effect waves-light"} do %>
                <i class="mdi-content-add-circle left"></i>Add a Line Item
              <% end %>
            </div>
            <strong>
            <%= render partial: 'shared/material_readonly', locals: { col: "offset-s3 s1", label: "Deposit total $", value: number_with_precision(@itinerary_price.deposit,precision: 2), class_for_input: "grand_deposit_total blue-text text-darken-4" } %>
            <%= render partial: 'shared/material_readonly', locals: { col: "s2", label: "Sale Total $", value: number_with_precision(@itinerary_price.sale_total,precision: 2), class_for_input: "grand_total blue-text text-darken-4" } %>
            </strong>            
          </div>
          
        </div>
          
          
        <div class="row">
          <div class="input-field col s2" >
            <% if  !@itinerary_price.new_record? && @itinerary_price.has_uninvoiced_customer_items %>
              <a href=""  id="customer_create_invoice_dummy" class="waves-effect waves-light btn left deep-purple darken-1" >Create Invoice</a>
              <a href="<%= invoice_itinerary_prices_path @itinerary_price %>" style="display:none;"  id="customer_create_invoice" ></a>
            <% end %>
          </div>          
          
          <div class="input-field col s2 center-align">
            <% if !@itinerary_price.invoices.empty? %>
              <a href="<%= invoice_deposit_itinerary_prices_path @itinerary_price, format: :pdf %>"  target="_blank" class="waves-effect waves-light btn left deep-purple darken-1" >View Deposit</a>
            <% end %>
          </div>
          <div class="input-field col s2 center-align">
            <% if !@itinerary_price.invoices.empty? %>
              <a href="<%= invoice_deposit_old_itinerary_prices_path @itinerary_price, format: :pdf %>"  target="_blank" class="waves-effect waves-light btn left deep-purple darken-1" >View Deposit OLD</a>
            <% end %>
          </div>
          
          <div class="input-field col s2 center-align">
            <% if !@itinerary_price.invoices.empty? %>
              <a href="<%= invoice_remaining_itinerary_prices_path @itinerary_price, format: :pdf %>"  target="_blank" class="waves-effect waves-light btn left deep-purple darken-1" >View Remaining</a>
            <% end %>
          </div>
          
          <div class="input-field col s2 center-align">
            <% if !@itinerary_price.invoices.empty? %>
              <a href="<%= payments_itinerary_prices_path @itinerary_price %>"  target="_blank" class="waves-effect waves-light btn left deep-purple darken-1" >View Payments</a>
            <% end %>
          </div>

          <div class="input-field col s2 center-align">
              <a id="saveCustomerItineraryPriceBtn"  href=""  class="waves-effect waves-light btn green right" >SAVE ALL</a>
          </div> 
        </div>
        
      </div>
	  </div>
	  
	  <div class ="card-panel">
	    <h5 class="teal-text"><i class="mdi-action-add-shopping-cart Tiny"></i> SUPPLIER COSTS</h5>
       <div id="supplier_itinerary_price_items">
         
      	  <%= f.fields_for :supplier_itinerary_price_items, :html => {:class => ""}  do |c| %>
      	    <div class="row">
        	  <%= render partial: 'supplier_itinerary_price_items', locals: { f: c } %>
        	  </div>
          <% end %>
    	    
    	    <div class="links">
    	      <div class="row supplier_totals_row">
      	      <div class="input-field col s3">
                <%= link_to_add_association  f, :supplier_itinerary_price_items, {partial: 'supplier_itinerary_price_items', class: "btn grey waves-effect waves-light"} do %>
                  <i class="mdi-content-add-circle left"></i>Add a Line Item
                <% end %>
              </div>  
              <strong>
              <%= render partial: 'shared/material_readonly', locals: { col: "offset-s3 s1", label: "Sale Total $", value: number_with_precision(@itinerary_price.get_total_supplier_price,precision: 2), class_for_input: "grand_supplier_total blue-text text-darken-4" } %>
              <%= render partial: 'shared/material_readonly', locals: { col: "s1", label: "#{@setting.currencyCode} total $", value: number_with_precision(@itinerary_price.get_total_supplier_sell_total,precision: 2), class_for_input: "grand_supplier_sell_total blue-text text-darken-4" } %>
              <%= render partial: 'shared/material_readonly', locals: { col: "offset-s2 s1", label: "Sell Price $", value: number_with_precision(@itinerary_price.get_total_incl_supplier_markup,precision: 2), class_for_input: "grand_incl_markup_total blue-text text-darken-4" } %>
              <%= render partial: 'shared/material_readonly', locals: { col: "s1", label: "Profit $", value: number_with_precision(@itinerary_price.get_total_supplier_profit,precision: 2), class_for_input: "grand_profit_total green-text" } %>
              </strong>                
             
            </div>
          </div>
          
        <div class="row">
          <div class="input-field col s2" >
            <% if  !@itinerary_price.new_record? && @itinerary_price.has_uninvoiced_supplier_items %>
            <%# hidden at the moment as need to add new action in controller - then sort JS to call non dummy link, and remove false above %>
              <a href=""  id="supplier_create_invoice_dummy" class="waves-effect waves-light btn left deep-purple darken-1" >Create Invoice</a>
              <a href="<%= invoice_supplier_itinerary_prices_path @itinerary_price %>" style="display:none;"  id="supplier_create_invoice" ></a>              
            <% end %>
          </div>  
          
          <div class="input-field col s2 offset-s8 center-align">
              <a id="saveSupplierItineraryPriceBtn"  href=""  class="waves-effect waves-light btn green right" >SAVE ALL</a>
          </div>           
        </div>
          
      </div>
	  </div>
	  
    <div class="row">
      <div class="input-field col s6" >
        <a href="<%= edit_itinerary_path @itinerary %>"  class="waves-effect waves-light btn left deep-purple darken-1" >Back to Itinerary</a>
      </div>
        <div class="input-field col s6" style="display:none" >
          <%= f.submit buttontxt, class: "btn itinerary_price_submit_btn right"%>
        </div>
    </div>

    
     <div class="fixed-action-btn" style="bottom: 45px; right: 15px;">
        <a id="saveItineraryPriceFabBtn" class="btn-floating btn-large waves-effect green tooltipped" 
        data-position="left" data-delay="50" data-tooltip="Save" >
          <i class="large mdi-content-save"></i>
        </a>
      </div>  
      
  <% end %>
	 
</div>

<!-- Email Supplier Quote Modal for every supplier itinerary price item -->
<% @itinerary_price.supplier_itinerary_price_items.each do |item| %>
  <% if item.id && item.try(:supplier).try(:email) %>
    <%= render partial: 'emailQuote_modal', locals: { itinerary_price_item_id: item.id } %>
    <%= render partial: 'emailQuote_modal', locals: { itinerary_price_item_id: item.id, confirmed: true } %>
    <!-- <%= render partial: 'flight_details_modal', locals: { itinerary_price_item_id: item.id } %> -->
  <% end %>
<% end %>
