<% if !f.object.invoice %>
  <div class="row">
    <div class="nested-fields">
      <div class="field  col s12">
        <%= render partial: 'shared/material_textfield', locals: { col: "s3", field: "description", f: f } %>
        <%= render partial: 'shared/material_date', locals: { col: "s1", field: "start_date", f: f, name: "Start Date", value: f.object.start_date } %>
        <%= render partial: 'shared/material_date', locals: { col: "s1", field: "end_date", f: f, name: "End Date", value: f.object.end_date } %>
        <%= render partial: 'shared/material_numberfield', locals: { col: "s1", field: "quantity", f: f, class_for_input: 'qty_field' } %>
        <%= render partial: 'shared/material_numberfield', locals: { col: "s1", field: "item_price", name: "Item Price $", f: f, class_for_input: 'price_field', step: 0.01  } %>
        <%= render partial: 'shared/material_percentfield', locals: { col: "s1", field: "deposit_percentage", name: "Deposit %", f: f, value: f.object.deposit_percentage,
        class_for_input: 'deposit_percent_field' , step: 1} %>
        <%= render partial: 'shared/material_numberfield', locals: { col: "s1", name: "Deposit $", field: 'deposit', f: f,class_for_input: 'deposit_price_field grey-text text-darken-1 grey lighten-4', readonly: true} %>
        <%= render partial: 'shared/material_numberfield', locals: { col: "s2", field: "price_total", name: "Total Price $", f: f, class_for_input: 'price_total_field', step: 0.01 } %>
        <div class="input-field col s1 center-align">
          <%= link_to_remove_association  f, { class: "btn-floating btn-tiny waves-effect waves-light red"} do %>
            <i class="mdi-content-clear"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% else %>
<%# READONLY - cannot edit once invoice been submitted %>
  <div class="row">
    <div class="nested-fields">
      <div class="field  col s12">
        <%= render partial: 'shared/material_readonly', locals: { col: "s3", label: "Description", f: f, value: f.object.description } %>
        <%= render partial: 'shared/material_readonly', locals: { col: "s1", label: "Start Date", f: f, name: "Start Date", value: f.object.start_date } %>
        <%= render partial: 'shared/material_readonly', locals: { col: "s1", label: "End Date", f: f, name: "End Date", value: f.object.end_date } %>
        <%= render partial: 'shared/material_readonly', locals: { col: "s1", label: "Quantity", f: f, value: f.object.quantity } %>
        <%= render partial: 'shared/material_readonly', locals: { col: "s1", label: "Item Price", name: "Item Price $", f: f, value: f.object.item_price  } %>
        <%= render partial: 'shared/material_readonly', locals: { col: "s1", label: "Deposit Percentage", name: "Deposit %", f: f, value: f.object.deposit_percentage } %>
        <%= render partial: 'shared/material_readonly', locals: { col: "s1", label: "Deposit $", field: 'deposit', f: f, class_for_input: 'deposit_price_field grey-text text-darken-1 grey lighten-4', value: f.object.deposit } %>
        <%= render partial: 'shared/material_readonly', locals: { col: "s2", label: "Price Total", name: "Total Price $", f: f,  value: f.object.price_total } %>
        <div class="input-field col s1 center-align">
          <a href="<%= invoice_deposit_itinerary_prices_path f.object.invoice, format: :pdf %>"  class="btn-floating btn-tiny waves-effect waves-light purple" ><i class="mdi-maps-local-atm"></i></a>
          <a href="<%= invoice_remaining_itinerary_prices_path f.object.invoice, format: :pdf %>"  class="btn-floating btn-tiny waves-effect waves-light purple" ><i class="mdi-editor-attach-money"></i></a>
        </div>
      </div>
    </div>
  </div>
<% end %>