

<div class="row">
  <div class="nested-fields">
    <div class="field  col s12">
      
      <div class="input-field col s1">
        <%= f.select(:supplier_id, options_from_collection_for_select(@itinerary.select_suppliers_for_pricing, :id, :supplier_name, f.object.supplier_id),{include_blank: true},{class: "select2-suppliers supplier-itinerary-price browser-default"}) %>
        <label for="supplier_id" class="active">Supplier</label>
      </div>
    
      <%= render partial: 'shared/material_textfield', locals: { col: "s1", field: "booking_ref", f: f, name: "Confirmation Ref." } %>
      

        <%= render partial: 'shared/material_readonly', locals: { col: "s1", label: "Currency", value: f.object.currencyCode,  class_for_input: "currency_code grey-text text-darken-1 grey lighten-4"} %>

    	  <%= f.hidden_field :currency_id, value: f.object.currencyID, class: "currency_id" %>


      <%= render partial: 'shared/material_numberfield', locals: { col: "s1", field: "sell_currency_rate", f: f, value: f.object.get_sell_currency_rate, class_for_input: "sell_currency_rate grey-text text-darken-1 grey lighten-4", step: 0.01, readonly: true } %>
      
      <%= render partial: 'shared/material_numberfield', locals: { col: "s1", value: @itinerary.num_passengers, field: "Num Pax", f: f, class_for_input: "supplier_qty_field grey-text text-darken-1 grey lighten-4", readonly: true } %>
      
      <%= render partial: 'shared/material_numberfield', locals: { col: "s1", name: "Per Person Cost", field: "item_price", f: f, class_for_input: "supplier_item_price_field", step: 0.01 } %>
      
      <%= render partial: 'shared/material_numberfield', locals: { col: "s1", name: "Invoice Amount", field: "price_total", f: f, class_for_input: "supplier_sell_total", step: 0.01 } %>
      
      <%= render partial: 'shared/material_numberfield', locals: { col: "s1", name: "#{@setting.currencyCode} Price $", field: "exchange_rate_total", f: f, class_for_input: "supplier_exchange_total grey-text text-darken-1 grey lighten-4", step: 0.01, readonly: true } %>
      
      <%= render partial: 'shared/material_percentfield', locals: { col: "s1", field: "markup_percentage", f: f, name: "Mark up %", value: f.object.markup_percentage, class_for_input: 'markup_percent_field', step: 1 } %>
      
      <%= render partial: 'shared/material_numberfield', locals: { col: "s1", field: "markup", name: "Mark up $", f: f, class_for_input: 'markup_price_field grey-text text-darken-1 grey lighten-4',  step: 0.01, readonly: true } %>
      
      <%= render partial: 'shared/material_numberfield', locals: { col: "s1", name: "Sell Price $", field: "total_incl_markup", f: f, class_for_input: "supplier_total_inc_markup_field grey-text text-darken-1 grey lighten-4", step: 0.01, readonly: true  } %>
      
      <div class="input-field col s1 center-align">
        <%= link_to_remove_association  f, { class: "btn-floating btn-tiny waves-effect waves-light red"} do %>
          <i class="mdi-content-clear"></i>
        <% end %>
        <% if f.object.try(:supplier).try(:email).try(:presence) %>
          <a class="btn-floating btn-small waves-effect waves-light indigo right supplier-show-hide-btn" >
            <i class="mdi-navigation-unfold-less"></i>
          </a>
        <% end %>
      </div>


      <div class="row suplier_buttons_row" style="display:none">
        <div class="field col s12">
          <% if f.object.id && f.object.try(:supplier).try(:email) %>
            <a href="<%= itinerary_price_printQuote_path(params[:id], itinerary_price_item_id: f.object.id, format: :pdf) %>" class="waves-effect waves-light btn deep-purple darken-1" >
              View Quote Request
            </a>
            <a
              id="EmailQuoteBtn"
              class="waves-effect waves-light btn deep-purple darken-1 modal-trigger"
              data-delay="50"
              href=<%="#email_quote_modal_#{f.object.id}"%>>

              Email Quote Request
            </a>
            <a class="waves-effect waves-light btn deep-purple darken-1 modal-trigger"
              data-delay="50"
              href=<%="#flight_details_modal_#{f.object.id}"%>>

              View Confirmation
            </a>
            <a class="waves-effect waves-light btn deep-purple darken-1 modal-trigger"
              data-delay="50"
              href=<%="#email_confirmed_quote_modal_#{f.object.id}"%>>

              Email Confirmation
            </a>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
