<div class="row"> 
  <div class="nested-fields">
    <div class="field  col s12">
      
      <div class="input-field col s1">
        <%= f.select(:supplier_id, options_from_collection_for_select(@itinerary.select_suppliers, :id, :supplier_name, f.object.supplier_id),{include_blank: true},{class: "select2-suppliers supplier-itinerary-price browser-default"}) %>
        <label for="supplier_id" class="active">Supplier</label>
      </div>    
    
      <%= render partial: 'shared/material_textfield', locals: { col: "s1", field: "booking_ref", f: f, name: "Confirmation Ref." } %>
      
      <div class="input-field col s2">
            <%= f.select(:currency_id, options_for_select([[f.object.currencyDisplay, f.object.currencyID]],f.object.currencyID),{},{class: "select2-currencies supplier-itinerary-price browser-default"}) %>
        <label for="currency_id" class="active">Currency</label>
      </div>   
      <%= render partial: 'shared/material_numberfield', locals: { col: "s1", field: "sell_currency_rate", f: f, class_for_input: "sell_currency_rate", step: 0.01 } %>
      <%= render partial: 'shared/material_numberfield', locals: { col: "s1", field: "quantity", f: f, class_for_input: "supplier_qty_field" } %>
      <%= render partial: 'shared/material_numberfield', locals: { col: "s1", field: "item_price", f: f, class_for_input: "supplier_item_price_field", step: 0.01 } %>
      <%= render partial: 'shared/material_percentfield', locals: { col: "s1", field: "markup_percentage", f: f, name: "Mark up %", value: f.object.markup_percentage, class_for_input: 'markup_percent_field' } %>
      <%= render partial: 'shared/material_readonly', locals: { col: "s1", label: "Mark up $", class_for_input: 'markup_price_field', value: 0} %>
      <%= render partial: 'shared/material_numberfield', locals: { col: "s2", field: "price_total", name: "Total Price $", f: f, class_for_input: 'supplier_total_field' } %>
      <div class="input-field col s1 center-align">
        <%= link_to_remove_association  f, { class: "btn-floating btn-tiny waves-effect waves-light red"} do %>
          <i class="mdi-content-clear"></i>
        <% end %>
      </div>      
    </div>
  </div>
</div>