
<style type="text/css">
* { margin:0; padding:0;} body { background:#fff;}
.bodWrap { width:902px; margin:0 auto; padding:45px; background:#fff; box-shadow:0 10px 5px 0 #b3b5ba; font-family: 'Droid Sans';}
.tc { text-align:center;}
.listing { margin:67px 0 110px 0;} .m0 { margin-top:0;}
.listing li { list-style:inside; font-size:20px; color:#424043; line-height:28px; padding:6px 0 10px 14px; font-family: 'Droid Sans';}
.listing li:nth-child(odd) { background:#f3f8f1;}

.bodWrap { -webkit-print-color-adjust:exact;}

.header { min-height:220px; position:relative;}
.logo { position:absolute; right:22px; top:0; width:300px;} .clear100 { clear:both; height:100px;} .clear50 { clear:both; height:30px;} .clear45 { clear:both; height:45px;}
.clear90 { clear:both; height:90px;} .clear75 { clear:both; height:75px;} .clear60 { clear:both; height:60px;} .clear155 { clear:both; height:155px;}

.bigBigtitle1 { color:#9cbd52; font-size:55px; line-height:30px; font-family: 'Raleway'; font-weight: 400;}
.bigBigtitle2 { color:#414143; font-size:34px; line-height:30px; font-family: 'Raleway'; font-weight: 400;}
.bigBigtitle3 { color:#404042; font-size:28px; line-height:30px; font-family: 'Raleway'; font-weight: 400;}
.bigBigtitle4 { color:#9cbd52; font-size:40px; line-height:30px; font-family: 'Raleway'; font-weight: 400; padding-bottom:30px;}
.changecolor { color:#404042;}

.border { border-top:1px solid #000; padding-top: 12px; text-align: right;}
.detailsbox { margin:40px 0;} .headdetails { color:#414143; font-size:28px; font-weight:800; margin-bottom:40px; page-break-inside: avoid;}
.imgdetails { float:left; margin-right:40px; width:260px;} .contdetails { float:left; width:65%;} .clear { clear:both;}
.imgdetails img{width:100%;}
.title { color:#97bd4e; font-size:20px; line-height:30px; font-weight: 800;}
.title2 { color:#97bd4e; font-size:18px; line-height:30px; font-weight: 800;}
.caption { color:#424043; font-size:18px; line-height:28px; font-weight: 400;}
.page-break { display:block; clear:both; page-break-after:always; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: 0.3px solid #ddd;
}

td {
  border: 0.3px solid #ddd;
  padding: 4px;
  line-height: 1.42857143;
  vertical-align: top;
  font-size: 12px;
}

</style>

<!--  google font  -->
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" type="text/css">
<meta charset='utf-8' />

<% confirmed = !!defined?(@confirmed) ? @confirmed : params[:confirmed].presence %>
<% check = !!defined?(@check) ? @check : params[:check].presence %>

<body>
<div class="bodyWrap">

  <div class="header">
    <a class="imgdetails" href="#"><%= image_tag(@itinerary.get_company_logo_image_link, :class => "") %></a>
  </div>

  <p><h4>Dear <%= @supplier.supplier_name %>,</h4></p>
  <div class="clear45"></div>
  <p>
    <% if check %>
      Our clients are soon to depart, can you please check the following service match your confirmation for booking number <%= @itinerary.nice_id %> and <%= @itinerary.try(:lead_customer).try(:last_name) %>. <strong>If there are any discrepancies please notify us immediately:<strong>
    <% elsif confirmed %>
      Please confirm the following services for booking number <%= @itinerary.id %> and <%= @itinerary.try(:lead_customer).try(:last_name) %>:
    <% else %>
      Please quote the following services for quote number <%= @itinerary.id %> and <%= @itinerary.try(:lead_customer).try(:last_name) %>:
    <% end %>
  </p>
  <div class="clear45"></div>
  <p><h4>Product details:</h4></p>
  <table>
    <thead>
      <tr>
        <td>Supplier</td>
        <td>Start</td>
        <td>End</td>
        <td>Country</td>
        <td>Destination</td>
        <td>Product Type</td>
        <td>Product</td>
        <td>Room</td>
        <td>Classification</td>
        <td>Bedding</td>
      </tr>
    </thead>
    <% @itinerary_infos.each do |info| %>
      <tr>
        <td><%= info.try(:supplier).try(:supplier_name) %></td>
        <td><%= info.try(:start_date).try(:strftime, "%d-%m-%Y") %></td>
        <td><%= info.try(:end_date).try(:strftime, "%d-%m-%Y") %></td>
        <td><%= info.try(:get_product_country) %></td>
        <td><%= info.try(:get_product_destination) %></td>
        <td><%= info.try(:get_product_type) %></td>
        <td><%= info.try(:get_product_name) %></td>
        <td><%= (info.try(:get_product_type) && ['Hotel', 'Cruise'].include?(info.try(:get_product_type))) ? info.try(:get_room_type_name) : "" %></td>
        <td><%= (info.try(:get_product_type) && ['Tour', 'Transfer'].include?(info.try(:get_product_type))) ? info.try(:get_room_type_name) : "" %></td>
        <td><%= (info.try(:get_product_type) && ['Hotel', 'Cruise'].include?(info.try(:get_product_type))) ? info.try(:itinerary).try(:bedding_type) : "" %></td>
      </tr>
      <% if info.try(:get_product_type) != 'Hotel' %>
        <tr>
          <td colspan="10">
            <%= info.try(:get_product_description) %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <br>

  <p><h4>Customer details:</h4></p>
  <% if confirmed || check %>
    <table>
      <thead>
        <tr>
          <td>Name as per Passport</td>
          <td>Passport Number</td>
          <td>Nationality</td>
          <td>Expiry Date</td>
          <td>Date of Birth</td>
          <td>Dietary Requirement</td>
          <td>Medical</td>
          <td>Travel Insurance</td>
        </tr>
      </thead>
      <% @itinerary.customers.each do |customer| %>
        <tr>
          <td><%= customer.try(:fullname) %></td>
          <td><%= customer.try(:passport_num) %></td>
          <td><%= customer.try(:nationality) %></td>
          <td><%= customer.try(:expiry_date).try(:strftime, "%d-%m-%Y") %></td>
          <td><%= customer.try(:born_on).try(:strftime, "%d-%m-%Y") %></td>
          <td><%= customer.try(:dietary_requirements) %></td>
          <td><%= customer.try(:medical_information) %></td>
          <td><%= customer.try(:insurance) %></td>
        </tr>
      <% end %>
    </table>
    <br>
  <% else %>
    <% @itinerary.customers.each do |customer| %>
      <p><%= customer.try(:fullname_with_title) %></p>
    <% end %>
  <% end %>

  <% if confirmed || check_days_from_start_seq %>
    <br>
    <p><h4>Flight details:</h4></p>
    <% if check %> <strong>These will have likely changed:</strong> <% end %>
    <%= @flight_details.try(:html_safe) %>
  <% end %>

</div>
</body>
