<!-- Start card -->

<!--  -->
  <div class="block span3 block-head-btn new">
    <p class="block-heading"> Bird, Evangeline <span class="pull-right">
      <a href= <%= enquiry_path enquiry %> >
        <button class="btn btn-info" href="#myModal1" data-toggle="modal"> <i class="fa fa-cog"></i> </button>
      </a>
      </span> </p>
    <div class="block-body">
      <p> <span><i class="fa fa-envelope"></i></span><span class="body"> <%= enquiry.customer_email %></span></p>
      <p> <span><i class="fa fa-tag"></i> </span><span class="body"><%= enquiry.name %></span></p>
      <p> <span><i class="fa fa-map-marker"> </i> </span><span class="body"> <%= enquiry.name %> </span></p>
      <p> <span><i class="fa fa-comment"> </i> </span><span class="label label-danger">Email, 7 March 2014</span> </p>
      <p> <span><i class="fa fa-money"> </i> </span><span class="body"><%= number_to_currency(enquiry.amount, precision: 0) %></span></p>
      <div class="progress">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow=<%= enquiry.percent_complete %> aria-valuemin="0" aria-valuemax="100" style="width: 
          <%=  number_to_percentage(enquiry.percent_complete, precision: 0) %>;"><%= number_to_percentage(enquiry.percent_complete, precision: 0) %>
        </div>
      </div>
    </div>
  </div>

<!-- End card --> 
