
<% if  @enquiry.errors.any? %>
  <% custNum = params[:existing_customer] %>
  <% custName = Customer.find(custNum).fullname unless custNum.blank? %>
  <input type='hidden' name='input' id='test' style='width:300px;' data-init-text='<%= custName %>' value= '<%= custNum.to_s %>' >

<% end %>
<%
  if params[:user_type] == "New"
     newCustDisplay = "display:block;"
     existCustDisplay = "display:none;"
   elsif params[:user_type] == "Existing"
     newCustDisplay = "display:none;"
     existCustDisplay = "display:block;"
   else
     newCustDisplay = "display:block;"
     existCustDisplay = "display:none;"
  end
  @enquiry.assigned_to ? ass_user = @enquiry.assigned_to : ass_user = current_user.id

  if params[:existing_customer] && params[:existing_customer] > '0' then
     existCust = Customer.find(params[:existing_customer]).first_name + " " + Customer.find(params[:existing_customer]).last_name
  end
%>

  <h4 class="header2">Customer Details</h4>
  <div class="row">
  
  <%= form_for @enquiry, :html => {:multipart => true, :class => "col s12"} do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>
	  
	  
	  <%= f.fields_for :customers, :html => {:class => "form-horizontal"}  do |c| %>
	  
      <div class="row">
        <%= render partial: 'shared/material_textfield_cols6', locals: { field: "first_name", f: c } %>
        <%= render partial: 'shared/material_textfield_cols6', locals: { field: "last_name", f: c } %>
      </div>

      <div class="row">
        <%= render partial: 'shared/material_emailfield_cols6', locals: { field: "email", f: c } %>
        <%= render partial: 'shared/material_textfield_cols6', locals: { field: "phone", f: c } %>
      </div>
    <% end %>
    
    <h4 class="header2">Enquiry Details</h4>
      <div class="row">
        <%= render partial: 'shared/material_textfield_cols12', locals: { field: "name", f: f, name: "Enquiry Name" } %>
      </div>

      <div class="row">
        <%= render partial: 'shared/material_date_cols6', locals: { field: "est_date", f: f, name: "Departure Date"} %>
        <%= render partial: 'shared/material_date_cols6', locals: { field: "fin_date", f: f, name: "Return Date"} %>
      </div>
      
      <div class="row">
        <div class="input-field col s6">
          <%= f.select :standard, options_for_select(["Budget", "Comfort", "Superior", "Deluxe", "Boutique"], @enquiry.standard ), {} %>
          <%= f.label :standard, "Select Class" %>
        </div>
        <%= render partial: 'shared/material_textfield_cols6', locals: { field: "num_people", f: f } %>
      </div>
      <p>
        <%= f.check_box :insurance, class: "filled-in" %>
        <%= f.label :insurance, "Insurance Required"  %>
      </p>
  
      <div class="row">
         <%= render partial: 'shared/material_textfield_cols6', locals: { field: "amount", f: f, name: "Booking Value"} %>
        <div class="input-field col s6">
          <%= f.select :probability, options_for_select(["High", "Medium", "Low"], @enquiry.probability ), {} %>
          <%= f.label :probability %>
        </div>
      </div>
  
  
  
      <div class="row">
        <div class="input-field col s6">
          <%= hidden_field_tag(:assigned_to, ass_user, id: 'usersearch', class: 'ajax', style: 'width: 100%;') %>
          <%= f.label :assigned_to, "Assign To"  %>
        </div>
        
        <%= render partial: 'shared/material_date_cols6', locals: { field: "reminder", f: f, name: "Set Reminder" } %>
      </div>

    
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_area :background_info, rows: "3", class: "input-field col s12", length: "120" %>
          <%= f.label :background_info, "Additional Details", class: "col-sm-3 control-label" %>
          <span class="character-counter" style="float: right; font-size: 12px; height: 1px;"></span>
        </div>
      </div>
 
     <div class="row">
      <div class="input-field col s6">
        <%= hidden_field(:enquiry, :agent_id, id: 'agent_select', class: 'select2 ajax', style: 'width: 100%;' ) %>
        <%= f.label :agent_id, "Agent" %>
      </div>
    </div>

      <%= f.hidden_field :user_id, :value => current_user.id %>
      <div class="row">
        <div class="input-field col s12">
            <%#= f.submit buttontxt + '<i class="mdi-content-send right"></i>', class: "btn cyan waves-effect waves-light right" %>
            <%= button_tag( :class => "btn cyan waves-effect waves-light right") do %>
              <%= buttontxt %><i class="mdi-content-send right"></i>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>
  




