<% itinerary_has_been_created = !@enquiry.itineraries.empty? %>

<div class="row">

  <%= form_for @enquiry, :html => {:multipart => true, :class => "col s12"} do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>
	  <%= render partial: 'shared/error_messages', collection: f.object.customers, as: :object %>
	  
	  <%= f.hidden_field :user_id, :value => current_user.id %>

	  <div class ="card-panel">

	    <div id="customers">
	    
	      <h4 class="header2">Customer Details</h4>
	      
    	  <%= f.fields_for :customers, :html => {:class => "col s12"}  do |c| %>
    	    <div class="row">
      	    <%= render partial: 'customer', locals: { f: c, main_object: @enquiry} %>
      	  </div>
        <% end %>
  	    
  	    <div class="links">
    	    <div class="row">
    	      <div class="offset-s10 col s2">
              <%= link_to_add_association f, :customers, {partial: 'customer', render_options: { locals: { main_object: @enquiry } }, class: "btn-floating btn-small waves-effect waves-light green right"} do %>
                <i class="mdi-content-add"></i>
              <% end %>
              <a class="btn-floating btn-small waves-effect waves-light blue modal-trigger-custsearch right" href="#cust_search_modal">
                <i class="mdi-action-account-circle"></i>
              </a>
            </div>
          </div>
        </div>
        
      </div>
      
      <div class="row">
        <div class="input-field col s6">
          <%= f.select(:agent_id, options_for_select([[f.object.agent_name, f.object.agent_id]],f.object.agent_id),{},{class: "select2-agents browser-default"}) %>
          <%= f.label :agent_id, "Agent",  class: 'active' %>
        </div>
      </div>
      
    </div>
      
    <div class ="card-panel">
      <h4 class="header2">Enquiry Details</h4>
      
      <div class="row">
        <%= render partial: 'shared/material_textfield_cols12', locals: { field: "name", f: f, name: "Enquiry Name"} %>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= f.select :destination_id, content_tag(:option, 'Select Destination...', value: "") + options_from_collection_for_select(Destination.all.order('name ASC'), "id", "name", selected: @enquiry.destination_id), {}, class: 'select2-enquiry-destinations browser-default' %>
          <%= f.label :destination_id, "Destination",  class: 'active' %>
        </div>
      </div>

      <div class="row">
        <%= render partial: 'shared/material_date_cols6', locals: { field: "est_date", f: f, name: "Departure Date", value: @enquiry.est_date } %>
        <%= render partial: 'shared/material_date_cols6', locals: { field: "fin_date", f: f, name: "Return Date", value: @enquiry.fin_date } %>
      </div>
      
      <div class="row">
        <div class="input-field col s6">
          <%= f.select :standard, options_for_select(["Class", "Budget", "Comfort", "Superior", "Deluxe", "Boutique"],
              disabled: "Class", selected: f.object.standard || "Class" ), {} %>
        </div>

        <%= render partial: 'shared/material_textfield_cols6', locals: { field: "num_people", f: f, name: "Number Traveling" } %>
      </div>

      <p>
        <%= f.check_box :insurance, class: "filled-in" %>
        <%= f.label :insurance, "Insurance Required"  %>
      </p>

  
      <div class="row">
         <%= render partial: 'shared/material_textfield_cols6', locals: { field: "amount", f: f, name: "Booking Value"} %>
         
        <div class="input-field col s6">
          <%= f.select :probability, options_for_select(["Probability", "High", "Medium", "Low"],
              disabled: "Probability", selected: f.object.probability || "Probability" ), {} %>
        </div>
      </div>
  
  
      <div class="row">
        <%= render partial: 'shared/material_date_cols6', locals: { field: "reminder", f: f, name: "Set Reminder", value: @enquiry.reminder } %>
        
        <% if !itinerary_has_been_created %>
          <div class="input-field col s6">
            <%= f.select :stage, options_for_select(["New Enquiry", "Open", "In Progress", "Closed"], @enquiry.stage ) %>
          </div>
        <% end %>
      </div>

    
      <div class="row">
        <%= render partial: 'shared/material_textareafield_cols12', locals: { field: "background_info", f: f, name: "Additional Details", length: "180"} %>
      </div>
      
       <div class="row">
        <%= render partial: 'shared/material_textfield_cols12', locals: { field: "campaign", f: f, name: "Advertising Campaign"} %>
      </div>
 
      <div class="row">
        <% if current_user.management? %>
          <div class="input-field col s6">
            <%= f.select(:assigned_to, options_for_select([[f.object.assigned_to_name, f.object.assigned_to_id]],f.object.assigned_to_id),{},{class: "select2-users browser-default"}) %>
            <%= f.label :assigned_to, "Assign To",  class: 'active' %>
          </div>
        <% else %>
          <%= render partial: 'shared/material_readonly', locals: { col: "s6", label: "Assigned To", value: f.object.assigned_to_name, class_for_input: ""  } %>
          <%= f.hidden_field :assigned_to, value: f.object.assigned_to_id %>
        <% end %>
      </div>
    </div>

  <div class="row">
    <div class="input-field col s12">
        <%= button_tag( :class => "btn waves-effect waves-light right") do %>
          <%= buttontxt %><i class="mdi-content-send right"></i>
        <% end %>
    </div>
  </div>
   
  <% end %>


  <div class="input-field col s12">
    <% if @enquiry.persisted? && !itinerary_has_been_created %>
      <%=  form_tag({controller: "itineraries", action: "new"}, method: "get") do %>
        <%= hidden_field_tag :enquiry_id, '', :value => @enquiry.id %>
        <%= button_tag( "Create Quote", :class => "btn waves-effect waves-light right purple") %>
      <% end %>
    <% elsif @enquiry.persisted? && itinerary_has_been_created %>
        <% @enquiry.itineraries.each do |itin| %>
        <a href="<%= edit_itinerary_path itin %>"  class="waves-effect waves-light btn right deep-purple darken-1" >Edit Itinerary # <%=itin.id %></a><br>
        <% end %>
    <% end %>
  </div>
     
  <div id="cust_search_modal" class="modal">
    <div class="modal-content">
      <h4>Search for customer</h4>
       <div class="section">
        <div class="row">
          <div class="col s12 m12 l12">
            <div class ="card-panel">
            <div class="row">
              <div class="input-field col s6">
                <%= select_tag(:customer_id, options_for_select([[]],''),{class: "select2-customers browser-default", :style => "width:350px"}) %>
                <label for="customer_id" class="active">Customers</label>
              </div>
              
               <%= button_tag( :class => "btn cyan waves-effect waves-light right", id: "customer_search_enquiry" ) do %>
                 Select Customer
              <% end %>
              
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>




