
<% if  @enquiry.errors.any? %>
  <% custNum = params[:existing_customer] %>
  <% custName = Customer.find(custNum).fullname unless custNum.blank? %>
  <input type='hidden' name='input' id='test' style='width:300px;' data-init-text='<%= custName %>' value= '<%= custNum.to_s %>' >

<% end %>
<%
  if params[:user_type] == "New"
     newCustDisplay = "display:block;"
     existCustDisplay = "display:none;"
   elsif params[:user_type] == "Existing"
     newCustDisplay = "display:none;"
     existCustDisplay = "display:block;"
   else
     newCustDisplay = "display:block;"
     existCustDisplay = "display:none;"
  end
  @enquiry.assigned_to ? ass_user = @enquiry.assigned_to : ass_user = current_user.id

  if params[:existing_customer] && params[:existing_customer] > '0' then
     existCust = Customer.find(params[:existing_customer]).first_name + " " + Customer.find(params[:existing_customer]).last_name
  end
%>

  <div class="row">

  <%= form_for @enquiry, :html => {:multipart => true, :class => "col s12"} do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>
	 
	  <%= f.hidden_field :user_id, :value => current_user.id %>
	  
	  <div class ="card-panel">
	    <div id="customers">
	      <h4 class="header2">Customer Details</h4>
	      
    	  <%= f.fields_for :customers, :html => {:class => "form-horizontal"}  do |c| %>
    	    <div class="row">
      	  <%= render partial: 'shared/customer', locals: { f: c } %>
      	  </div>
        <% end %>
 
  	    <div class="links">
            <div class="row"><div class="input-field col s1 offset-s11">
            <%= link_to_add_association  f, :customers, {partial: 'shared/customer', class: "btn-floating btn-small waves-effect waves-light green"} do %>
              <i class="mdi-content-add"></i>
            <% end %>
            </div></div>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s6">
          <%= hidden_field(:enquiry, :agent_id, id: 'agent_select', class: 'select2 ajax', style: 'width: 100%;' ) %>
          <%= f.label :agent_id, "Agent",  class: 'active' %>
        </div>
      </div>
    </div>
      
    <div class ="card-panel">
      <h4 class="header2">Enquiry Details</h4>
      
      <div class="row">
        <%= render partial: 'shared/material_textfield_cols12', locals: { field: "name", f: f, name: "Enquiry Name"} %>
      </div>

      <div class="row">
        <%= render partial: 'shared/material_date_cols6', locals: { field: "est_date", f: f, name: "Departure Date", value: (@enquiry.est_date.strftime("%Y/%m/%d") unless @enquiry.est_date.nil?) } %>
        <%= render partial: 'shared/material_date_cols6', locals: { field: "fin_date", f: f, name: "Return Date", value: (@enquiry.fin_date.strftime("%Y/%m/%d") unless @enquiry.fin_date.nil?) } %>
      </div>
      
      <div class="row">
        <div class="input-field col s6">
          <%= f.select :standard, options_for_select(["Budget", "Comfort", "Superior", "Deluxe", "Boutique"].
               insert(0, "Select a class"), @enquiry.standard ), {} %>
        </div>
        <%= render partial: 'shared/material_textfield_cols6', locals: { field: "num_people", f: f, name: "Number Traveling" } %>
      </div>

      <p>
        <%= f.check_box :insurance, class: "filled-in" %>
        <%= f.label :insurance, "Insurance Required"  %>
      </p>

  
      <div class="row">
         <%= render partial: 'shared/material_textfield_cols6', locals: { field: "amount", f: f, name: "Booking Value"} %>
         
        <div class="input-field col s6">
          <%= f.select :probability, options_for_select(["High", "Medium", "Low"].
               insert(0, "Select a probability"), @enquiry.probability ), {} %>
        </div>
      </div>
  
      <div class="row">
        <%= render partial: 'shared/material_date_cols6', locals: { field: "reminder", f: f, name: "Set Reminder" } %>
        
        <div class="input-field col s6">
          <%= f.select :stage, options_for_select(["New Enquiry", "Open", "In Progress", "Closed"], @enquiry.stage ) %>
        </div>
      </div>

    
      <div class="row">
        <div class="input-field col s12">
          <%= f.text_area :background_info, class: "materialize-textarea", length: "120" %>
          <%= f.label :background_info, "Additional Details" %>
        </div>
      </div>
 
      <div class="row">
        <div class="input-field col s6">
          <%= hidden_field_tag(:assigned_to, ass_user, id: 'usersearch', class: 'ajax', style: 'width: 100%;') %>
          <%= f.label :assigned_to, "Assign To", class: 'active'  %>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s6">
            <%= button_tag( :class => "btn cyan waves-effect waves-light right") do %>
              <%= buttontxt %><i class="mdi-content-send right"></i>
            <% end %>
        </div>
      </div>
    </div>
  <% end %>
    

</div>




