<% provide(:title, @enquiry.name ) %>

<div class="row">
  <aside class="col-lg-12">
    <section>
      <h1 class="page-header" >Enquiry Details</h1>

       <div class="row">
        <div class="col-lg-6">     
          <div class="row">
            <div class="col-lg-9 profile-name">
              <h2><%= @enquiry.name %></h2>
              <%= link_to edit_enquiry_path(@enquiry) do %>
                <i class="fa fa-pencil editicon"></i>
              <% end %>   
            </div>
          </div>
          <ul class="row profile-details">
            <% if @enquiry.customers.empty? %>
              <li class="col-lg-3 col-md-3 col-sm-3 col-md-5 col-sm-5 profile-details-field">Customer</li>
              <li class="col-lg-9 col-md-9 col-sm-9">None assigned</li>
            <% else %>
            <% @enquiry.customers.each do |e| %>
              <li class="col-lg-3 col-md-3 col-sm-3 col-md-5 col-sm-5 profile-details-field">Customer</li>
            <li class="col-lg-9 col-md-9 col-sm-9"><a href=<%= customer_path e %>><%= e.fullname %></a></li>
              <% end %>
            <% end %> 
            
            <li class="col-lg-3 col-md-3 col-sm-3 profile-details-field">Assigned To</li>
            <li class="col-lg-9 col-md-9 col-sm-9"><%= value_or_dash( @enquiry.assigned_to_name )%></li>
            <li class="col-lg-3 col-md-3 col-sm-3 profile-details-field">Booking Value</li>
            <li class="col-lg-9 col-md-9 col-sm-9"><%= value_or_dash( number_to_currency(@enquiry.amount, precision: 0) ) %></li>
            <li class="col-lg-3 col-md-3 col-sm-3 profile-details-field">Est Start Date</li>
            <li class="col-lg-9 col-md-9 col-sm-9"><%= value_or_dash( (@enquiry.est_date.strftime("%d/%m/%Y") unless @enquiry.est_date.nil?) ) %></li>
            <li class="col-lg-3 col-md-3 col-sm-3 profile-details-field">Est End Date</li>
            <li class="col-lg-9 col-md-9 col-sm-9"><%= value_or_dash( (@enquiry.fin_date.strftime("%d/%m/%Y") unless @enquiry.fin_date.nil?) ) %></li>
            <li class="col-lg-3 col-md-3 col-sm-3 profile-details-field">Est Duration</li>
            <li class="col-lg-9 col-md-9 col-sm-9"><%= value_or_dash( @enquiry.duration ) %></li>
            <li class="col-lg-3 col-md-3 col-sm-3 profile-details-field">Number of People</li>
            <li class="col-lg-9 col-md-9 col-sm-9"><%= value_or_dash( @enquiry.num_people )  %></li>
            <li class="col-lg-3 col-md-3 col-sm-3 profile-details-field">Lead Status</li>
            <li class="col-lg-9 col-md-9 col-sm-9"><%= value_or_dash( @enquiry.stage ) %></li>
            <li class="col-lg-3 col-md-3 col-sm-3 profile-details-field">Source</li>
            <li class="col-lg-9 col-md-9 col-sm-9"><%= value_or_dash( @enquiry.source )  %></li>
            <li class="col-lg-3 col-md-3 col-sm-3 profile-details-field">Background Info</li>
            <li class="col-lg-9 col-md-9 col-sm-9"><%= value_or_dash( @enquiry.background_info ) %></li>
            <li class="col-lg-3 col-md-3 col-sm-3 profile-details-field">Created</li>
            <li class="col-lg-9 col-md-9 col-sm-9"><%= value_or_dash( @enquiry.created_at.to_formatted_s(:rfc822) ) %></li>
            <li class="col-lg-3 col-md-3 col-sm-3 profile-details-field">Created By</li>
            <li class="col-lg-9 col-md-9 col-sm-9"><%= value_or_dash( @enquiry.created_by_name ) %></li>
          </ul>
          <div class="row">
            <div class="col-lg-6">     
            <%=  form_tag({controller: "enquiries", action: "addbooking"}, method: "get", class: "form-horizontal") do %>
            <%= hidden_field_tag :id, '', :value => @enquiry.id %>
            <%= submit_tag "Convert to booking", class: "btn btn-primary" %>   
            <% end %>
            </div>  
          </div>     
        </div>   

        <div class="col-lg-6 details-activity">
          <h3>Activity Stream</h3>

          <div class="timeline-centered">        
            <%# @customer.activities.reverse_each do |act| %>
             <% @activities.reverse_each do |act| %>
              <%= render partial: 'timeline', locals: { activity: act } %>
            <% end %>  
            
            <article class="timeline-entry begin">
            <div class="timeline-entry-inner">
              <div class="timeline-icon" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);">
                <i class="entypo-flight"></i> +
              </div>
            </div>
            </article>
          </div> 
          
          <ul class="pagination">
            <%= will_paginate  @activities, :container => false %>
          </ul>
        
          <div class="well well-sm">
            <h4>Add a Note</h4>
            <%#= form_for @customer, url: addnote_customers_path, :html => {:multipart => true, :class => "form-horizontal"} do |f| %>
              <%=  form_tag({controller: "enquiries", action: "addnote"}, method: "get", class: "form-horizontal") do %>
              <%= text_area_tag :note, nil, rows: "5", class: "form-control" %>
              <%= hidden_field_tag :type, '', :value => "Note" %>
              <%= hidden_field_tag :id, '', :value => @enquiry.id %>
              <%= submit_tag "Add a note", class: "btn btn-primary add-note" %>      
              <div class="clearfix"></div>
              <% end %>
          </div>
            <!-- /well -->
          <div class="activity"></div>
            <!-- /activity --> 
            <% if current_user.admin? %>
            <%= link_to "Delete " + @enquiry.name, @enquiry, method: :delete, data: { confirm: "You sure?" } %>
             <!-- next line commented out as was causing errors in Heroku --> 
            <%#= render "versions/versions", :object => @enquiry %>
            <% end %>
            <br> 
        </div>       
      </div>
    </section>
  </aside> 
</div>

