<% provide(:title, 'Edit Enquiry') %>
<h1 class="page-header">Edit an Enquiry</h1>
<%  params[:user_type] = "Existing" %>
<%  params[:existing_customer] = @enquiry.customers.first.id.to_s unless @enquiry.customers.empty? %>

<%= render 'form' %>


<!-- 
<% 
if @enquiry.new_record? 
  duration = "1 Week"
  source = "Phone"
  stage = "New"
else
  duration = @enquiry.duration
  source = @enquiry.source
  stage = @enquiry.stage
end
%>
<h1>Edit Enquiry</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for @enquiry, :html => {:multipart => true} do |f| %>
	    <%= render 'shared/error_messages', object: f.object %>
    
      <%= f.label :name, "Enquiry Name" %>
      <%= f.text_field :name %>
      <%= f.label :source %>
      <%= f.select :source, options_for_select(["Phone", "Web", "Email", "Walk in"], source) %>	  
      <%= f.label :duration, "Trip Duration" %>
      <%= f.select :duration, options_for_select(["1 Week", "2 Weeks", "3 Weeks", "1 Month"], duration) %>
      <%= f.label :est_date, "Est. Travel Date" %>
      <%= f.date_field :est_date %>	  
      <%= f.label :num_people, "Number of People" %>
      <%= f.text_field :num_people %>	  
      <%= f.label :amount, "Amount $" %>
      <%= f.text_field :amount %>   	  
      <%= f.label :probability , "Probability %" %>
      <%= f.text_field :probability %>
      <%= f.label :discount, "Discount $" %>
      <%= f.text_field :discount %>
      <%= f.label :stage, "Status"%>
      <%= f.select :stage, options_for_select(["New", "On going", "Closed"], stage) %>	  
      <%= f.label :percent, "Percent Complete"%>
      <%= f.text_field :percent %>	 	  
      <%= f.label :background_info, "Additional Info" %>
      <%= f.text_field :background_info %>  
	  
      <%= f.label :assigned_to, "Assign To"  %>
      <%= f.collection_select :assigned_to, User.order(:name), :id, :name, include_blank: true %>   
      <%= f.label :created_by_name, "Created By"  %>
      <%= f.text_field :created_by_name, :readonly => true %>     
    <%= f.label :customer_ids, "Customer"  %>
      <%#= f.collection_select :customers,  Customer.order(:last_name), :id, :last_name, include_blank: true %>   
    <%= f.select :customer_ids, Customer.all.collect {|x| [x.first_name + " " + x.last_name, x.id]}, {}, :multiple => true %>
    
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
 -->