<% provide(:title, 'All Enquiries') %>
<h4>All Enquiries</h4>
<div id="table-datatables">
 <div class="row">
    <div class="col s12 m12 l12">
      <table id="data-table-simple" class="responsive-table display" >
        <thead>
          <tr>
            <th>Enquiry</th>
            <th>Customer Name</th>
            <th>Email</th>
            <th>Date Added</th>
            <th>Phone</th>
            <th>Assigned To</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @enquiries.each do |enquiry| %>
          <tr>
            <td><%= link_to(enquiry.name, enquiry) %></td>
            <td><%= link_to(enquiry.dasboard_customer_name, enquiry.first_customer) %></td>
            <td><%= enquiry.customer_email %></td>
            <td><%= enquiry.created_at.strftime("%d/%m/%Y") %></td>
            <td><%= enquiry.customer_phone %></td>
            <td><%= enquiry.assigned_to_name %></td>
            <td><%= enquiry.stage %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
       
      <!-- <%= will_paginate %>
      <ul class="users">
      	<%= render @enquiries  %>
      </ul>
      <%= will_paginate %> -->
    </div>
  </div>
</div>