<% provide(:title, 'All Enquiries') %>
<h1 class="page-header">All Enquiries</h1>

<p><strong>Create new <%= link_to "Enquiry", new_enquiry_path %></strong></p>


<table id="customers" class="table table-striped table-bordered table-hover" >
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Date Added</th>
      <th>Phone</th>
      <th>Assigned To</th>
      <th>Enquiry</th>
    </tr>
  </thead>
  <tbody>
    <% @enquiries.each do |enquiry| %>
    <tr>
      <td><%= link_to(enquiry.dasboard_customer_name, enquiry) %></td>
      <td><%= enquiry.customer_email %></td>
      <td><%= enquiry.created_at.strftime("%m/%d/%Y") %></td>
      <td><%= enquiry.customer_phone %></td>
      <td><%= enquiry.assigned_to_name %></td>
      <td><%= enquiry.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>


<!-- <%= will_paginate %>

<ul class="users">
	<%= render @enquiries  %>
</ul>

<%= will_paginate %> -->