<% provide(:title, 'Create Enquiry') %>
<h1>Create a Enquiry</h1>
<% if  @enquiry.errors.any? %>
  <% custNum = params[:existing_customer] %>
  <% custName = Customer.find(custNum).fullname unless custNum.blank? %>
  <input type='hidden' name='input' id='test' style='width:300px;' data-init-text='<%= custName %>' value= '<%= custNum.to_s %>' > 
<% end %>

<% 
  if params[:user_type] == "New"  
     newCustDisplay = "display:block;"
     existCustDisplay = "display:none;"
   elsif params[:user_type] == "Existing" 
     newCustDisplay = "display:none;" 
     existCustDisplay = "display:block;"
   else
     newCustDisplay = "display:block;" 
     existCustDisplay = "display:none;"
  end 
  if params[:assigned_to] && params[:assigned_to] > '0' then 
    #existUser = User.find(params[:assigned_to]).name
  else
    existUser = current_user.name
  end
    
   if params[:existing_customer] && params[:existing_customer] > '0' then 
     existCust = Customer.find(params[:existing_customer]).first_name + " " + Customer.find(params[:existing_customer]).last_name 
  end   
%>

    <%= form_for @enquiry, :html => {:multipart => true, :class => "form-horizontal"} do |f| %>
	    <%= render 'shared/error_messages', object: f.object %>
      <div class="form-group">
        <%= f.label :name, "Enquiry Name", class: "col-sm-3 control-label"  %>
        <div class="col-sm-6">
          <%= f.text_field :name, class: "form-control", placeholder: "Enquiry Name" %>
        </div>
      </div>

 <!-- radio buttons to dynamically display/hide the fields for the New and Existing customers -->  
    <div class="form-group">
      <%= label_tag :user_type, "Add Customer", class: "col-sm-3 control-label" %>
      <div class="col-sm-1">
        <label class="radio-inline">  
          <%= radio_button_tag :user_type, "New",  (params[:user_type].blank? || (params[:user_type] == "New")), class: "new_fields form-control"  %> 
          New 
        </label>   
      </div>
      <div class="col-sm-1">
        <label class="radio-inline">     
          <%= radio_button_tag :user_type, "Existing", (params[:user_type] == "Existing"), class: "existing_fields form-control" %> 
          Existing
        </label>   
      </div>
    </div>      
    <!-- End dynamic display radio buttons --> 

    <div class="form-group">
      <%= f.label :stage, "Lead Status", class: "col-sm-3 control-label"%>
      <div class="col-sm-2">
        <%= f.select :stage, options_for_select(["Open", "In Progress", "Closed"], @enquiry.stage ), {}, class: 'form-control' %>	  
      </div>      
      <%= f.label :source, class: "col-sm-1 control-label" %>
      <div class="col-sm-2">
        <%= f.select :source, options_for_select(["Phone", "Web", "Email", "Walk in"], @enquiry.source ), {}, class: 'form-control'  %>	 
      </div>
    </div>

    <!-- Search fields displayed when Existing customer to be entered --> 
    <div id="existing_fields" style='<%= existCustDisplay %>'>
      <div class="form-group">
      <%= f.label :existing_customer, "Existing Customer", class: "col-sm-3 control-label" %>
        <div class="col-sm-5">
          <%= hidden_field_tag(:existing_customer, existCust, id: 'res_select', class: 'ajax form-control', style: 'width: 100%;',
                                data: { source: customersearch_enquiries_path, placeholder: 'Search for a name' } ) %>
        </div>
      </div>
    </div>
   
    <!-- Fields displayed when NEW CUSTOMER to be entered    --> 
    <div id="new_fields" style='<%= newCustDisplay %>' >
	    <%= f.fields_for :customers, :html => {:class => "form-horizontal"}  do |c| %>
      <div class="form-group">
        <%= c.label :name, "Name", class: "col-sm-3 control-label" %> 
          <div class="col-sm-4">
            <%= c.text_field :first_name, class: "form-control", placeholder: "First Name" %>
          </div> 
          <div class="col-sm-4">             
            <%= c.text_field :last_name, class: "form-control", placeholder: "Last Name" %>        
          </div>
      </div>
      
      <div class="form-group">
        <%= c.label :email, class: "col-sm-3 control-label"  %> 
        <div class="col-sm-8">
          <%= c.text_field :email, class: "form-control" %>         
        </div>  
      </div>
      
      <% f.fields_for :address do |builder| %>
        <div class="form-group"> 
          <%= builder.label :street1, "Street",  class: "col-sm-3 control-label"  %> 
          <div class="col-sm-7">
            <%= builder.text_field :street1, class: "form-control" %>  
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-3">
            <%= builder.text_field :city, class: "form-control", placeholder: "City" %>  
          </div>
          <div class="col-sm-3">
            <%= builder.text_field :state, class: "form-control", placeholder: "State" %>  
          </div> 
          <div class="col-sm-3">
            <%= builder.text_field :zip,  class: "form-control", placeholder: "Zip/Postal Code" %>  
          </div> 
        </div>
      <% end %>
      
      <div class="form-group">
        <%= c.label :mobile, "Phone", class: "col-sm-3 control-label"  %> 
          <div class="col-sm-3">
            <%= c.text_field :mobile, class: "form-control", placeholder: "Mobile" %>  
          </div>
          <div class="col-sm-3">
            <%= c.text_field :phone, class: "form-control", placeholder: "Other" %>  
          </div> 
      </div>
      
     <div class="form-group"> 
        <%= c.label :title, class: "col-sm-3 control-label" %> 
        <div class="col-sm-7">
        <%= c.text_field :title, class: "form-control" %>  
        </div>
      </div>
      <% end %>	 
    </div>
    <!-- End NEW CUSTOMER --> 

    <!-- To/From Dates -->
    <div class="form-group">
      <%= f.label :est_date, "Travel From", class: "col-sm-3 control-label" %>
      <div class="col-sm-2">
        <div class="form-group">
          <div class='input-group date' id='datetimepicker1' >
            <%= f.text_field :est_date, class: "form-control" %>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
          </div>                            
        </div>
      <%= f.label :fin_date, "To", class: "col-sm-1 control-label" %>
      <div class="col-sm-2">
        <div class="form-group">
          <div class='input-group date'id='datetimepicker2' >
             <%= f.text_field :fin_date, class: "form-control" %>	  
             <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
          </div>
        </div>            
      </div>
    </div>

    <div class="form-group">
      <%= f.label :num_people, "Pax", class: "col-sm-3 control-label" %>
      <div class="col-sm-2">
        <%= f.select :num_people, options_for_select(["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"], @enquiry.num_people ), {}, class: 'form-control' %>   
      </div>
      <%= f.label :standard, class: "col-sm-1 control-label" %>
      <div class="col-sm-2">
        <%= f.select :standard, options_for_select(["Luxury", "Superior", "Standard", "Basic"], @enquiry.standard ), {}, class: 'form-control' %>   
      </div>
    </div>
    <div class="form-group">
      <%= f.label :background_info, "Additional Info", class: "col-sm-3 control-label" %>
      <div class="col-sm-6">
        <%= f.text_area :background_info, rows: "3", class: "form-control" %>    
      </div>
    </div>

    <div class="form-group">
      <%= f.label :destinations, "Destinations", class: "col-sm-3 control-label"  %>
      <div class="col-sm-6">
        <%= f.text_field :destinations, class: "form-control tags", placeholder: "Add Destinations" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :stopovers, "Stopovers", class: "col-sm-3 control-label"  %>
      <div class="col-sm-6">
        <%= f.text_field :stopovers, class: "form-control tags", placeholder: "Add Stopovers" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :carriers, "Preferred Carriers", class: "col-sm-3 control-label"  %>
      <div class="col-sm-6">
        <%= f.text_field :carriers, class: "form-control", placeholder: "Add Carrier", id: "carriers" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :insurance, class: "col-sm-3 control-label"  %>
      <div class="col-sm-2">
        <label class="checkbox-inline">  
        <%= f.check_box :insurance, class: "form-control" %> 
        </label>
        <p class="checkbox-inline">Required</p>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :amount, "Booking Value", class: "col-sm-3 control-label"  %>
      <div class="col-sm-2">
        <%= f.text_field :amount, class: "form-control", placeholder: "$0.00" %>
      </div>
      <%= f.label :probability, class: "col-sm-1 control-label"  %>
      <div class="col-sm-2">
        <%= f.select :probability, options_for_select(["High", "Medium", "Low"], @enquiry.probability ), {}, class: 'form-control' %>   
      </div>
    </div>

    <div class="form-group">
      <%= f.label :assigned_to, "Assign To", class: "col-sm-3 control-label"  %>
        <div class="col-sm-2">
          <%= hidden_field_tag(:assigned_to, existUser, id: 'usersearch', class: 'ajax form-control', style: 'width: 100%;',
                           data: { source: customersearch_enquiries_path, placeholder: 'Search for a name' }) %>
        </div>   
    </div>

    <div class="form-group">   
      <%= f.label :reminder, "Set Reminder", class: "col-sm-3 control-label"   %>
      <div class="col-sm-2">
        <div class="form-group">
          <div class='input-group date'>
            <%= f.text_field :reminder, class: "form-control"%>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
          </div>                      
      </div>
    </div>


      <%#= f.label :percent, "Percent Complete"%>
      <%#= f.text_field :percent, class: "form-control" %>		  
 
      <%= f.hidden_field :user_id, :value => current_user.id %>

      <%= f.submit "Create a Enquiry", class: "btn btn-large btn-primary" %>
    <% end %>
