<% provide(:title, 'Create Enquiry') %>
<h1>Create a Enquiry</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for @enquiry, :html => {:multipart => true} do |f| %>
	    <%= render 'shared/error_messages', object: f.object %>
    
      <%= f.label :name, "Enquiry Name" %>
      <%= f.text_field :name %>
      <%= f.label :source %>
      <%= f.select :source, options_for_select(["Phone", "Web", "Email", "Walk in"], "Phone") %>	 

	    <%= f.fields_for :customers do |c| %>
        <%= c.label :first_name %> 
        <%= c.text_field :first_name %>
        <%= c.label :last_name %> 
        <%= c.text_field :last_name %>        
        <%= c.label :title %> 
        <%= c.text_field :title %>  
        <%= c.label :phone %> 
        <%= c.text_field :phone %>  
        <%= c.label :email %> 
        <%= c.text_field :email %>         
      <% end %>	 
	  
      <%= f.label :duration, "Trip Duration" %>
      <%= f.select :duration, options_for_select(["1 Week", "2 Weeks", "3 Weeks", "1 Month"]) %>
      <%= f.label :est_date, "Est. Travel Date" %>
      <%= f.date_field :est_date %>	  
      <%= f.label :num_people, "Number of People" %>
      <%= f.text_field :num_people %>	  
      <%= f.label :amount, "Amount $" %>
      <%= f.text_field :amount %>   	  
      <%= f.label :probability , "Probability %" %>
      <%= f.text_field :probability %>
      <%= f.label :discount, "Discount $" %>
      <%= f.text_field :discount %>
      <%= f.label :stage, "Status"%>
      <%= f.select :stage, options_for_select(["New", "On going", "Closed"], "New") %>	  
      <%= f.label :percent, "Percent Complete"%>
      <%= f.text_field :percent %>		  
      <%= f.label :background_info, "Additional Info" %>
      <%= f.text_field :background_info %>     
      <% if current_user.admin %>
        <%= f.label :assigned_to, "Assign To"  %>  
        <%= f.collection_select :assigned_to, User.order(:name),:id, :name, include_blank: true %>
	  <% else %>
	    <%= f.hidden_field :assigned_to, :value => current_user.id %>
      <% end %>
      <%= f.hidden_field :user_id, :value => current_user.id %>

      <%= f.submit "Create a Enquiry", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>