<% provide(:title, @enquiry.name ) %>
<div class="row">
  <aside>
    <section>
      <h1>
        <%= @enquiry.name %>
.      </h1>
      
      <br>
      <%= link_to "Edit " + @enquiry.name , edit_enquiry_path(@enquiry) %>      
      <br>
      <br>
      <h2 text-align="left">
        <table>
        <% if @enquiry.assignee %>
          <tr><td style="width:150px"> Assigned To</td><td> <%= link_to @enquiry.assigned_to_name, @enquiry.assignee %> </td> </tr>
        <% else %>  
          <tr><td style="width:150px"> Assigned To</td><td></td> </tr>
        <% end %>
          
        <tr><td> Amount </td><td> <%= number_to_currency(@enquiry.amount, precision: 0) %> </td></tr>	 	  
        <tr><td> Estimated Duration </td><td> <%= @enquiry.duration %> </td></tr>
	    	<tr><td> Estimated Start Date </td><td> <%= @enquiry.closes_on.blank? ? '' : @enquiry.est_date.strftime("%m/%d/%Y") %> </td></tr>
        <tr><td> Probability </td><td> <%= @enquiry.probability %> % </td></tr>	
		    <tr><td> Number of People </td><td> <%= @enquiry.num_people %> </td></tr>	
        <tr><td> Status </td><td> <%= @enquiry.stage %> </td></tr>
		    <tr><td> Percentage Complete </td><td> <%= @enquiry.percent %> % </td></tr>
        <tr><td> Source </td><td> <%= @enquiry.source %> </td></tr>
        <% @enquiry.customers.each do |customer| %>
          <tr><td> Customer</td><td> <%= customer.fullname %> </td></tr>
        <% end %>  
        <tr><td> Discount </td><td> <%= number_to_currency(@enquiry.discount, precision: 0)  %> </td></tr>
        <tr><td> Closes On </td><td> <%= @enquiry.closes_on.blank? ? '' : @enquiry.closes_on.strftime("%m/%d/%Y") %> </td></tr>
        <tr><td> Background Info </td><td> <%= @enquiry.background_info %> </td></tr>
        <tr><td> Created </td><td> <%= @enquiry.created_at.strftime("%m/%d/%Y") %> </td></tr>
        <tr><td> Created By </td><td> <%= @enquiry.created_by_name %> </td> </tr>
        </table>
      </h2>
      <br>
      
      <% if current_user.admin? %>
      <%= link_to "Delete " + @enquiry.name, @enquiry, method: :delete, data: { confirm: "You sure?" } %>
      <% end %>
      <br>
      <%= render "versions/versions", :object => @enquiry %>
    </section>
  </aside> 
</div>