<header id="header" class="page-topbar">
<div class="navbar-fixed">

  <ul id="dropdown1" class="dropdown-content">
    <li>
    <a href=<%= user_path(current_user) %>><i class="mdi-action-face-unlock"></i> Profile</a>
    </li>
    <li
    ><a href=<%= edit_user_path(current_user) %>><i class="mdi-action-settings"></i> Settings</a>
    </li>
    <li class="divider"></li>
    <li>
    <%= link_to signout_path, method: :delete do %><i class="mdi-hardware-keyboard-tab"></i> Logout<%end%>
    </li>
  </ul>
          
  <nav class="teal">
    <div class="nav-wrapper">
      <h1 class="logo-wrapper">
        <a href="/dashboard" class="brand-logo darken-1"><img src=<%= asset_path('rocketTrip-logo.png') %> alt="materialize logo"></a><span class="logo-text">Rocket Trip</span>
      </h1>
      
      <ul class="right hide-on-med-and-down">
        <li>
          <a href=<%= dashboard_path(:remindersOnly => "y")%> class="waves-effect waves-block waves-light">
            <i class="mdi-social-notifications"></i><%= current_user.getRemindersDueCount.to_s %>
          </a>
        </li>
    
        <li>
          <a class="dropdown-button" href="#!" data-activates="dropdown1">Admin<i class="mdi-navigation-arrow-drop-down right"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>