<header id="header" class="page-topbar">
<div class="navbar-fixed">
  <nav class="teal">
    <div class="nav-wrapper">
      <h1 class="logo-wrapper">
        <a href="/dashboard" class="brand-logo darken-1"><img src=<%= asset_path('rocketTrip-logo.png') %> alt="materialize logo"></a>
      </h1>
      
      <ul class="right hide-on-med-and-down">
        <li>
          <a href=<%= dashboard_path(:remindersOnly => "y")%> class="waves-effect waves-block waves-light">
            <i class="mdi-social-notifications"></i><%= current_user.getRemindersDueCount.to_s %>
          </a>
        </li>
    
  <!--  OLD notification drop down
        <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <%= current_user.getRemindersDueCount.to_s %> <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i> </a>
          <ul class="dropdown-menu dropdown-alerts">
            <li> <a href= <%= dashboard_path(:remindersOnly => "y") %> >
              <div> <i class="fa fa-bell fa-fw"></i>  <%= current_user.getRemindersDueCount.to_s %> Enquiry Reminders Overdue</div>
              </a> </li>
            <li class="divider"></li>
            <li> <a href= <%= dashboard_path %> >
              <div> <i class="fa fa-bell-o fa-fw"></i>  <%= current_user.getEnquiriesOpenCount.to_s %> Enquiries Open</div>
              </a> </li>
          </ul>
        </li>
  -->
  
      
        <!-- OLD STUFF FOR USERS
        <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i> </a>
          <ul class="dropdown-menu dropdown-user">
            <li><a href= <%= user_path(current_user) %> ><i class="fa fa-user fa-fw"></i> User Profile</a> </li>
            <li><a href= <%= edit_user_path(current_user) %> ><i class="fa fa-gear fa-fw"></i> Settings</a> </li>
            <li class="divider"></li>
            <li><a data-method="delete" href= <%= signout_path %> ><i class="fa fa-sign-out fa-fw"></i> Logout</a> </li>
  
          </ul>
        </li>
        -->
        
      </ul>
    </div>
  </nav>
</header>