<aside id="left-sidenar-nav">
  <ul id="slide-out" class="side-nav fixed leftside-navigation ps-container ps-active-y" style="width: 240px;">
    <li class="bold"><a href="/dashboard" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Dashboard</a> </li>
    <li class="bold"><a href=<%= enquiries_path %> class="waves-effect waves-cyan"><i class="mdi-communication-email"></i> Enquiries <span class="new badge">4</span></a> </li>
    <li class="bold"><a href=<%= customers_path %> class="waves-effect waves-cyan"><i class="mdi-action-account-circle"></i> Customers</a> </li>
    <li class="bold"><a href=<%= suppliers_path %> class="waves-effect waves-cyan"><i class="mdi-action-account-circle"></i> Suppliers</a> </li>
    <li class="bold"><a href=<%= agents_path %> class="waves-effect waves-cyan"><i class="mdi-action-account-circle"></i> Agents</a> </li>
    <li class="bold"><a href="#" class="waves-effect waves-cyan"><i class="mdi-editor-insert-invitation"></i> Itineraries</a> </li>
    <li class="bold"><a href=<%= bookings_path %> class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-shopping-cart"></i> Bookings</a> </li>
    <li class="li-hover">
      <div class="divider"></div>
    </li>
    <li class="bold"><a href=<%= customers_path %> class="waves-effect waves-cyan"><i class="mdi-action-dns"></i> Products</a> </li>
    
    <% if current_user.admin? %>
      <li class="bold"><a href=<%= customers_path %> class="waves-effect waves-cyan"><i class="mdi-action-thumb-up"></i> Settings</a> </li>
      <li class="bold"><a href=<%= customers_path %> class="waves-effect waves-cyan"><i class="mdi-social-people"></i> Users</a> </li>
      <li class="bold"><a href=<%= customers_path %> class="waves-effect waves-cyan"><i class="mdi-social-pages"></i> Admin</a> </li>
    <% end %>
    
  </ul>
  <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only darken-2">
    <i class="mdi-navigation-menu"></i>
  </a>
</aside>
  