<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <%= render 'layouts/toastr_settings' %>
  </head>
  <body class="loaded">
    <%= render 'layouts/header' %>

    <div id="main">
      <div id="wrapper">
        <%= render 'layouts/navbar' %>
        <section id="content">
        <%= render 'layouts/breadcrumbs' %>
        
          <div class="container">
            <div class="section">
              <div class="row">
                
                <%= yield %>
                
                <% flash.each do |key, value| %>
                   <script type="text/javascript">
                      toastr.<%= raw(key.to_s) %>(<%= raw(value.inspect) %>)
                   </script>
                <% end %>
                <div class="col s12 m12 l12"><pre class="debug_dump">
                  <%= debug(params) if Rails.env.development? && !current_user.nil? && current_user.admin && current_user.name == "Hamish Gardiner" %>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div><!-- #wrapper -->
    </div><!-- #main -->
  </body>
  <script src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
</html>
