<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <%= render 'layouts/toastr_settings' %>
    
    <style type="text/css">
      html,
      body {
          height: 100%;
      }
      html {
          display: table;
          margin: auto;
      }
      body {
          display: table-cell;
          vertical-align: middle;
      }
    </style>
  </head>
  
  
  <body class="light-blue darken-2">
  
    <%= yield %>

    <%= debug(params) if Rails.env.development? && !current_user.nil? && current_user.management? && current_user.name == "Hamish Gardiner" %>

    
    <% flash.each do |key, value| %>
    <script type="text/javascript">
      toastr.<%= raw(key.to_s) %>(<%= raw(value.inspect) %>)
    </script>
    <% end %>
    
  </body>
</html>