<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    
    <style type="text/css">
      html,
      body {
          height: 100%;
      }
      html {
          display: table;
          margin: auto;
      }
      body {
          display: table-cell;
          vertical-align: middle;
      }
    </style>
  </head>
  <body class="teal">

    <%= yield %>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= raw(value) %></div>
    <% end %>

    <%= debug(params) if Rails.env.development? && !current_user.nil? && current_user.admin && current_user.name == "Hamish Gardiner" %>
  </body>
</html>